<div class="elementor elementor-homepage">
  <section class="elementor-section elementor-top-section elementor-element elementor-element-357a8b9 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle">
    <div class="elementor-container elementor-column-gap-default">
      <div 
        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e4e3063 animated fadeIn"
        data-settings='{"animation":"fadeIn"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-presentation-title elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h1 class="elementor-heading-title elementor-size-default">
                Dottore Commercialista 
                
                @if(revisoreLegaleFlag){
                  <br>& Revisore Legale
                }
              </h1>
            </div>
          </div>
          <div class="elementor-element elementor-element-presentation-subtitle elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h1 class="elementor-heading-title elementor-size-default adjust-iphone-letter-spacing">
                Aisia Autiero
              </h1>
            </div>
          </div>
          <div class="elementor-element elementor-element-presentation-description elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              <p>
                Commercialista
                <span class="color-primary">smart </span>
                è la miglior sintesi della mia personalità.
              </p>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-presentation-button elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button animated tada"
            data-settings='{"_animation":"tada","_animation_delay":200}'
          >
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a
                  class="elementor-button elementor-button-link elementor-size-md aSmoothScroll"
                  href="/#services"
                >
                  <span class="elementor-button-content-wrapper">
                    <span class="elementor-button-text"
                      >Scopri i miei servizi</span
                    >
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-presentation-button-secondary elementor-align-left elementor-widget__width-auto elementor-widget-mobile__width-inherit elementor-widget elementor-widget-button animated bounceIn"
            data-settings='{"_animation":"bounceIn","_animation_delay":200}'
          >
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a
                  class="elementor-button elementor-button-link elementor-size-sm"
                  routerLink="/chi-sono"
                >
                  <span class="elementor-button-content-wrapper">
                    <span
                      class="elementor-button-icon elementor-align-icon-right"
                    >
                      <i
                        aria-hidden="true"
                        class="fas fa-long-arrow-alt-right"
                      ></i>
                    </span>
                    <span class="elementor-button-text">Chi sono</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="elementor-element elementor-element-presentation-logo-image elementor-absolute elementor-widget elementor-widget-image">
            <div class="elementor-widget-container">
              <img
                decoding="async"
                width="512"
                height="512"
                src="../../../assets/logo/logo-bg-transparent-no-comm.png"
                class="attachment-large size-large wp-image-25 lazyload"
                alt="Aisia Autiero"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-341650d elementor-hidden-mobile">
        <div class="elementor-widget-wrap"></div>
      </div> -->
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-60a2639 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2981202"
        data-id="2981202"
        data-element_type="column"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-b644e97 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="b644e97"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-eec2f52 animated zoomIn"
                data-id="eec2f52"
                data-element_type="column"
                data-settings='{"animation":"zoomIn","background_background":"classic"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-f6e3754 elementor-widget__width-auto elementor-widget elementor-widget-heading"
                    data-id="f6e3754"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        <a href="/privati">Servizi per</a>
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-c323d33 elementor-widget__width-auto elementor-widget elementor-widget-heading"
                    data-id="c323d33"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        <a class="adjust-iphone-letter-spacing" href="/privati"
                          >Privati</a
                        >
                      </h2>
                    </div>
                  </div>
                </div>
              </div>

              <div
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-eec2f52 animated zoomIn"
                data-id="eec2f52"
                data-element_type="column"
                data-settings='{"animation":"zoomIn","background_background":"classic"}'
              >
                <div
                  class="elementor-widget-wrap elementor-element-populated no-border-radius bg-color-third"
                >
                  <div
                    class="elementor-element elementor-element-f6e3754 elementor-widget__width-auto elementor-widget elementor-widget-heading"
                    data-id="f6e3754"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        <a href="/partite-iva">Servizi per</a>
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-c323d33 elementor-widget__width-auto elementor-widget elementor-widget-heading"
                    data-id="c323d33"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        <a
                          class="adjust-iphone-letter-spacing"
                          href="/partite-iva"
                          >Partite Iva</a
                        >
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-26a5ee9 animated zoomIn"
                data-id="26a5ee9"
                data-element_type="column"
                data-settings='{"animation":"zoomIn","animation_delay":300,"background_background":"classic"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-96bddeb elementor-widget__width-auto elementor-widget elementor-widget-heading"
                    data-id="96bddeb"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        <a href="/aziende">Servizi per</a>
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-ef65519 elementor-widget__width-auto elementor-widget elementor-widget-heading"
                    data-id="ef65519"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        <a class="adjust-iphone-letter-spacing" href="/aziende"
                          >Aziende</a
                        >
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-70c990b5 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="70c990b5"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-no">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-42d622b8"
        data-id="42d622b8"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-3c562e1 elementor-widget elementor-widget-menu-anchor"
            data-id="3c562e1"
            data-element_type="widget"
            data-widget_type="menu-anchor.default"
          >
            <div class="elementor-widget-container">
              <div id="services" class="elementor-menu-anchor"></div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-e501729 elementor-widget elementor-widget-heading"
            data-id="e501729"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h1 class="elementor-heading-title elementor-size-default">
                Servizi
              </h1>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-56400498 elementor-widget elementor-widget-text-editor"
            data-id="56400498"
            data-element_type="widget"
            data-widget_type="text-editor.default"
          >
            <div class="elementor-widget-container">
              <p>
                Erogati per
                <span style="color: var(--e-global-color-primary)">privati</span
                >,
                <span style="color: var(--e-global-color-primary)"
                  >partite iva</span
                >
                e
                <span style="color: var(--e-global-color-primary)"
                  >aziende</span
                >
              </p>
            </div>
          </div>
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-3c29f48a elementor-section-full_width elementor-reverse-tablet elementor-section-height-default elementor-section-height-default"
            data-id="3c29f48a"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-no">
              <div
                class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-5a00c47f"
                data-id="5a00c47f"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-67f29ef7 elementor-position-top elementor-widget elementor-widget-image-box"
                    data-id="67f29ef7"
                    data-element_type="widget"
                    data-widget_type="image-box.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img">
                          <a href="/privati/" tabindex="-1"
                            ><img
                              decoding="async"
                              src="https://valentinafilippini.it/wp-content/uploads/2022/07/consulenza_del_lavoro.svg"
                              data-src="https://valentinafilippini.it/wp-content/uploads/2022/07/consulenza_del_lavoro.svg"
                              class="elementor-animation-grow attachment-full size-full wp-image-2785 ls-is-cached lazyloaded"
                              alt="" /><noscript
                              ><img
                                decoding="async"
                                src="https://valentinafilippini.it/wp-content/uploads/2022/07/consulenza_del_lavoro.svg"
                                class="elementor-animation-grow attachment-full size-full wp-image-2785 lazyload"
                                alt="" /></noscript
                          ></a>
                        </figure>
                        <div class="elementor-image-box-content">
                          <h4 class="elementor-image-box-title">
                            <a href="/privati/">CONSULENZA AI PRIVATI</a>
                          </h4>
                          <p class="elementor-image-box-description">
                            <a href="/privati/" class="btn-vf">Scopri di più</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-3a1210b5"
                data-id="3a1210b5"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-1885798 elementor-position-top elementor-widget elementor-widget-image-box"
                    data-id="1885798"
                    data-element_type="widget"
                    data-widget_type="image-box.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img">
                          <a href="/aziende/" tabindex="-1"
                            ><img
                              decoding="async"
                              src="https://valentinafilippini.it/wp-content/uploads/2022/07/collaboratori-domestici.svg"
                              data-src="https://valentinafilippini.it/wp-content/uploads/2022/07/collaboratori-domestici.svg"
                              class="elementor-animation-grow attachment-full size-full wp-image-3464 ls-is-cached lazyloaded"
                              alt="" /><noscript
                              ><img
                                decoding="async"
                                src="https://valentinafilippini.it/wp-content/uploads/2022/07/collaboratori-domestici.svg"
                                class="elementor-animation-grow attachment-full size-full wp-image-3464 lazyload"
                                alt="" /></noscript
                          ></a>
                        </figure>
                        <div class="elementor-image-box-content">
                          <h4 class="elementor-image-box-title">
                            <a href="/aziende/"
                              >GESTIONE COLLABORATORI DOMESTICI</a
                            >
                          </h4>
                          <p class="elementor-image-box-description">
                            <a href="/privati/" class="btn-vf">Scopri di più</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-427364d7"
                data-id="427364d7"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-1bd67bea elementor-position-top elementor-widget elementor-widget-image-box"
                    data-id="1bd67bea"
                    data-element_type="widget"
                    data-widget_type="image-box.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img">
                          <a href="/aziende/" tabindex="-1"
                            ><img
                              decoding="async"
                              src="https://valentinafilippini.it/wp-content/uploads/2022/07/elaborazione_paghe_e_contributi.svg"
                              data-src="https://valentinafilippini.it/wp-content/uploads/2022/07/elaborazione_paghe_e_contributi.svg"
                              class="elementor-animation-grow attachment-full size-full wp-image-2784 ls-is-cached lazyloaded"
                              alt="" /><noscript
                              ><img
                                decoding="async"
                                src="https://valentinafilippini.it/wp-content/uploads/2022/07/elaborazione_paghe_e_contributi.svg"
                                class="elementor-animation-grow attachment-full size-full wp-image-2784 lazyload"
                                alt="" /></noscript
                          ></a>
                        </figure>
                        <div class="elementor-image-box-content">
                          <h4 class="elementor-image-box-title">
                            <a href="/aziende/"
                              >ELABORAZIONE PAGHE E CONTRIBUTI</a
                            >
                          </h4>
                          <p class="elementor-image-box-description">
                            <a href="/aziende/" class="btn-vf">Scopri di più</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-6ffd5d88"
                data-id="6ffd5d88"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-33f5b66 elementor-position-top elementor-widget elementor-widget-image-box"
                    data-id="33f5b66"
                    data-element_type="widget"
                    data-widget_type="image-box.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-image-box-wrapper">
                        <figure class="elementor-image-box-img">
                          <a href="/aziende/" tabindex="-1"
                            ><img
                              decoding="async"
                              src="https://valentinafilippini.it/wp-content/uploads/2022/07/amministrazione_del_personale.svg"
                              data-src="https://valentinafilippini.it/wp-content/uploads/2022/07/amministrazione_del_personale.svg"
                              class="elementor-animation-grow attachment-full size-full wp-image-2782 ls-is-cached lazyloaded"
                              alt="" /><noscript
                              ><img
                                decoding="async"
                                src="https://valentinafilippini.it/wp-content/uploads/2022/07/amministrazione_del_personale.svg"
                                class="elementor-animation-grow attachment-full size-full wp-image-2782 lazyload"
                                alt="" /></noscript
                          ></a>
                        </figure>
                        <div class="elementor-image-box-content">
                          <h4 class="elementor-image-box-title">
                            <a href="/aziende/"
                              >AMMINISTRAZIONE DEL PERSONALE</a
                            >
                          </h4>
                          <p class="elementor-image-box-description">
                            <a href="/aziende/" class="btn-vf">Scopri di più</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-c39c947 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="c39c947"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7a93ae9"
        data-id="7a93ae9"
        data-element_type="column"
        data-settings='{"background_background":"gradient"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-ace7c9e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="ace7c9e"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                #citazioneContainer
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5331491 elementor-invisible"
                data-id="5331491"
                data-element_type="column"
                data-settings='{"animation":"slideInLeft"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-c06b3a5 elementor-widget elementor-widget-heading"
                    data-id="c06b3a5"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        La semplicità è la più grande sofisticatezza.
                      </h2>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-ea6f2f4 elementor-widget elementor-widget-heading"
                    data-id="ea6f2f4"
                    data-element_type="widget"
                    data-widget_type="heading.default"
                  >
                    <div class="elementor-widget-container">
                      <h2
                        class="elementor-heading-title elementor-size-default"
                      >
                        (Leonardo da Vinci)
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div
                #iconCitazioneContainer
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d52d68b elementor-hidden-mobile elementor-invisible"
                data-id="d52d68b"
                data-element_type="column"
                data-settings='{"animation":"slideInRight"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-2e53a6c elementor-widget elementor-widget-image"
                    data-id="2e53a6c"
                    data-element_type="widget"
                    data-widget_type="image.default"
                  >
                    <div class="elementor-widget-container">
                      <img
                        decoding="async"
                        width="1"
                        height="1"
                        src="https://valentinafilippini.it/wp-content/uploads/2022/07/elaborazione_contributi.svg"
                        data-src="https://valentinafilippini.it/wp-content/uploads/2022/07/elaborazione_contributi.svg"
                        class="attachment-large size-large wp-image-2783 ls-is-cached lazyloaded"
                        alt=""
                      /><noscript
                        ><img
                          decoding="async"
                          width="1"
                          height="1"
                          src="https://valentinafilippini.it/wp-content/uploads/2022/07/elaborazione_contributi.svg"
                          class="attachment-large size-large wp-image-2783 lazyload"
                          alt=""
                      /></noscript>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-5a6f92b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="5a6f92b"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                #citazioneDescriptionContainer
                class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-9955eda elementor-invisible"
                data-id="9955eda"
                data-element_type="column"
                data-settings='{"animation":"slideInLeft"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-3d601ce elementor-widget elementor-widget-text-editor"
                    data-id="3d601ce"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                      <p>
                        Viviamo in un mondo del lavoro frenetico che chiede
                        continue energie e nuove competenze.
                      </p>
                      <p>
                        Formazione costante e professionalità adeguata, sono
                        essenziali per un’amministrazione del personale semplice
                        ed efficace che va a beneficio dell’intera azienda.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section
    #lastArticlesSectionParent
    class="elementor-section elementor-top-section elementor-element elementor-element-7863ee6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
    data-id="7863ee6"
    data-element_type="section"
    data-settings='{"animation":"fadeIn"}'
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4663f6d"
        data-id="4663f6d"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-a0019d2 elementor-widget elementor-widget-template"
            data-id="a0019d2"
            data-element_type="widget"
            data-widget_type="template.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-template">
                <div
                  data-elementor-type="section"
                  data-elementor-id="122"
                  class="elementor elementor-122"
                  data-elementor-post-type="elementor_library"
                >
                  <section
                    #lastArticlesSection
                    class="elementor-section elementor-top-section elementor-element elementor-element-36895f3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
                    data-id="36895f3"
                    data-element_type="section"
                    data-settings='{"animation":"fadeIn"}'
                  >
                    <div
                      class="elementor-container elementor-column-gap-default"
                    >
                      <div
                        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-03a2165"
                        data-id="03a2165"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-widget-wrap elementor-element-populated"
                        >
                          <div
                            class="elementor-element elementor-element-8632e56 elementor-widget elementor-widget-heading"
                            data-id="8632e56"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <h2
                                class="elementor-heading-title elementor-size-default"
                              >
                                Ultimi articoli
                              </h2>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-2c06d15 elementor-widget elementor-widget-text-editor"
                            data-id="2c06d15"
                            data-element_type="widget"
                            data-widget_type="text-editor.default"
                          >
                            <div class="elementor-widget-container">
                              <p>Dal blog</p>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-a5b8e41 elementor-posts--align-left elementor-grid-tablet-3 elementor-grid-3 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-widget elementor-widget-posts"
                            data-id="a5b8e41"
                            data-element_type="widget"
                            data-settings='{"classic_row_gap":{"unit":"px","size":0,"sizes":[]},"classic_row_gap_mobile":{"unit":"px","size":25,"sizes":[]},"classic_columns_tablet":"3","classic_columns":"3","classic_columns_mobile":"1","classic_row_gap_tablet":{"unit":"px","size":"","sizes":[]}}'
                            data-widget_type="posts.classic"
                          >
                            <div class="elementor-widget-container">
                              <div
                                class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid elementor-has-item-ratio"
                              >
                                <article
                                  class="elementor-post elementor-grid-item post-5736 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-dimissioni tag-lavoratori tag-licenziamento"
                                >
                                  <a
                                    class="elementor-post__thumbnail__link"
                                    href="https://valentinafilippini.it/divieto-licenziamento-dimissioni-naspi-papa/"
                                    tabindex="-1"
                                    ><div class="elementor-post__thumbnail">
                                      <img
                                        decoding="async"
                                        width="686"
                                        height="397"
                                        src="https://valentinafilippini.it/wp-content/uploads/2023/03/Cover-Sito-Linkedin-licenziamento-e-dimissioni-papa-2023.png"
                                        class="attachment-full size-full wp-image-5737 lazyload"
                                        alt=""
                                      />
                                    </div>
                                  </a>
                                  <div class="elementor-post__text">
                                    <h3 class="elementor-post__title">
                                      <a
                                        href="https://valentinafilippini.it/divieto-licenziamento-dimissioni-naspi-papa/"
                                      >
                                        Divieto di licenziamento, dimissioni e
                                        NASPI per il papà
                                      </a>
                                    </h3>
                                    <div class="elementor-post__meta-data">
                                      <span class="elementor-post-date">
                                        29 Marzo 2023
                                      </span>
                                    </div>
                                    <div class="elementor-post__excerpt">
                                      <p>
                                        Per il lavoratore padre che fruisce del
                                        congedo di paternità obbligatorio e/o
                                        del congedo di paternità alternativo,
                                        vige
                                      </p>
                                    </div>
                                    <a
                                      class="elementor-post__read-more"
                                      href="https://valentinafilippini.it/divieto-licenziamento-dimissioni-naspi-papa/"
                                      aria-label="Read more about Divieto di licenziamento, dimissioni e NASPI per il papà"
                                      tabindex="-1"
                                    >
                                      Leggi Tutto »
                                    </a>
                                  </div>
                                </article>
                                <article
                                  class="elementor-post elementor-grid-item post-5158 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-agevolazioni tag-assunzioni-2 tag-donne tag-giovani"
                                >
                                  <a
                                    class="elementor-post__thumbnail__link"
                                    href="https://valentinafilippini.it/esonero-contributivo-assunzione-donne-giovani-under-36/"
                                    tabindex="-1"
                                    ><div class="elementor-post__thumbnail">
                                      <img
                                        decoding="async"
                                        width="686"
                                        height="397"
                                        src="https://valentinafilippini.it/wp-content/uploads/2023/02/Cover-Sito-Linkedin-esonero-contributivo-assunzione-donne-e-giovani.png"
                                        class="attachment-full size-full wp-image-5160 lazyload"
                                        alt=""
                                      />
                                    </div>
                                  </a>
                                  <div class="elementor-post__text">
                                    <h3 class="elementor-post__title">
                                      <a
                                        href="https://valentinafilippini.it/esonero-contributivo-assunzione-donne-giovani-under-36/"
                                      >
                                        Esonero contributivo per assunzione di
                                        donne e giovani under 36
                                      </a>
                                    </h3>
                                    <div class="elementor-post__meta-data">
                                      <span class="elementor-post-date">
                                        1 Febbraio 2023
                                      </span>
                                    </div>
                                    <div class="elementor-post__excerpt">
                                      <p>
                                        La Legge di Bilancio 2023 ha previsto la
                                        proroga per l’anno 2023 dello sgravio
                                        contributivo per l’assunzione di
                                      </p>
                                    </div>
                                    <a
                                      class="elementor-post__read-more"
                                      href="https://valentinafilippini.it/esonero-contributivo-assunzione-donne-giovani-under-36/"
                                      aria-label="Read more about Esonero contributivo per assunzione di donne e giovani under 36"
                                      tabindex="-1"
                                    >
                                      Leggi Tutto »
                                    </a>
                                  </div>
                                </article>
                                <article
                                  class="elementor-post elementor-grid-item post-5145 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-casalinga tag-inail tag-infortunio"
                                >
                                  <a
                                    class="elementor-post__thumbnail__link"
                                    href="https://valentinafilippini.it/assicurazione-casalinghe-2023/"
                                    tabindex="-1"
                                    ><div class="elementor-post__thumbnail">
                                      <img
                                        decoding="async"
                                        width="686"
                                        height="397"
                                        src="https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Linkedin-casalinga-2023.png"
                                        class="attachment-full size-full wp-image-5150 lazyload"
                                        alt=""
                                      />
                                    </div>
                                  </a>
                                  <div class="elementor-post__text">
                                    <h3 class="elementor-post__title">
                                      <a
                                        href="https://valentinafilippini.it/assicurazione-casalinghe-2023/"
                                      >
                                        Assicurazione casalinghe 2023
                                      </a>
                                    </h3>
                                    <div class="elementor-post__meta-data">
                                      <span class="elementor-post-date">
                                        26 Gennaio 2023
                                      </span>
                                    </div>
                                    <div class="elementor-post__excerpt">
                                      <p>
                                        In data 31 gennaio 2023 scade il termine
                                        per il versamento del premio annuale di
                                        24€ contro gli
                                      </p>
                                    </div>
                                    <a
                                      class="elementor-post__read-more"
                                      href="https://valentinafilippini.it/assicurazione-casalinghe-2023/"
                                      aria-label="Read more about Assicurazione casalinghe 2023"
                                      tabindex="-1"
                                    >
                                      Leggi Tutto »
                                    </a>
                                  </div>
                                </article>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
