<section class="elementor-section elementor-top-section elementor-element elementor-element-357a8b9 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle">
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-e4e3063 animated fadeIn"
        data-settings='{"animation":"fadeIn"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-presentation-title elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h1 class="elementor-heading-title elementor-size-default">
                Dottore Commercialista 
                
                @if(revisoreLegaleFlag){
                  <br>& Revisore Legale
                }
              </h1>
            </div>
          </div>
          <div class="elementor-element elementor-element-presentation-subtitle elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h1 class="elementor-heading-title elementor-size-default adjust-iphone-letter-spacing">
                {{datiPersonali.nome}} {{datiPersonali.cognome}}
              </h1>
            </div>
          </div>
          <div class="elementor-element elementor-element-presentation-description elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              <p>
                Professionista
                <span class="color-primary">smart </span>
                è la miglior sintesi della mia personalità.
                <!-- <br>
                Offrivi competenze sempre aggiornate
                <br>
                in modo semplice e comodo è il mio obiettivo. -->
              </p>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-presentation-button elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button animated tada"
            data-settings='{"animation":"tada","delay":200}'
          >
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a
                  class="elementor-button elementor-button-link elementor-size-md aSmoothScroll"
                  href="/#services"
                >
                  <span class="elementor-button-content-wrapper">
                    <span class="elementor-button-text"
                      >Scopri i miei servizi</span
                    >
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-presentation-button-secondary elementor-align-left elementor-widget__width-auto elementor-widget-mobile__width-inherit elementor-widget elementor-widget-button animated bounceIn"
            data-settings='{"animation":"bounceIn","delay":200}'
          >
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a
                  class="elementor-button elementor-button-link elementor-size-sm"
                  routerLink="/chi-sono"
                >
                  <span class="elementor-button-content-wrapper">
                    <span
                      class="elementor-button-icon elementor-align-icon-right"
                    >
                      <i
                        aria-hidden="true"
                        class="fas fa-long-arrow-alt-right"
                      ></i>
                    </span>
                    <span class="elementor-button-text">Chi sono</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="elementor-element elementor-element-presentation-logo-image elementor-absolute elementor-widget elementor-widget-image">
            <div class="elementor-widget-container">
              <img
                decoding="async"
                width="512"
                height="512"
                src="../../../assets/logo/logo-bg-transparent-no-comm.png"
                class="attachment-large size-large wp-image-25 lazyload"
                alt="{{datiPersonali.nome}} {{datiPersonali.cognome}}"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-341650d elementor-hidden-mobile">
        <div class="elementor-widget-wrap"></div>
      </div> -->
    </div>
  </section>