<div class="elementor elementor-header-main elementor-location-header">
  <!-- INITIAL FIXED HEADER  -->
  <section
    class="elementor-section elementor-top-section elementor-element elementor-header-main-wrapper elementor-section-content-top elementor-section-full_width elementor-section-height-min-height sticky-header elementor-section-height-default elementor-section-items-middle elementor-sticky elementor-sticky--active elementor-section--handles-inside fixed-style"
    [class.elementor-sticky--effects]="isScrolled || !isHome"
  >
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-header-main-div">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section class="elementor-section elementor-inner-section elementor-element elementor-header-main-section elementor-section-height-min-height elementor-section-boxed elementor-section-height-default">
            <div class="elementor-container elementor-column-gap-no">
              <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-header-logobox">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-header-logoblock d-logo elementor-widget elementor-widget-theme-site-logo elementor-widget-image">
                    <div class="elementor-widget-container">
                      <a routerLink="/">
                        <img
                          width="561"
                          height="156"
                          src="assets/logo/logo_vf_cdl.svg"
                          alt="logo {{datiPersonali.nome}} {{datiPersonali.cognome}}"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-header-nav-wrapper elementor-hidden-tablet elementor-hidden-mobile">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-header-nav-div-external elementor-nav-menu__align-right elementor-hidden-tablet elementor-hidden-mobile elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu">
                    <div class="elementor-widget-container">
                      <nav class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">
                        <ul class="elementor-nav-menu">
                          @for (menuItem of menuItems; track menuItem) {
                            
                            <!-- SIMPLE ITEM  -->
                            @if (menuItem.type === 'simple'){
                              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a [routerLink]="menuItem.redirectUrl" class="elementor-item">
                                  {{menuItem.label}}
                                </a>
                              </li>
                            }

                            <!-- DROPDOWN ITEM  -->
                            @if (menuItem.type === 'dropdown'){
                              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children open-dropdown-delayed">
                                <a
                                  class="elementor-item elementor-item-anchor has-submenu"
                                  id="{{menuItem.idToggleDropdown}}"
                                  aria-haspopup="true"
                                  [attr.aria-controls]="menuItem.idToggleDropdown"
                                  aria-expanded="false"
                                >
                                  {{menuItem.label}}
                                  <span class="sub-arrow">
                                    <i class="fas fa-caret-down"></i>
                                  </span>
                                </a>
                                <ul
                                  class="sub-menu elementor-nav-menu--dropdown sm-nowrap dropdown-item-style"
                                  id="{{menuItem.idAriaControls}}"
                                  role="group"
                                  aria-hidden="true"
                                  [attr.aria-labelledby]="menuItem.idToggleDropdown"
                                  aria-expanded="false"
                                >
                                  @for (childMenuItem of menuItem.children; track childMenuItem) {
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                      <a [routerLink]="childMenuItem.redirectUrl" class="elementor-sub-item">
                                        {{childMenuItem.label}}
                                      </a>
                                    </li>
                                  }
                                </ul>
                              </li>
                            }
                          }
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-header-login-column-desktop col-1 elementor-hidden-tablet elementor-hidden-mobile">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-header-login-icon-desktop stax-condition-yes stax-user_role_enabled-yes elementor-hidden-tablet elementor-hidden-mobile elementor-view-default elementor-widget elementor-widget-icon">
                    <div class="elementor-widget-container">
                      <div class="elementor-icon-wrapper">
                        <a class="elementor-icon" routerLink="autenticazione">
                          <i aria-hidden="true" class="fas fa-arrow-alt-circle-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-header-login-label-desktop stax-condition-yes stax-user_role_enabled-yes elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">
                        <a routerLink="autenticazione">Log in</a>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-header-actions-block-desktop col-2 elementor-hidden-tablet elementor-hidden-mobile">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-header-toggle-icon-cart elementor-widget__width-auto toggle-icon--cart-medium elementor-menu-cart--items-indicator-bubble elementor-menu-cart--cart-type-side-cart elementor-menu-cart--show-remove-button-yes elementor-widget elementor-widget-woocommerce-menu-cart">
                    <div class="elementor-widget-container">
                      <div class="elementor-menu-cart__wrapper">
                        <div class="elementor-menu-cart__toggle_wrapper">
                          <div class="elementor-menu-cart__toggle elementor-button-wrapper">
                            <a
                              id="elementor-menu-cart__toggle_button"
                              (click)="openCartDetail()"
                              class="elementor-menu-cart__toggle_button elementor-button elementor-size-sm"
                              aria-expanded="false"
                            >
                              <span class="elementor-button-icon">
                                <span class="elementor-button-icon-qty">{{cartItemsNum}}</span>
                                <img src="../../../assets/icons/cart-icon.png" alt="Carrello">
                                <span class="elementor-screen-only">Carrello</span>
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-header-search-form-div elementor-search-form--skin-full_screen elementor-widget__width-auto elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-search-form">
                    <div class="elementor-widget-container">
                      <div class="elementor-search-form" role="search">
                        <div
                          class="elementor-search-form__toggle"
                          tabindex="0"
                          role="button"
                          (click)="openSearchForm()"
                        >
                          <i aria-hidden="true" class="fas fa-search"></i>
                          <span class="elementor-screen-only">Cerca</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-header-column-right-actions">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-header-cart-icon-tablet elementor-widget__width-auto elementor-hidden-desktop elementor-hidden-mobile toggle-icon--cart-medium elementor-menu-cart--items-indicator-bubble elementor-menu-cart--cart-type-side-cart elementor-menu-cart--show-remove-button-yes elementor-widget elementor-widget-woocommerce-menu-cart">
                    <div class="elementor-widget-container">
                      <div class="elementor-menu-cart__wrapper">
                        <div class="elementor-menu-cart__toggle_wrapper">
                          <div class="elementor-menu-cart__toggle elementor-button-wrapper">
                            <a
                              id="elementor-menu-cart__toggle_button"
                              (click)="openCartDetail()"
                              class="elementor-menu-cart__toggle_button elementor-button elementor-size-sm"
                              aria-expanded="false"
                            >
                              <span class="elementor-button-icon">
                                <span class="elementor-button-icon-qty">{{cartItemsNum}}</span>
                                <img src="../../../assets/icons/cart-icon.png" alt="Carrello">
                                <span class="elementor-screen-only">Carrello</span>
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-header-search-form-div-mobile elementor-search-form--skin-full_screen elementor-widget__width-auto elementor-hidden-desktop elementor-widget elementor-widget-search-form">
                    <div class="elementor-widget-container">
                      <div class="elementor-search-form" role="search">
                        <div
                          class="elementor-search-form__toggle"
                          tabindex="0"
                          role="button"
                          (click)="openSearchForm()"
                        >
                          <i aria-hidden="true" class="fas fa-search"></i>
                          <span class="elementor-screen-only">Cerca</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    appear
                    class="elementor-element elementor-element-header-btn-action-tablet elementor-align-right elementor-widget__width-auto elementor-hidden-mobile elementor-hidden-desktop elementor-widget elementor-widget-button elementor-invisible"
                    data-settings='{"animation":"bounceIn","delay":200}'
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-button-wrapper">
                        <a
                          class="elementor-button elementor-button-link elementor-size-sm"
                          (click)="openModalPrenotazioneConsulenza()"
                          href="#"
                        >
                          <span class="elementor-button-content-wrapper">
                            <span class="elementor-button-text">Prenota una <br />Consulenza!</span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div
                    appear
                    class="elementor-element elementor-element-header-btn-action-desktop elementor-align-right elementor-widget__width-auto elementor-hidden-mobile elementor-hidden-tablet elementor-widget elementor-widget-button elementor-invisible"
                    data-settings='{"animation":"bounceIn","delay":200}'
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-button-wrapper">
                        <a
                          class="elementor-button elementor-button-link elementor-size-sm"
                          (click)="openModalPrenotazioneConsulenza()"
                          href="#"
                        >
                          <span class="elementor-button-content-wrapper">
                            <span class="elementor-button-text">Prenota una Consulenza!</span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-header-burger-menu-mobile elementor-widget-tablet__width-auto elementor-hidden-desktop elementor-view-default elementor-widget elementor-widget-icon"
                    id="burger-menu-btn"
                    (click)="openSideMenu()"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-icon-wrapper">
                        <a
                          class="elementor-icon"
                        >
                          <i aria-hidden="true" class="fas fa-bars"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>

  <!-- STICKY HEADER ON SCROLL (background)  -->
  <section class="elementor-section elementor-top-section elementor-element elementor-header-main-wrapper elementor-section-content-top elementor-section-full_width elementor-section-height-min-height sticky-header elementor-section-height-default elementor-section-items-middle elementor-sticky elementor-sticky__spacer fixed-style-sticky-header">
    <div class="elementor-container elementor-column-gap-no">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-header-main-div">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section class="elementor-section elementor-inner-section elementor-element elementor-header-main-section elementor-section-height-min-height elementor-section-boxed elementor-section-height-default">
            <div class="elementor-container elementor-column-gap-no">
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</div>

<app-side-cart></app-side-cart>
<app-search-form-full-screen></app-search-form-full-screen>