<main id="content" class="site-main">
  <div class="page-content">
    <div class="elementor elementor-4812">

      <app-main-title-decoration [title]="'Consulenza ai privati'" [subtitle]="'Seleziona l’argomento che desideri e prenota una consulenza'"></app-main-title-decoration>
      
      <section class="elementor-section elementor-top-section elementor-element elementor-element-consulenza-section-content elementor-section-boxed elementor-section-height-default elementor-section-height-default">
        <div class="elementor-container elementor-column-gap-default">

          @for (card of consulenzaPrivatiCards; track card) {
            <app-consulenza-card [card]="card" style="display: contents;"></app-consulenza-card>
          }

        </div>
      </section>

    </div>
    
  </div>
</main>
