<div
  #sideMenuContainer
  class="dialog-widget dialog-lightbox-widget dialog-type-buttons dialog-type-lightbox elementor-popup-modal "
  id="side-menu-container"
  aria-modal="true"
  role="document"
  tabindex="0"
  style="display: none;"
  (click)="checkIfCloseSideMobileMenu($event)"
>
  <div #sidemenu class="dialog-widget-content dialog-lightbox-widget-content animated">
    <div class="dialog-header dialog-lightbox-header"></div>
    <div class="dialog-message dialog-lightbox-message scrollable-div">
      <div
        data-type="popup"
        class="elementor elementor-side-menu-comm-popup elementor-location-popup"
        style="display: block"
      >
        <section class="elementor-section elementor-top-section elementor-element elementor-side-menu-comm-heading elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-side-menu-comm-heading-in">
              <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-side-menu-comm-heading-in-box elementor-widget elementor-widget-theme-site-logo elementor-widget-image">
                  <div class="elementor-widget-container">
                    <a routerLink="/">
                      <img
                        alt="logo {{datiPersonali.nome}} {{datiPersonali.cognome}}"
                        src="assets/logo/logo_vf_cdl.svg"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
          <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
              <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-side-menu-comm-nav elementor-widget elementor-widget-nav-menu">
                  <div class="elementor-widget-container">
                    <nav
                      class="elementor-nav-menu--dropdown elementor-nav-menu__container"
                      aria-hidden="true"
                      style="--menu-height: 0"
                    >
                      <ul id="menu-2-a8b0c12" class="elementor-nav-menu">
                        @for (listItem of menuItems; track listItem) {
                          <li class="menu-item menu-item-type-post_type menu-item-object-page">
                            <a
                              [routerLink]="listItem.href"
                              (click)="closeSideMenu()"
                              class="elementor-item no-bg-focus"
                              tabindex="-1">
                              {{listItem.label}}
                            </a>
                          </li>
                        }
                      </ul>
                    </nav>
                  </div>
                </div>

                <div
                  appear
                  #sideMenuPrenotaBtn
                  id="side-menu-prenota-btn"
                  class="elementor-element elementor-element-cd15da4 elementor-align-right elementor-widget__width-auto elementor-hidden-desktop elementor-hidden-tablet elementor-invisible elementor-widget elementor-widget-button"
                  data-settings='{"animation":"bounceIn","delay":2000, "disappearAgain": true}'
                >
                  <div class="elementor-widget-container">
                    <div class="elementor-button-wrapper">
                      <button class="elementor-button elementor-button-link elementor-size-sm btn-like-a">
                        <span class="elementor-button-content-wrapper">
                          <span class="elementor-button-text">Prenota una Consulenza!</span>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="dialog-buttons-wrapper dialog-lightbox-buttons-wrapper"></div>
    <span
      role="button"
      tabindex="0"
      aria-label="Close"
      href="#"
      class="dialog-close-button dialog-lightbox-close-button"
      ><i class="fas fa-xmark" (click)="closeSideMenu()"></i
    ></span>
  </div>
</div>
