* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    background: var(--forms-fields-normal-background-color);
    border: none;
    padding: 12px 15px;
    /* margin: 8px 0; */
    width: 100%;
}

input {
  font-family: var(--e-global-typography-text-font-family), Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  /* text-align: center; */
  border-bottom: 1px solid #fff;
  font-size: 16px;
  font-weight: 200px;
  transition: border 0.5s;
  outline: none;
  color: var( --e-global-typography-text-font-size );
  /* font-weight: bold; */
  border-radius: 14px;
}

.fa-eye, .fa-eye-slash {
  position: absolute;
  top: 18px;
  right: 10px;
  cursor: pointer;
}

.input-passw {
  padding-right: 35px;
}