<main id="content" class="site-main page hentry">
  <div class="page-content">
    <div class="elementor elementor-element-privacy-policy-main-div">
      
      <app-main-title-center-decorated [title]="'Privacy Policy'"></app-main-title-center-decorated>
      
      <section class="elementor-section elementor-top-section elementor-element elementor-element-privacy-policy-section-body elementor-section-boxed elementor-section-height-default elementor-section-height-default">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-element elementor-widget elementor-widget-text-editor">
                <div class="elementor-widget-container">
                  <!-- wp:heading {"textAlign":"center"} -->
                  <p>&nbsp;</p>
                  <p class="p1">
                    Questa Privacy Policy è resa ai sensi dell’art. 13 del
                    Regolamento Europeo n. 679/2016 e si applica esclusivamente
                    a tutti i Dati raccolti attraverso il Sito web
                    <b>{{datiPersonali.contatti.sitoWebHttps}}/. </b>La presente Privacy
                    Policy è soggetta ad aggiornamenti che verranno pubblicati
                    puntualmente sul Sito web. La presente Privacy Policy,
                    unitamente ai
                    <a routerLink="/termini-e-condizioni"
                      ><span class="s1"><b>Termini e Condizioni</b></span></a
                    >, eventuali altri documenti cui si fa riferimento in essa e
                    la
                    <a routerLink="/cookie-policy"
                      ><span class="s1"><b>Cookie Policy</b></span></a
                    >, stabiliscono le basi sulle quali verranno elaborati i
                    Dati personali dell’Interessato.
                  </p>
                  <p>&nbsp;</p>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h5><strong>Titolare del Trattamento</strong></h5>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p class="p1">
                    Il Titolare del Trattamento dei Dati raccolti da questo Sito
                    web è Dott.ssa {{datiPersonali.nome}} {{datiPersonali.cognome}} con sede in {{datiPersonali.sede.localita}} ({{datiPersonali.sede.provincia}})
                    alla {{datiPersonali.sede.indirizzo}} P.Iva {{datiPersonali.pIva.codice}} mail:
                    {{datiPersonali.contatti.email}}
                  </p>
                  <!-- /wp:paragraph --><!-- wp:paragraph {"textColor":"white"} --><!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p>&nbsp;</p>
                  <h5 class="p1"><b>Dati Personali</b></h5>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p class="p1">
                    Per Dato Personale si intende qualsiasi informazione
                    riguardante una persona fisica identificata o identificabile
                    (Interessato). Si considera identificabile la persona fisica
                    che può essere identificata, direttamente o indirettamente,
                    con particolare riferimento a un identificativo come il
                    nome, un numero di identificazione, dati relativi
                    all’ubicazione, un identificativo on-line, uno o più
                    elementi caratteristici della sua identità fisica.
                  </p>
                  <!-- /wp:paragraph --><!-- wp:paragraph {"textColor":"white"} -->
                  <p class="has-white-color has-text-color">.</p>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h5 class="p1">
                    <b>Categoria di Dati Personali trattati </b>
                  </h5>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p class="p1">
                    Tra i Dati Personali trattati da questo Sito web, in modo
                    autonomo o tramite terze parti, ci sono Dati Comuni quali:
                    Cookie, Dati di utilizzo, dati di contatto inclusi nome,
                    e-mail, numero di telefono e spedizione, indirizzo di
                    fatturazione; informazioni di accesso e di account, inclusi
                    nome utente, password e ID utente univoco; dati personali
                    tra cui sesso, città natale, data di nascita e cronologia
                    degli acquisti; informazioni sulle modalità di pagamento o
                    sulla carta di credito; le preferenze personali tra cui la
                    tua lista dei desideri, nonché le preferenze in tema di
                    marketing e cookie.
                  </p>
                  <!-- /wp:paragraph --><!-- wp:paragraph {"textColor":"white"} -->
                  <p class="has-white-color has-text-color">.</p>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h5 class="p1">
                    <b>Modalità di Trattamento dei Dati Personali</b>
                  </h5>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p class="p1">
                    I Dati Personali forniti o acquisiti saranno oggetto di
                    Trattamento improntato ai principi di correttezza, liceità,
                    trasparenza e di tutela della riservatezza ai sensi delle
                    vigenti normative. Il Titolare tratta i Dati Personali degli
                    Utenti adottando le opportune misure di sicurezza volte ad
                    impedire l’accesso, la divulgazione, la modifica o la
                    distruzione non autorizzate dei Dati Personali. Il
                    Trattamento viene effettuato mediante strumenti informatici
                    e/o telematici, con modalità organizzative e con logiche
                    strettamente correlate alle finalità indicate.
                  </p>
                  <!-- /wp:paragraph --><!-- wp:paragraph {"textColor":"white"} -->
                  <p class="has-white-color has-text-color">.</p>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h5 class="p1">
                    <b
                      >Finalità del Trattamento dei Dati personali e Base
                      giuridica
                    </b>
                  </h5>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p class="p1">
                    I Dati Personali possono essere raccolti in modo autonomo
                    dal Titolare o tramite terze parti. In questo caso i sistemi
                    informatici e le procedure software preposte al
                    funzionamento del presente Sito web acquisiscono alcuni Dati
                    Personali degli Utenti, di carattere tecnico-informatico (ad
                    es. l’indirizzo IP, il tipo di browser utilizzato, il
                    sistema operativo, il nome di dominio e gli indirizzi di
                    siti web dai quali è stato effettuato l’accesso o l’uscita,
                    ecc.), la trasmissione dei quali è connaturata al normale
                    funzionamento di internet. Tali Dati potranno essere
                    trattati al solo fine di ricavare informazioni statistiche
                    anonime sull’uso del sito e/o per controllarne il corretto
                    funzionamento e saranno cancellati immediatamente dopo
                    l’elaborazione.
                  </p>
                  <p class="p1">
                    I Dati che l’Interessato sceglie di fornire spontaneamente
                    saranno oggetto di trattamento nel rispetto delle condizioni
                    di liceità <i>ex</i> art. 6 GDPR e saranno trattati per
                    consentire al Sito web di fornire i propri servizi, così
                    come per le Finalità di seguito indicate e saranno
                    conservati per il tempo necessario all’adempimento delle
                    suddette Finalità.
                  </p>
                  <p class="p1">Le Finalità del trattamento sono:</p>
                  <ol>
                    <li class="p1">
                      <b
                        >&nbsp;Informazioni e adempimenti precontrattuali<br /></b
                      >I Dati saranno trattati al fine di essere ricontattati o
                      dar seguito alle specifiche richieste rivolte al Titolare
                      dall’Interessato per comunicazioni di natura informativa
                      e/o per l’interesse all’acquisto relativamente ai Servizi
                      dello stesso Titolare, tramite messaggi di posta
                      elettronica o compilazione del Form contatti e di altri
                      strumenti di comunicazione quali ad esempio telefono.<br /><span
                        style="text-decoration: underline"
                        >Base giuridica:</span
                      >
                      questo trattamento è <span class="s2">facoltativo</span> e
                      basato sul consenso dell’Interessato, tuttavia il
                      conferimento dei Dati è necessario per il perseguimento
                      della finalità indicata.<br /><span
                        style="text-decoration: underline"
                        >Periodo di conservazione dei dati:</span
                      >
                      sino a revoca del consenso da parte dell’Interessato.<br /><br />
                    </li>
                    <li>
                      <p class="p1">
                        <b
                          >Trattamento necessario nell’ambito di un contratto<br /></b
                        >I Dati saranno trattati al fine di adempiere agli
                        obblighi derivanti dal contratto stipulato tra
                        l’Interessato e il Titolare per la vendita dei Servizi
                        presenti sul Sito web, per contattare l‘Interessato in
                        relazione al Contratto e per la gestione del medesimo,
                        per la gestione di richieste di garanzie legali,
                        assistenza, richieste di recesso, gestione e risoluzione
                        del Contratto stesso<br /><span
                          style="text-decoration: underline"
                          ><span class="s1">Base giuridica</span>:</span
                        >
                        questo trattamento è necessario per l’esecuzione del
                        contratto di cui l’Interessato è parte, per l’esecuzione
                        di misure precontrattuali o per adempiere un obbligo
                        legale al quale è soggetto il Titolare del
                        Trattamento.<br /><span
                          style="text-decoration: underline"
                          ><span class="s1"
                            >Periodo di conservazione dei dati</span
                          >:</span
                        >
                        10 (dieci) anni o diverso obbligo di legge.
                      </p>
                    </li>
                    <li>
                      <p class="p1">
                        <b
                          >Adempimenti di eventuali obblighi previsti dalle
                          leggi vigenti</b
                        >
                      </p>
                      <p class="p1">
                        I Dati saranno trattati per adempiere a qualunque tipo
                        di obbligo contemplato e previsto dalle vigenti leggi,
                        regolamenti, normative correlate, usi commerciali e
                        materia tributaria/fiscale, tra cui anche per le
                        finalità previste dalla normativa in materia di
                        antiriciclaggio d.lgs. 231/2007 e successive
                        modifiche.<br /><span style="text-decoration: underline"
                          ><span class="s1">Base giuridica: </span></span
                        >questo trattamento è necessario per adempiere un
                        obbligo legale al quale è soggetto il Titolare del
                        Trattamento.<br /><span
                          style="text-decoration: underline"
                          ><span class="s1"
                            >Periodo di conservazione dei dati</span
                          >:</span
                        >
                        10 (dieci) anni o diverso obbligo di legge.
                      </p>
                    </li>
                    <li>
                      <p class="p1">
                        <b>Soft spam<br /></b>I Dati saranno trattati per
                        consentire al Titolare di inviare a mezzo e-mail
                        all’Interessato comunicazioni commerciali e promozionali
                        aventi come oggetto Prodotti e/o Servizi analoghi ai
                        Prodotti/Servizi oggetto della vendita senza necessità
                        del consenso espresso e preventivo dell’Interessato,
                        come previsto dall’art. 130, 4 comma, Codice della
                        Privacy così come novellato dal D.lgs. n.101 del 2018, e
                        a condizione che l’Interessato non eserciti il diritto
                        di opposizione.<br /><span
                          style="text-decoration: underline"
                          ><span class="s1">Base giuridica: </span></span
                        >questo trattamento è basato sul legittimo interesse del
                        Titolare del Trattamento ai sensi dell’art. 6, lett. F e
                        Considerando n. 47 del GDPR.<br /><span
                          style="text-decoration: underline"
                          ><span class="s1"
                            >Periodo di conservazione dei dati</span
                          ></span
                        ><span class="s1">: </span>fino a opposizione
                        dell’Interessato.
                      </p>
                    </li>
                    <li>
                      <p class="p1">
                        <b>Marketing e Newsletter<br /></b>I Dati saranno
                        trattati per vendita diretta di Servizi, ricerche di
                        mercato, invio di comunicazioni e materiale
                        promozionale, commerciale e pubblicitario o inerente
                        iniziative ed eventi, tramite newsletter e e-mail.<br /><span
                          style="text-decoration: underline"
                          ><span class="s1">Base giuridica:</span></span
                        >
                        questo trattamento è basato sul consenso liberamente
                        espresso dall’Interessato ai sensi dell’art. 6, par. 1,
                        lett. A del GDPR.<br /><span
                          style="text-decoration: underline"
                          ><span class="s1"
                            >Periodo di conservazione dei dati:
                          </span></span
                        >sino a revoca del consenso da parte dell’Interessato.
                      </p>
                    </li>
                    <li>
                      <p class="p1">
                        <b>Statistica<br /></b>I Dati saranno trattati per
                        effettuare analisi statistiche su dati aggregati e
                        anonimi per analizzare i comportamenti dell’Interessato
                        per migliorare i prodotti e i servizi forniti dal
                        Titolare nonché soddisfare le aspettative
                        dell’Interessato stesso.<br /><span
                          style="text-decoration: underline"
                          ><span class="s1">Base giuridica:</span></span
                        >
                        questo trattamento è basato sul consenso liberamente
                        espresso dall’Interessato.<br /><span
                          style="text-decoration: underline"
                          ><span class="s1"
                            >Periodo di conservazione dei dati</span
                          >:</span
                        >
                        sino a revoca del consenso da parte dell’Interessato.
                      </p>
                    </li>
                  </ol>
                  <!-- /wp:paragraph --><!-- wp:paragraph {"textColor":"white"} -->
                  <p class="has-white-color has-text-color">.</p>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h5 class="p1"><b>Comunicazione dei Dati</b></h5>
                  <!-- /wp:paragraph --><!-- wp:paragraph --><!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p class="p1">
                    Oltre al Titolare, in alcuni casi, potrebbero avere accesso
                    ai Dati:
                  </p>
                  <!-- /wp:paragraph --><!-- wp:list -->
                  <ul>
                    <li>
                      a) categorie di Incaricati a ciò appositamente formati
                      coinvolti nell’organizzazione del Sito web (personale
                      amministrativo, commerciale, marketing, legali,
                      amministratori di sistema);
                    </li>
                    <li>
                      b)soggetti esterni (come fornitori di servizi tecnici
                      terzi, hosting provider, società informatiche, agenzie di
                      comunicazione) nominati anche Responsabili del Trattamento
                      da parte del Titolare ex art. 28 GDPR. L’elenco aggiornato
                      dei Responsabili, se nominati, potrà sempre essere
                      richiesto al Titolare del Trattamento;
                    </li>
                    <li>
                      c) soggetti pubblici o privati che possono accedere ai
                      Dati in osservanza di obblighi di legge;
                    </li>
                    <li>
                      <p class="p1">
                        d)<span class="Apple-converted-space">&nbsp; </span
                        >soggetti che svolgono compiti accessori e strumentali
                        rispetto all’attività del Titolare;
                      </p>
                    </li>
                  </ul>
                  <!-- /wp:list --><!-- wp:paragraph {"textColor":"white"} -->
                  <p class="has-white-color has-text-color">.</p>
                  <!-- /wp:paragraph --><!-- wp:paragraph --><!-- /wp:paragraph --><!-- wp:paragraph --><!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h5 class="p1"><b>Tempi del Trattamento</b></h5>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p class="p1">
                    Così come espressamente previsto dall’art. 5, co. 1, lett.
                    e) del GDPR, i Dati sono conservati per il tempo necessario
                    al Trattamento degli stessi in relazione allo svolgimento
                    del servizio richiesto dall’ Interessato, o richiesto dalle
                    Finalità sopra descritte in questo documento.<br />Al
                    termine del periodo di conservazione i Dati Personali
                    saranno cancellati e pertanto, non potranno più essere
                    esercitati i diritti di accesso, cancellazione,
                    rettificazione e portabilità dei Dati
                  </p>
                  <!-- /wp:paragraph --><!-- wp:paragraph --><!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h5><strong>Cookie</strong></h5>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p class="p1">
                    Questo Sito web utilizza i cookie. I cookie sono piccoli
                    file di testo che possono essere utilizzati dai siti web per
                    rendere più efficiente l’esperienza per l’Interessato e per
                    personalizzare contenuti e gli annunci, fornire le funzioni
                    dei social network e analizzare il traffico.
                    <a routerLink="/cookie-policy"
                      ><span class="s1"><b>Cookie Policy</b></span></a
                    >
                  </p>
                  <!-- /wp:paragraph --><!-- wp:paragraph {"textColor":"white"} -->
                  <p class="has-white-color has-text-color">.</p>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h5>
                    <b
                      >Luogo del Trattamento e trasferimento dei Dati all’estero
                    </b>
                  </h5>
                  <!-- /wp:paragraph --><!-- wp:paragraph --><!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p class="p1">
                    I Dati sono trattati presso la sede operativa del Titolare.
                    Per ulteriori informazioni si può contattare il Titolare del
                    Trattamento. I Dati potranno essere trattati da persone
                    fisiche e/o soggetti giuridici operanti per conto del
                    Titolare e in forza di specifici vincoli contrattuali e
                    aventi sede in Paesi membri UE o extra UE. Nel caso in cui i
                    Dati vengano trasferiti al di fuori del SEE, il Titolare
                    adotterà ogni misura contrattuale idonea a garantire
                    un’adeguata protezione dei Dati.
                  </p>
                  <!-- /wp:paragraph --><!-- wp:paragraph {"textColor":"white"} -->
                  <p class="has-white-color has-text-color">.</p>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h5 class="p1">
                    <b>Esercizio dei diritti dell’interessato</b>
                  </h5>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <p class="p1">
                    L’Interessato ha diritto di esercitare le facoltà previste
                    agli artt. 7, 15-22 del Reg. Europeo 679/2016.<span
                      class="Apple-converted-space"
                      >&nbsp; </span
                    >In particolare, ha diritto di revocare il proprio consenso
                    in qualsiasi momento e, dietro semplice richiesta al
                    Titolare del Trattamento, potrà chiedere l’accesso ai Dati
                    Personali, ricevere i Dati personali forniti al Titolare e
                    ove possibile trasmetterli ad un altro Titolare del
                    trattamento senza impedimenti (c.d. portabilità), ottenere
                    l’aggiornamento, la limitazione del trattamento, la
                    rettificazione dei Dati e la cancellazione di quelli
                    trattati in difformità dalla normativa vigente. Ha diritto,
                    per motivi legittimi, di opporsi al Trattamento dei Dati
                    Personali che lo riguardano ed al Trattamento per fini di
                    invio di materiale pubblicitario, di vendita diretta e per
                    il compimento di ricerche di mercato. Ha altresì diritto a
                    proporre reclamo al Garante della Privacy quale autorità di
                    controllo in materia di protezione dei dati personali o di
                    adire le opportune sedi giudiziarie. L’interessato potrà
                    esercitare i suoi diritti contattando il Titolare a mezzo
                    e-mail all’indirizzo: {{datiPersonali.contatti.email}}
                  </p>
                  <!-- /wp:list --><!-- wp:paragraph {"textColor":"white"} -->
                  <p class="has-white-color has-text-color">.</p>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h3 class="p1">
                    <b
                      >Strumenti utilizzati per il Trattamento dei Dati
                      Personali&nbsp;</b
                    >
                  </h3>

                  <p class="p1">
                    <b><br />GESTIONE INDIRIZZI EMAIL </b>
                  </p>
                  <p class="p1">
                    Questi servizi consentono di gestire un database di contatti
                    email, contatti telefonici o contatti di qualunque altro
                    tipo, utilizzati per comunicare con l’Interessato. Questi
                    servizi potrebbero inoltre consentire di raccogliere Dati
                    relativi alla data e all’ora di visualizzazione dei messaggi
                    da parte dell’Interessato, così come all’interazione
                    dell’Interessato con essi, come le informazioni sui click
                    sui collegamenti inseriti nei messaggi.
                  </p>
                  <p class="p1"><b>Newsletter</b></p>
                  <p class="p1">
                    Con la registrazione alla newsletter, l’indirizzo email
                    dell’Interessato viene automaticamente inserito in una lista
                    di contatti a cui potranno essere trasmessi messaggi email
                    contenenti informazioni, anche di natura commerciale e
                    promozionale, relative a questo Sito web. L’indirizzo email
                    dell’Interessato potrebbe anche essere aggiunto a questa
                    lista come risultato della registrazione a questo Sito o
                    dopo aver effettuato un acquisto. L’Interessato può
                    scegliere in qualsiasi momento di cancellarsi dalla
                    newsletter cliccando su un tasto specifico che troverà
                    all’interno delle email. Dopo aver cliccato sul tasto di
                    cancellazione i Dati dell’Interessato verranno cancellati
                    immediatamente dal software di “email marketing”. Dati
                    Personali raccolti: email e Nome. Questo Sito web utilizza
                    il servizio di newsletter fornito da:
                  </p>
                  <ul>
                    <li class="p1">
                      <b>MailerLite<br /></b>MailerLite è un servizio offerto
                      dalla società UAB MailerLite che organizza e analizza la
                      distribuzione di newsletter. Nel caso un Interessato non
                      voglia che i propri Dati vengano gestiti da MailerLite,
                      sarà necessario che annulli l’iscrizione alla newsletter.
                      A questo scopo, si fornisce un link in ogni newsletter
                      inviata. Dati Personali raccolti: email e nome. Luogo del
                      Trattamento: Lituania
                      <span class="s1"
                        ><b
                          >–
                          <a
                            href="https://www.mailerlite.com/legal/privacy-policy"
                            >Privacy Policy</a
                          ><br /><br /></b
                      ></span>
                    </li>
                  </ul>
                  <p class="p1"><b>REGISTRAZIONE AL SITO WEB</b></p>
                  <p class="p1">
                    Con il servizio di registrazione l’Interessato consente al
                    Sito di identificarlo e di dargli accesso a servizi
                    dedicati.<span class="Apple-converted-space">&nbsp; </span
                    >L’Interessato si registra direttamente sul sito compilando
                    il Form e fornendo i propri Dati.
                  </p>
                  <p class="p3"><b>STATISTICA </b></p>
                  <p class="p4">
                    I servizi di statistica permettono al Titolare del
                    Trattamento esclusivamente di monitorare e analizzare i dati
                    di traffico e servono a tener traccia del comportamento
                    dell’Interessato. Questo Sito web utilizza un plugin di
                    statistica offerto da WordPress WP Statistics
                  </p>
                  <p class="p3"><b>INTERAZIONE CON I SOCIAL NETWORK </b></p>
                  <p class="p4">
                    Questi servizi permettono di effettuare interazioni con i
                    social network direttamente dalle pagine di questo Sito web.
                    Le interazioni e le informazioni acquisite da questo Sito
                    web sono in ogni caso soggette alle impostazioni privacy
                    dell’Interessato relative ad ogni social network. Nel caso
                    in cui sia installato un servizio di interazione con i
                    social network, è possibile che, anche nel caso gli Utenti
                    non utilizzino il servizio, lo stesso raccolga dati di
                    traffico relativi alle pagine in cui è installato.
                  </p>
                  <ol>
                    <li class="p4">
                      <b>Instagram (Meta Platforms, Inc.)<br /></b>I pulsanti di
                      Instagram sono servizi di interazione con il social
                      network Instagram, forniti da Meta Platforms, Inc. Dati
                      Personali raccolti: Cookie e Dati di utilizzo. Luogo del
                      trattamento: Irlanda –
                      <a href="https://help.instagram.com/519522125107875"
                        ><span class="s2"><b>Privacy Policy</b></span></a
                      ><br /><br />
                    </li>
                    <li class="p4">
                      <b>LinkedIn (LinkedIn Ireland Unlimited Company)<br /></b
                      >I pulsanti di LinkedIn sono servizi di interazione con il
                      social network LinkedIn, forniti da LinkedIn Corporation.
                      Dati Personali raccolti: Cookie e Dati di utilizzo. Luogo
                      del trattamento: Irlanda –<a
                        href="https://it.linkedin.com/legal/privacy-policy?_l=it_IT"
                      >
                        <span class="s1"><b>Privacy Policy</b></span></a
                      ><br /><br />
                    </li>
                  </ol>
                  <p>
                    Sono state adottate e documentate specifiche e adeguate
                    misure di sicurezza tecniche ed organizzative (art. 32 del
                    Regolamento UE n. 2016/679) finalizzate alla minimizzazione
                    del rischio di distruzione, di perdita dei dati, di usi
                    illeciti o non corretti, di accessi non autorizzati o di un
                    trattamento non consentito o non conforme alle finalità per
                    cui sono stati acquisiti.
                  </p>
                  <!-- /wp:paragraph --><!-- wp:paragraph {"textColor":"white"} -->
                  <p class="p1"><b>GESTIONE DEI PAGAMENTI </b></p>
                  <p class="p1">
                    I servizi di gestione dei pagamenti permettono a questo Sito
                    web di processare i pagamenti tramite carta di credito,
                    bonifico bancario o altri strumenti. I Dati utilizzati per
                    il pagamento vengono acquisiti direttamente dal gestore del
                    servizio di pagamento richiesto senza essere in alcun modo
                    trattati da questo Sito. Alcuni di questi servizi potrebbero
                    inoltre permettere l’invio programmato di messaggi
                    all’Interessato, come email contenenti fatture o notifiche
                    riguardanti il pagamento. Questo Sito web utilizza i
                    seguenti servizi:
                  </p>
                  <ol>
                    <li class="p1">
                      <b
                        >PayPal (Paypal Europe S.à.r.l. et Cie, S.C.A Inc.)<br /></b
                      >PayPal è un servizio di pagamento fornito da PayPal
                      Europe S.à.r.l. et Cie, S.C.A Inc., che consente
                      all’Interessato di effettuare pagamenti online utilizzando
                      le proprie credenziali PayPal. Dati personali raccolti:
                      Cookie e varie tipologie di Dati secondo quanto
                      specificato dalla privacy policy del servizio. Luogo del
                      trattamento: Lussemburgo –
                      <a
                        href="https://www.paypal.com/it/webapps/mpp/ua/privacy-full"
                        ><span class="s1"><b>Privacy Policy</b></span></a
                      ><br /><br />
                    </li>
                  </ol>
                  <!-- /wp:paragraph --><!-- wp:paragraph -->
                  <h3 class="p1"><b>Modifiche a questa Privacy Policy</b></h3>
                  <p class="p2">
                    Il Titolare del Trattamento si riserva il diritto di
                    apportare modifiche alla presente Privacy Policy in
                    qualunque momento dandone pubblicità agli Utenti su questa
                    pagina. Si prega dunque di consultare spesso questa pagina,
                    prendendo come riferimento la data di ultima modifica
                    indicata in fondo. Nel caso di mancata accettazione delle
                    modifiche apportate alla presente Privacy Policy,
                    l’Interessato è tenuto a cessare l’utilizzo di questo Sito
                    web e può richiedere al Titolare del Trattamento di
                    rimuovere i propri Dati Personali. Salvo quanto diversamente
                    specificato, la precedente Privacy Policy continuerà ad
                    applicarsi ai Dati Personali sino a quel momento raccolti.
                    Il Titolare non è responsabile per l’aggiornamento di tutti
                    i link visualizzabili nella presente Privacy Policy,
                    pertanto ogni qualvolta un link non sia funzionante e/o
                    aggiornato, gli Utenti riconoscono ed accettano che dovranno
                    sempre far riferimento al documento e/o sezione dei siti
                    internet richiamati da tale link.
                  </p>
                  <!-- /wp:paragraph --><!-- wp:spacer {"height":50} --><!-- /wp:spacer --><!-- wp:paragraph -->
                  <p>
                    <em
                      ><strong
                        >Privacy Policy aggiornata a {{privacyPolicyInfo.dataAggiornamento}}
                      </strong></em
                    >
                  </p>
                  <!-- /wp:paragraph --><!-- wp:spacer {"height":50} -->
                  <div
                    class="wp-block-spacer"
                    style="height: 50px"
                    aria-hidden="true"
                  >
                    &nbsp;
                  </div>
                  <!-- /wp:spacer -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
