<div class="container">
    <div class="sidebar">
      <div class="menu-item selected"> 
        <span>Data e Orario</span>
        <span>1 febbraio 2024 - 15:00</span>
      </div>
      <div class="menu-item"> 
        <span>Informazioni</span>
      </div>
      <div class="menu-item"> 
        <span>Pagamenti</span>
      </div>
      <div class="close-menu">Chiudi menu</div>
    </div>
  
    <div class="content">
      <div class="header">
        <div class="dropdown">
          <button class="dropdown-button">Settembre</button>
          <ul class="dropdown-menu">
            <li>Gennaio</li>
            <li>Febbraio</li>
            <li>Marzo</li>
            <li>Aprile</li>
            <li>Maggio</li>
            <li>Giugno</li>
            <li>Luglio</li>
            <li>Agosto</li>
            <li>Settembre</li>
            <li>Ottobre</li>
            <li>Novembre</li>
            <li>Dicembre</li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="dropdown-button">Select</button>
          <ul class="dropdown-menu">
            <li>Opzione 1</li>
            <li>Opzione 2</li>
            <li>Opzione 3</li>
          </ul>
        </div>
        <div class="arrow-buttons">
          <button class="arrow-button">&lt;</button>
          <button class="arrow-button">&gt;</button>
        </div>
      </div>
  
      <div class="calendar">
        <div class="day disabled">1</div>
        <div class="day disabled">2</div>
        <div class="day disabled">3</div>
        <div class="day disabled">4</div>
        <div class="day disabled">5</div>
        <div class="day disabled">6</div>
        <div class="day disabled">7</div>
        <div class="day disabled">8</div>
        <div class="day disabled">9</div>
        <div class="day disabled">10</div>
        <div class="day disabled">11</div>
        <div class="day disabled">12</div>
        <div class="day disabled">13</div>
        <div class="day disabled">14</div>
        <div class="day disabled">15</div>
        <div class="day">16</div>
        <div class="day">17</div>
        <div class="day">18</div>
        <div class="day">19</div>
        <div class="day">20</div>
        <div class="day">21</div>
        <div class="day">22</div>
        <div class="day">23</div>
        <div class="day">24</div>
        <div class="day">25</div>
        <div class="day">26</div>
        <div class="day">27</div>
        <div class="day">28</div>
        <div class="day">29</div>
        <div class="day">30</div>
        <div class="day selected">1</div>
        <div class="day">2</div>
        <div class="day">3</div>
        <div class="day">4</div>
      </div>
  
      <div class="time-selection">
        <button class="time-button selected">15:00</button>
        <button class="time-button">16:00</button>
      </div>
      <div class="continue-button">
        <button>Continua</button>
      </div>
    </div>
  </div>
  