<section class="elementor-section elementor-top-section elementor-element elementor-element-896ca15 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-621134f elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                {{title}}
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>