<section class="elementor-section elementor-top-section elementor-element elementor-element-section-title-decoration elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-section-title-decoration-div elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                {{title}}
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-element-section-title-decoration-subtitle-div elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              <p>
                {{subtitle}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>