<main id="content" class="site-main page hentry">
  <div class="page-content">
    <div class="elementor elementor-element-ebook-main-div">
      <app-intestazione-area-decorated
        [title]="'eBook e Guide'"
        [subtitle]="'Scopri la raccolta di guide, testi, eBook per non perderti niente sul mondo della Consulenza del Lavoro!'">
      </app-intestazione-area-decorated>
      
      <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
        <div class="elementor-container elementor-column-gap-default">

          @for (ebook of ebooksCards; track ebook) {
            <app-file-download-card
              class="d-contents"
              [cardDownloadDetail]="ebook">
            </app-file-download-card>
          }
          
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-c585667 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="c585667"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0538f92"
            data-id="0538f92"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </section>
    </div>
    <div class="post-tags"></div>
  </div>
</main>
