<main id="content" class="site-main page hentry">
  <div class="page-content">
    <div class="elementor elementor-cookie-policy-main">
      
      <app-main-title-center-decorated [title]="'Cookie Policy'"></app-main-title-center-decorated>
      
      <section class="elementor-section elementor-top-section elementor-element elementor-element-2105ba2 elementor-section-boxed elementor-section-height-default elementor-section-height-default">
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7e2eea28"
            data-id="7e2eea28"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-251268d elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-shortcode"
                data-id="251268d"
                data-element_type="widget"
                data-widget_type="shortcode.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-shortcode">
                    <a class="wt-cli-manage-consent-link">Consenso Cookie</a>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-58910361 elementor-widget elementor-widget-text-editor"
                data-id="58910361"
                data-element_type="widget"
                data-widget_type="text-editor.default"
              >
                <div class="elementor-widget-container">
                  <p><!-- wp:heading {"textAlign":"center"} --></p>
                  <p class="p1">
                    La presente Cookie Policy, riguarda l’utilizzo di Cookie da
                    parte del Sito web
                    <span class="s1"
                      ><b>https://valentinafilippini.it/.</b> </span
                    >Per la Privacy Policy del Sito web si può
                    <a href="/privacy-policy"
                      ><span class="s2"><b>cliccare</b></span
                      ><b> </b><span class="s2"><b>qui.</b></span></a
                    >
                  </p>
                  <p>&nbsp;</p>
                  <h5 class="p1"><b>Cookie Tecnici </b></h5>
                  <p class="p2">
                    <span class="s1"
                      >I Cookie tecnici sono quelli il cui utilizzo non richiede
                      il consenso dell’Utente. </span
                    >I Cookie tecnici sono utilizzati al solo fine di rendere
                    possibile la navigazione dell’Utente sul Sito web e
                    consentirgli di utilizzarne le funzionalità. Si tratta
                    sempre di Cookie di prima parte, in quanto sono veicolati
                    direttamente dal Titolare sul Sito web. I Cookie di
                    navigazione sono normalmente Cookie di sessione e, pertanto,
                    una volta chiuso il browser di navigazione, vengono
                    disattivati automaticamente. Altri Cookie tecnici sono utili
                    per consentire di memorizzare alcune preferenze dell’Utente
                    senza doverle reimpostare nel corso delle visite successive
                    (c.d. Cookie di Funzionalità). Per questo motivo, i Cookie
                    di funzionalità sono spesso Cookie persistenti, in quanto
                    rimangono memorizzati nel computer dell’Utente anche dopo la
                    chiusura del browser di navigazione, fino alla data di
                    scadenza per essi prevista o fino a quando l’Utente abbia
                    deciso di eliminarli.
                  </p>
                  <h5 class="p1"><b>Cookie di Terze parti </b></h5>
                  <p class="p2">
                    Questi Cookie sono utilizzati al fine di raccogliere
                    informazioni sull’utilizzo del Sito web fatto da parte degli
                    Utenti in forma anonima quali: pagine visitate, tempo di
                    permanenza, origini del traffico di provenienza, provenienza
                    geografica, età, genere e interessi, ai fini statistici e di
                    attività di marketing. Questi Cookie sono inviati da domini
                    di terze parti esterni al Sito web.
                  </p>
                  <p>&nbsp;</p>
                  <h6 class="p1"><b>STRUMENTI DI CONTATTO </b></h6>
                  <ul>
                    <li class="p1">
                      <b>Elementor (Elementor</b> <b>Ltd)<br /></b>Per maggiori
                      informazioni è sufficiente seguire questo link:<span
                        class="s1"
                      >
                        <a href="https://elementor.com/about/privacy/"
                          ><span class="s2"
                            ><b>https://elementor.com/about/privacy/</b></span
                          ></a
                        ></span
                      >
                    </li>
                  </ul>
                  <h6 class="p1"><b>PULSANTI SOCIAL NETWORK</b></h6>
                  <ol>
                    <li class="p3">
                      <b>LinkedIn<br /></b>Per maggiori informazioni è
                      sufficiente seguire questo link: <b> </b
                      ><a href="https://www.linkedin.com/legal/cookie-policy"
                        ><span class="s1"
                          ><b
                            >https://www.linkedin.com/legal/cookie-policy</b
                          ></span
                        ></a
                      >
                    </li>
                    <li class="p1">
                      <b>Instagram<br /></b>Per maggiori informazioni è
                      sufficiente seguire questo link:&nbsp;<span class="s2"
                        ><a href="https://help.instagram.com/1896641480634370"
                          ><b>https://help.instagram.com/1896641480634370</b
                          ><b></b></a
                      ></span>
                    </li>
                  </ol>
                  <h6 class="p1"><b>METODI DI PAGAMENTO </b></h6>
                  <ul>
                    <li class="p3">
                      <b>Paypal<br /></b>Per maggiori informazioni è sufficiente
                      seguire questo link:<span class="s1"
                        ><b
                          >https://www.paypal.com/it/webapps/mpp/ua/cookie-full</b
                        ></span
                      >
                    </li>
                  </ul>
                  <p>&nbsp;</p>
                  <h4 class="p1"><b>Eliminare o disattivare i Cookie</b></h4>
                  <p class="p2">
                    Fatta eccezione per i Cookie tecnici strettamente necessari
                    alla normale navigazione, il conferimento dei Dati è rimesso
                    alla volontà dell’Utente che decide di navigare sul sito
                    dopo aver preso visione dell’informativa breve contenuta
                    nell’apposito banner e di usufruire dei servizi di terze
                    parti che comportano l’installazione di Cookie. L’Utente può
                    quindi evitare l’installazione dei Cookie mantenendo il
                    banner o attraverso le apposite funzioni disponibili sul
                    proprio browser o in questa policy. L’Utente può gestire le
                    preferenze relative ai Cookie direttamente all’interno del
                    suo browser ed impedire che terze parti possano installarne.
                  </p>
                  <p class="p2">
                    È importante che l’Utente sappia che disabilitando tutti i
                    Cookie, il funzionamento di questo Sito potrebbe essere
                    compromesso.
                  </p>
                  <p class="p3">
                    Ciascun browser presenta procedure diverse per la gestione
                    delle impostazioni.
                  </p>
                  <p class="p3">
                    L’Utente può ottenere istruzioni specifiche attraverso i
                    link sottostanti.
                  </p>
                  <ul>
                    <li class="p3">
                      Eliminare/disattivare i cookie Android al seguente
                      indirizzo:<br /><a
                        href="https://support.google.com/chrome/answer/2392971?hl=it-IT"
                        ><span class="s1"
                          ><b
                            >https://support.google.com/chrome/answer/2392971?hl=it-IT</b
                          ></span
                        ></a
                      >
                    </li>
                    <li class="p3">
                      Eliminare/disattivare i cookie di Mozilla Firefox al
                      seguente indirizzo:<br /><a
                        href="http://support.mozilla.com/it/kb/Eliminare%2520i%2520cookie"
                        ><span class="s1"
                          ><b
                            >http://support.mozilla.com/it/kb/Eliminare%20i%20cookie</b
                          ></span
                        ></a
                      ><br /><span class="s2"><br /></span>
                    </li>
                    <li class="p3">
                      Eliminare/disattivare i cookie con Explorer al seguente
                      indirizzo:<br /><a
                        href="http://windows.microsoft.com/it-IT/windows-vista/Delete-your-Internet-cookies"
                        ><span class="s1"
                          ><b
                            >http://windows.microsoft.com/it-IT/windows-vista/Delete-your-Internet-cookies</b
                          ></span
                        ></a
                      ><br /><span class="s3"><br /></span>
                    </li>
                    <li class="p3">
                      Eliminare/disattivare i cookie con Chrome al seguente
                      indirizzo:<br /><a
                        href="http://support.google.com/chrome/bin/answer.py?hl=it&amp;answer=95647"
                        ><span class="s1"
                          ><b
                            >http://support.google.com/chrome/bin/answer.py?hl=it&amp;answer=95647</b
                          ></span
                        ></a
                      ><br /><span class="s2"><br /></span>
                    </li>
                    <li class="p3">
                      Eliminare/disattivare i cookie con Safari al seguente
                      indirizzo :<br /><a
                        href="http://support.apple.com/kb/PH5042"
                        ><span class="s1"
                          ><b>http://support.apple.com/kb/PH5042</b></span
                        ></a
                      ><br /><span class="s2"><br /></span>
                    </li>
                    <li class="p3">
                      Eliminare/disattivare i cookie con Opera al seguente
                      indirizzo:<br /><a
                        href="http://www.opera.com/browser/tutorials/security/privacy/"
                        ><span class="s1"
                          ><b
                            >http://www.opera.com/browser/tutorials/security/privacy/</b
                          ></span
                        ></a
                      ><br /><span class="s2"><br /></span>
                    </li>
                    <li class="p3">
                      Eliminare/disattivare i cookie iOS al seguente
                      indirizzo:<br /><a
                        href="https://support.apple.com/it-it/HT201265"
                        ><span class="s1"
                          ><b>https://support.apple.com/it-it/HT201265</b></span
                        ></a
                      >
                    </li>
                  </ul>
                  <p>&nbsp;</p>
                  <p class="p1">
                    Per disabilitare i Cookie di terze parti è inoltre possibile
                    utilizzare
                    <span class="s1"
                      ><b>Your Online Choices,</b>
                      <a
                        href="http://www.youronlinechoices.com/it/le-tue-scelte"
                        ><span class="s2"
                          ><b
                            >http://www.youronlinechoices.com/it/le-tue-scelte</b
                          ></span
                        ></a
                      ></span
                    ><b> </b>un servizio web gestito dall’associazione
                    non-profit European Interactive Digital Advertising Alliance
                    (EDAA) che fornisce informazioni sulla pubblicità
                    comportamentale basata sui Cookie di profilazione e consente
                    agli utenti di opporsi facilmente (opt-out) alla loro
                    installazione. Eliminando tutti i Cookie dal proprio browser
                    o rimuovendoli attraverso servizi come Your Online Choices
                    questi, se di terza parte, saranno inibiti genericamente,
                    non solo nel perimetro di questo sito.
                  </p>
                  <h4 class="p1">
                    <span class="s1"><b>Ulteriori </b></span
                    ><b>informazioni sul trattamento</b>
                  </h4>
                  <p class="p2">
                    Su richiesta dell’Utente, in aggiunta alle informazioni
                    contenute in questa Cookie Policy, questo Sito web potrebbe
                    fornire delle Informative aggiuntive e contestuali
                    riguardanti servizi specifici, o la raccolta ed il
                    trattamento di Dati Personali.<span class="s2"><br /></span
                    >Per necessità legate al funzionamento ed alla manutenzione,
                    questo Sito e gli eventuali servizi terzi da esso utilizzati
                    potrebbero raccogliere Log di sistema, ossia file che
                    registrano le interazioni e che possono contenere anche Dati
                    Personali. Maggiori informazioni in relazione al trattamento
                    dei Dati Personali potranno essere richieste in qualsiasi
                    momento al Titolare del Trattamento utilizzando le
                    informazioni di contatto.
                  </p>
                  <h4 class="p1">
                    <b>Esercizio dei diritti dell’interessato</b>
                  </h4>
                  <p class="p2">
                    Ai sensi degli artt. 15-22 del Regolamento Europeo n.
                    679/2016, l’Interessato ha diritto di ottenere la conferma
                    dell’esistenza o meno di dati personali che lo riguardano,
                    anche se non ancora registrati, e la loro comunicazione in
                    forma intelligibile. L’interessato ha diritto di ottenere
                    indicazione:
                  </p>
                  <ul>
                    <li class="p2">a) dell’origine dei dati personali;</li>
                    <li class="p2">
                      b) delle finalità e modalità del trattamento;
                    </li>
                    <li class="p2">
                      c) della logica applicata in caso di trattamento
                      effettuato con l’ausilio di strumenti elettronici;
                    </li>
                    <li class="p2">
                      d) degli estremi identificativi del Titolare e dei
                      Responsabili del Trattamento dei Dati Personali;
                    </li>
                    <li class="p2">
                      e) dei soggetti o delle categorie di soggetti ai quali i
                      Dati Personali possono essere comunicati o che possono
                      venirne a conoscenza in qualità di rappresentante
                      designato nel territorio dello Stato, di responsabili o
                      incaricati;
                    </li>
                    <li class="p2">
                      f) l’aggiornamento, la rettificazione ovvero, quando vi ha
                      interesse, l’integrazione dei Dati;
                    </li>
                    <li class="p2">
                      g) la cancellazione, la trasformazione in forma anonima o
                      il blocco dei dati trattati in violazione di legge,
                      compresi quelli di cui non è necessaria la conservazione
                      in relazione agli scopi per i quali i dati sono stati
                      raccolti o successivamente trattati.<br /><br />
                    </li>
                  </ul>
                  <h4 class="p1"><b>Titolare del Trattamento </b></h4>
                  <p class="p2">
                    Il Titolare del Trattamento dei Dati raccolti da questo Sito
                    web è Dott.ssa Valentina Filippini con sede in Grezzana (VR)
                    alla via Roma n. 98 P.Iva 04408890236 mail:
                    info&#64;valentinafilippini.it
                  </p>
                  <p class="p2">
                    Il Titolare non è responsabile per l’aggiornamento di tutti
                    i link visualizzabili nella presente Cookie Policy, pertanto
                    ogni qualvolta un link non sia funzionante e/o aggiornato,
                    gli Utenti riconoscono ed accettano che dovranno sempre far
                    riferimento al documento e/o sezione dei siti internet
                    richiamati da tale link.
                  </p>
                  <p><!-- /wp:spacer --><!-- wp:paragraph --></p>
                  <p>
                    <em
                      ><strong
                        ><br />Cookie Policy aggiornata a marzo 2023
                      </strong></em
                    >
                  </p>
                  <p>
                    <!-- /wp:paragraph --><!-- wp:spacer {"height":"50px"} -->
                  </p>
                  <p><!-- /wp:spacer --></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="post-tags"></div>
  </div>
</main>
