<div
    class="elementor-menu-cart__container elementor-lightbox"
    (click)="checkIfCloseCartDetail($event)"
    aria-hidden="true"
>
    <div class="elementor-menu-cart__main no-close-cart-details" aria-hidden="true">
        <div class="elementor-menu-cart__close-button"></div>
            <div class="widget_shopping_cart_content no-close-cart-details">
                <div class="woocommerce-mini-cart__empty-message no-close-cart-details">
                    Nessun prodotto nel carrello.
                </div>
            </div>
    </div>
</div>