<div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-consulenza-col-content">
    <div class="elementor-widget-wrap elementor-element-populated">
      <div class="elementor-element elementor-element-consulenza-col-inner elementor-position-top elementor-view-default elementor-mobile-position-top elementor-widget elementor-widget-icon-box">
        <div class="elementor-widget-container">
          <div class="elementor-icon-box-wrapper">
            <div class="elementor-icon-box-icon">
              <a
                [routerLink]="card.redirectUrl"
                class="elementor-icon elementor-animation-"
                tabindex="-1"
              >
                <img width="auto" height="auto" [src]="card.imgUrl">
              </a>
            </div>
            <div class="elementor-icon-box-content">
              <h3 class="elementor-icon-box-title">
                <a [routerLink]="card.redirectUrl">
                  {{card.title}}
                </a>
              </h3>
              <p class="subt">{{card.subtitle}}</p>
              <p class="elementor-icon-box-description"></p>
              <p #descriptionBlock style="font-size: 14px" [class.truncate]="!expanded">
                {{card.description}}
              </p>
              <span
                *ngIf="truncated && !expanded"
                class="myBtn"
                (click)="expanded = true;">
                Continua a leggere la descrizione
              </span>
              <span
                *ngIf="truncated && expanded"
                class="myBtn"
                (click)="expanded = false;">
                Riduci descrizione
              </span>
              <br /><br />
              <p class="price">{{card.time}} - {{card.price}}</p>
              <a
                [routerLink]="card.redirectUrl"
                class="elementor-button"
                role="button"
                target="_blank"
                >{{actionLabel}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>