.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 16px;
}

.example-full-width {
  width: 100%;
}

::ng-deep .my-autocomplete .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 51px !important;
}
::ng-deep .my-autocomplete .mat-mdc-form-field-infix input {
    height: 51px !important;
}

::ng-deep .my-autocomplete .mdc-text-field {
    padding: 0 1px !important;
    border-radius: var(--forms-fields-border-radius,0) !important;
}