.elementor-318 .elementor-element.elementor-main-content-padding {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 3% 3% 5% 3%;
}

.elementor-318 .elementor-element.elementor-element-d62b144 {
    text-align: left;
}

.elementor-318 .elementor-element.elementor-element-d62b144 .elementor-heading-title {
    color: var( --e-global-color-primary );
    font-family: "DM Serif Display", Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-318 .elementor-element.elementor-element-11bb523 {
    text-align: left;
}

.elementor-318 .elementor-element.elementor-element-11bb523 .elementor-heading-title {
    color: var( --e-global-color-text );
    font-family: "Poppins", Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.elementor-318 .elementor-element.elementor-element-11bb523 > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-318 .elementor-element.elementor-element-77c8c0b > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 20px 0px 1px;
}

.elementor-318 .elementor-element.elementor-element-a1daac1 {
    font-family: var( --e-global-typography-text-font-family ), Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
    /* z-index: 2; */
}

.elementor-318 .elementor-element.elementor-element-0c7458a {
    font-family: var( --e-global-typography-text-font-family ), Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-318 .elementor-element.elementor-element-0c7458a > .elementor-widget-container {
    margin: 20px 0px -25px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-b0b8d2b .elementor-button {
    font-family: "Raleway", Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: var( --e-global-color-primary );
    border-radius: 50px 50px 50px 50px;
}

.elementor-318 .elementor-element.elementor-element-b0b8d2b .elementor-button:hover, .elementor-318 .elementor-element.elementor-element-b0b8d2b .elementor-button:focus {
    color: var( --e-global-color-0482cab );
    background-color: var( --e-global-color-accent );
}

.elementor-318 .elementor-element.elementor-element-b0b8d2b .elementor-button:hover svg, .elementor-318 .elementor-element.elementor-element-b0b8d2b .elementor-button:focus svg {
    fill: var( --e-global-color-0482cab );
}

.elementor-318 .elementor-element.elementor-element-b0b8d2b > .elementor-widget-container {
    margin: 0px 20px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-b0b8d2b {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-318 .elementor-element.elementor-element-f787276.elementor-column .elementor-widget-wrap {
    align-items: flex-end;
}

.elementor-318 .elementor-element.elementor-element-f787276.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-318 .elementor-element.elementor-element-f787276 > .elementor-element-populated {
    padding: 0px 0px 0px 20px;
}

.elementor-318 .elementor-element.elementor-element-c5f061b img {
    max-width: 530px;
    border-radius: 20px 20px 20px 20px;
}

.elementor-318 .elementor-element.elementor-element-c5f061b {
    right: 158.2px;
}

.elementor-318 .elementor-element.elementor-element-c5f061b {
    bottom: -6vw;
    z-index: -2;
}

.elementor-318 .elementor-element.elementor-element-3b37f9a:not(.elementor-motion-effects-element-type-background), .elementor-318 .elementor-element.elementor-element-3b37f9a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FDF9F6;
}

.elementor-318 .elementor-element.elementor-element-3b37f9a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0%;
    margin-bottom: 8%;
    padding: 5% 3% 5% 3%;
    /* z-index: 3; */
}

.elementor-318 .elementor-element.elementor-element-3b37f9a > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-318 .elementor-element.elementor-element-d6b1c1e {
    text-align: left;
}

.elementor-318 .elementor-element.elementor-element-d6b1c1e .elementor-heading-title {
    color: var( --e-global-color-primary );
    font-family: "DM Serif Display", Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-318 .elementor-element.elementor-element-b58739b {
    text-align: left;
}

.elementor-318 .elementor-element.elementor-element-b58739b .elementor-heading-title {
    color: var( --e-global-color-text );
    font-family: "Poppins", Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.elementor-318 .elementor-element.elementor-element-b58739b > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-318 .elementor-element.elementor-element-7d92f58 > .elementor-element-populated {
    padding: 9px 15px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-37184c8 {
    font-family: var( --e-global-typography-text-font-family ), Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px/2);
}

.elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px/2);
}

.elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(12px/2);
    margin-left: calc(12px/2);
}

.elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px/2);
    margin-left: calc(-12px/2);
}

.elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-12px/2);
}

.elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-12px/2);
}

.elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-icon i {
    color: var( --e-global-color-accent );
    transition: color 0.3s;
}

.elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent );
    transition: fill 0.3s;
}

.elementor-318 .elementor-element.elementor-element-4e03f43 {
    --e-icon-list-icon-size: 17px;
    --icon-vertical-offset: 0px;
}

.elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-item > a {
    font-family: var( --e-global-typography-text-font-family ), Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-text {
    color: var( --e-global-color-text );
    transition: color 0.3s;
}

.elementor-318 .elementor-element.elementor-element-4e03f43 > .elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-86e9179 > .elementor-element-populated {
    padding: 9px 0px 0px 20px;
}

.elementor-318 .elementor-element.elementor-element-645abd7 {
    font-family: var( --e-global-typography-text-font-family ), Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-318 .elementor-element.elementor-element-645abd7 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px/2);
}

.elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px/2);
}

.elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(12px/2);
    margin-left: calc(12px/2);
}

.elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px/2);
    margin-left: calc(-12px/2);
}

.elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-12px/2);
}

.elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-12px/2);
}

.elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-icon i {
    color: var( --e-global-color-accent );
    transition: color 0.3s;
}

.elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent );
    transition: fill 0.3s;
}

.elementor-318 .elementor-element.elementor-element-095f1d7 {
    --e-icon-list-icon-size: 17px;
    --icon-vertical-offset: 0px;
}

.elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-item > a {
    font-family: var( --e-global-typography-text-font-family ), Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-text {
    color: var( --e-global-color-text );
    transition: color 0.3s;
}

.elementor-318 .elementor-element.elementor-element-095f1d7 > .elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-b8056c5 {
    --spacer-size: 80px;
}

.elementor-318 .elementor-element.elementor-element-067cc10 {
    font-family: var( --e-global-typography-text-font-family ), Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: var( --e-global-typography-text-font-size );
    font-weight: var( --e-global-typography-text-font-weight );
}

.elementor-318 .elementor-element.elementor-element-067cc10 > .elementor-widget-container {
    margin: 0px 0px -25px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-2c7b02f .elementor-button {
    font-family: "Raleway", Calibri Light, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: var( --e-global-color-primary );
    border-radius: 50px 50px 50px 50px;
}

.elementor-318 .elementor-element.elementor-element-2c7b02f .elementor-button:hover, .elementor-318 .elementor-element.elementor-element-2c7b02f .elementor-button:focus {
    color: var( --e-global-color-0482cab );
    background-color: var( --e-global-color-accent );
}

.elementor-318 .elementor-element.elementor-element-2c7b02f .elementor-button:hover svg, .elementor-318 .elementor-element.elementor-element-2c7b02f .elementor-button:focus svg {
    fill: var( --e-global-color-0482cab );
}

.elementor-318 .elementor-element.elementor-element-2c7b02f > .elementor-widget-container {
    margin: 0px 20px 0px 0px;
}

.elementor-318 .elementor-element.elementor-element-2c7b02f {
    width: auto;
    max-width: auto;
}

.elementor-318 .elementor-element.elementor-element-60c5c0e {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

@media(min-width: 768px) {
    .elementor-318 .elementor-element.elementor-element-77c8c0b {
        width:75%;
    }

    .elementor-318 .elementor-element.elementor-element-f787276 {
        width: 25%;
    }
}

@media(max-width: 1024px) {
    .elementor-318 .elementor-element.elementor-main-content-padding {
        margin-top:0px;
        margin-bottom: 0px;
        padding: 5% 3% 5% 3%;
    }

    .elementor-318 .elementor-element.elementor-main-content-inner > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-318 .elementor-element.elementor-element-11bb523 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-318 .elementor-element.elementor-element-77c8c0b > .elementor-element-populated {
        padding: 0% 33% 0% 0%;
    }

    .elementor-318 .elementor-element.elementor-element-a1daac1 {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-0c7458a {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-0c7458a > .elementor-widget-container {
        margin: 0px 0px -20px 0px;
    }

    .elementor-318 .elementor-element.elementor-element-f787276 > .elementor-element-populated {
        padding: 0% 31% 0% 0%;
    }

    .elementor-318 .elementor-element.elementor-element-c5f061b img {
        max-width: 715px;
    }

    .elementor-318 .elementor-element.elementor-element-c5f061b {
        right: -30vw;
    }

    /* .elementor-318 .elementor-element.elementor-element-c5f061b {
        left: -30vw;
    } */

    .elementor-318 .elementor-element.elementor-element-c5f061b {
        bottom: -83px;
    }

    .elementor-318 .elementor-element.elementor-element-3b37f9a {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 5% 3% 5% 3%;
    }

    .elementor-318 .elementor-element.elementor-element-740ef08 > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-318 .elementor-element.elementor-element-b58739b .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-318 .elementor-element.elementor-element-7d92f58 > .elementor-element-populated {
        padding: 0px 10px 0px 0px;
    }

    .elementor-318 .elementor-element.elementor-element-37184c8 {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-item > a {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-86e9179 > .elementor-element-populated {
        padding: 0px 10px 0px 0px;
    }

    .elementor-318 .elementor-element.elementor-element-645abd7 {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-item > a {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-b8056c5 {
        --spacer-size: 12vh;
    }

    .elementor-318 .elementor-element.elementor-element-067cc10 {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-067cc10 > .elementor-widget-container {
        margin: 0px 0px -20px 0px;
    }
}

@media(max-width: 767px) {

    .elementor-318 .elementor-element.elementor-main-content-padding {
        padding: 40px 20px 40px 20px;
    }

    .elementor-318 .elementor-element.elementor-element-11bb523 .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-318 .elementor-element.elementor-element-77c8c0b > .elementor-element-populated {
        padding: 0% 0% 0% 0%;
    }

    .elementor-318 .elementor-element.elementor-element-a1daac1 {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-0c7458a {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-b0b8d2b .elementor-button {
        font-size: 16px;
    }

    .elementor-318 .elementor-element.elementor-element-f787276 > .elementor-element-populated {
        padding: 0% 0% 0% 0%;
    }

    .elementor-318 .elementor-element.elementor-element-3b37f9a {
        padding: 40px 20px 40px 20px;
    }

    .elementor-318 .elementor-element.elementor-element-b58739b .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-318 .elementor-element.elementor-element-37184c8 {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-318 .elementor-element.elementor-element-4e03f43 .elementor-icon-list-item > a {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-645abd7 {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-645abd7 > .elementor-widget-container {
        margin: 25px 0px 0px 0px;
    }

    .elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-318 .elementor-element.elementor-element-095f1d7 .elementor-icon-list-item > a {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-b8056c5 {
        --spacer-size: 0vh;
    }

    .elementor-318 .elementor-element.elementor-element-067cc10 {
        font-size: var( --e-global-typography-text-font-size );
    }

    .elementor-318 .elementor-element.elementor-element-2c7b02f .elementor-button {
        font-size: 16px;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-318 .elementor-element.elementor-main-content-inner {
        width:100%;
    }

    .elementor-318 .elementor-element.elementor-element-77c8c0b {
        width: 100%;
    }

    .elementor-318 .elementor-element.elementor-element-f787276 {
        width: 100%;
    }

    .elementor-318 .elementor-element.elementor-element-740ef08 {
        width: 100%;
    }

    .elementor-318 .elementor-element.elementor-element-7d92f58 {
        width: 50%;
    }

    .elementor-318 .elementor-element.elementor-element-86e9179 {
        width: 50%;
    }
}


.elementor-318 .elementor-main-content-inner > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 20px 0px 1px;
}

@media (max-width: 1024px) {
    .elementor-318 .elementor-main-content-inner > .elementor-element-populated {
        padding: 0% 33% 0% 0%;
    }
}
