<div class="elementor elementor-39">

  <app-main-title-center [title]="'Privati'"></app-main-title-center>
  
  <section
    appear
    class="elementor-section elementor-top-section elementor-element elementor-main-content-padding elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
    data-settings='{"animation":"zoomIn"}'
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        appear
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-main-content-inner elementor-invisible"
        data-settings='{"animation":"slideInLeft"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-secondary-title-div elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Servizio ai privati
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-third-title-div elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Consulenza ai privati
              </h2>
            </div>
          </div>
          <section class="elementor-section elementor-inner-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
            <div class="elementor-container elementor-column-gap-default">
              <div
                appear
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-paragraph-content-divf elementor-invisible"
                data-settings='{"animation":"slideInLeft"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-paragraph-content elementor-widget elementor-widget-text-editor">
                    <div class="elementor-widget-container">
                      <p>
                        Molti si chiedono cosa può fare un Consulente del Lavoro
                        per i privati.
                        <strong>Moltissimo è la mia risposta</strong>. Affianco
                        i lavoratori dipendenti, fornendo loro chiarimenti e
                        supporto su tutto ciò che riguarda il proprio contratto
                        di lavoro, <strong>come ad esempio:</strong>
                      </p>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-paragraph-list-wrapper elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list">
                    <div class="elementor-widget-container">
                      <ul class="elementor-icon-list-items">
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-check"></i>
                          </span>
                          <span class="elementor-icon-list-text"
                            >Imparare a leggere la propria busta paga</span
                          >
                        </li>
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-check"></i>
                          </span>
                          <span class="elementor-icon-list-text">
                            Verificare la correttezza della propria busta
                            paga</span
                          >
                        </li>
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-check"></i>
                          </span>
                          <span class="elementor-icon-list-text"
                            >Effettuare le dimissioni on line</span
                          >
                        </li>
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-check"></i>
                          </span>
                          <span class="elementor-icon-list-text"
                            >Rendere consapevoli i lavoratori dei propri diritti
                            in determinate situazioni</span
                          >
                        </li>
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-check"></i>
                          </span>
                          <span class="elementor-icon-list-text">
                            Gestire conciliazione vita-lavoro per i genitori
                            lavoratori dipendenti o autonomi</span
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div
                    appear
                    class="elementor-element elementor-element-footer-title-action elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button elementor-invisible"
                    data-settings='{"animation":"tada","delay":200}'
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-button-wrapper">
                        <a
                          class="elementor-button elementor-button-link elementor-size-md"
                          routerLink="/privati/consulenza"
                        >
                          <span class="elementor-button-content-wrapper">
                            <span class="elementor-button-icon elementor-align-icon-right">
                              <i aria-hidden="true" class="fas fa-long-arrow-alt-right"></i>
                            </span>
                            <span class="elementor-button-text">Prenota una Consulenza</span>
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bg-imge-wrapper">
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div class="elementor-element elementor-element-bg-imge-div elementor-widget elementor-widget-image">
                    <div class="elementor-widget-container">
                      <img
                          decoding="async"
                          width="1"
                          height="1"
                          src="assets/svg/consulenza_del_lavoro.svg"
                          class="attachment-large size-large wp-image-2785 lazyload"
                          alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section
    appear
    class="elementor-section elementor-top-section elementor-element elementor-element-secondary-section elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
    data-settings='{"animation":"zoomIn","background_background":"classic"}'
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        appear
        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-secondary-section-left-col elementor-hidden-tablet elementor-hidden-mobile elementor-invisible"
        data-settings='{"animation":"slideInLeft"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-secondary-section-left-col-img elementor-widget elementor-widget-image">
            <div class="elementor-widget-container">
              <img
                  decoding="async"
                  width="1"
                  height="1"
                  src="assets/svg/collaboratori-domestici.svg"
                  class="attachment-large size-large wp-image-3464 lazyload"
                  alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div
        appear
        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-secondary-section-right-col elementor-invisible"
        data-settings='{"animation":"slideInLeft"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-secondary-section-right-col-title elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Servizio ai privati
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-element-secondary-section-right-col-subtitle elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Gestione collaboratori domestici
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-element-secondary-section-right-col-text elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              <p>
                È sempre più diffusa la necessità per le famiglie di un
                collaboratore per la gestione della propria casa o per l’
                assistenza dei propri cari. Tutti questi collaboratori devono
                essere gestiti correttamente in modo da garantire tutele,
                sicurezza e chiarezza dei rapporti.
                <strong>Per questo mi occupo di:</strong>
              </p>
            </div>
          </div>
          <div class="elementor-element elementor-element-secondary-section-right-col-list-wrap elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list">
            <div class="elementor-widget-container">
              <ul class="elementor-icon-list-items">
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Calcoli di costo di un lavoratore domestico</span
                  >
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Assunzioni, trasformazioni e cessazioni
                  </span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Adempimenti periodici amministrativi quali la
                    predisposizione della busta paga e dei contributi,
                    predisposizione MAV per il pagamento dei contributi
                    trimestrali
                  </span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Predisposizione certificazioni annuali
                  </span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Elaborazione prospetti di liquidazione dei ratei e del
                    TFR
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div
            appear
            class="elementor-element elementor-element-secondary-section-right-col-action-btn elementor-align-left elementor-widget__width-auto elementor-invisible elementor-widget elementor-widget-button"
            data-settings='{"animation":"tada","delay":200}'
          >
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a
                  class="elementor-button elementor-button-link elementor-size-md"
                  routerLink="/privati/consulenza"
                >
                  <span class="elementor-button-content-wrapper">
                    <span class="elementor-button-icon elementor-align-icon-right">
                      <i aria-hidden="true" class="fas fa-long-arrow-alt-right"></i>
                    </span>
                    <span class="elementor-button-text">
                      Prenota una Consulenza
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <app-recent-articles></app-recent-articles>

</div>
