<div
  data-elementor-type="wp-page"
  data-elementor-id="39"
  class="elementor elementor-39"
  data-elementor-post-type="page"
>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-caddd2e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="caddd2e"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7893669"
        data-id="7893669"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-02c5d56 elementor-widget elementor-widget-heading"
            data-id="02c5d56"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Privati
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    appear
    class="elementor-section elementor-top-section elementor-element elementor-element-752a2de elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
    data-id="752a2de"
    data-element_type="section"
    data-settings='{"animation":"zoomIn"}'
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        appear
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-62477be elementor-invisible"
        data-id="62477be"
        data-element_type="column"
        data-settings='{"animation":"slideInLeft"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-9ae04d1 elementor-widget elementor-widget-heading"
            data-id="9ae04d1"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Servizio ai privati
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-56347f5 elementor-widget elementor-widget-heading"
            data-id="56347f5"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Consulenza ai privati
              </h2>
            </div>
          </div>
          <section
            class="elementor-section elementor-inner-section elementor-element elementor-element-a6bd70d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
            data-id="a6bd70d"
            data-element_type="section"
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                appear
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0b47f1f elementor-invisible"
                data-id="0b47f1f"
                data-element_type="column"
                data-settings='{"animation":"slideInLeft"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-bd493c2 elementor-widget elementor-widget-text-editor"
                    data-id="bd493c2"
                    data-element_type="widget"
                    data-widget_type="text-editor.default"
                  >
                    <div class="elementor-widget-container">
                      <p>
                        Molti si chiedono cosa può fare un Consulente del Lavoro
                        per i privati.
                        <strong>Moltissimo è la mia risposta</strong>. Affianco
                        i lavoratori dipendenti, fornendo loro chiarimenti e
                        supporto su tutto ciò che riguarda il proprio contratto
                        di lavoro, <strong>come ad esempio:</strong>
                      </p>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-2580e5b elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                    data-id="2580e5b"
                    data-element_type="widget"
                    data-widget_type="icon-list.default"
                  >
                    <div class="elementor-widget-container">
                      <ul class="elementor-icon-list-items">
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-check"></i>
                          </span>
                          <span class="elementor-icon-list-text"
                            >Imparare a leggere la propria busta paga</span
                          >
                        </li>
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-check"></i>
                          </span>
                          <span class="elementor-icon-list-text">
                            Verificare la correttezza della propria busta
                            paga</span
                          >
                        </li>
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-check"></i>
                          </span>
                          <span class="elementor-icon-list-text"
                            >Effettuare le dimissioni on line</span
                          >
                        </li>
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-check"></i>
                          </span>
                          <span class="elementor-icon-list-text"
                            >Rendere consapevoli i lavoratori dei propri diritti
                            in determinate situazioni</span
                          >
                        </li>
                        <li class="elementor-icon-list-item">
                          <span class="elementor-icon-list-icon">
                            <i aria-hidden="true" class="fas fa-check"></i>
                          </span>
                          <span class="elementor-icon-list-text">
                            Gestire conciliazione vita-lavoro per i genitori
                            lavoratori dipendenti o autonomi</span
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div
                    appear
                    class="elementor-element elementor-element-4b45cf0 elementor-align-left elementor-widget__width-auto elementor-widget elementor-widget-button elementor-invisible"
                    data-id="4b45cf0"
                    data-element_type="widget"
                    data-settings='{"animation":"tada","delay":200}'
                    data-widget_type="button.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="elementor-button-wrapper">
                        <a
                          class="elementor-button elementor-button-link elementor-size-md"
                          href="/privati/consulenza"
                        >
                          <span class="elementor-button-content-wrapper">
                            <span
                              class="elementor-button-icon elementor-align-icon-right"
                            >
                              <i
                                aria-hidden="true"
                                class="fas fa-long-arrow-alt-right"
                              ></i>
                            </span>
                            <span class="elementor-button-text"
                              >Prenota una Consulenza</span
                            >
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2063e32"
                data-id="2063e32"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-bd808b2 elementor-widget elementor-widget-image"
                    data-id="bd808b2"
                    data-element_type="widget"
                    data-widget_type="image.default"
                  >
                    <div class="elementor-widget-container">
                      <img
                        decoding="async"
                        width="1"
                        height="1"
                        src="https://valentinafilippini.it/wp-content/uploads/2022/07/consulenza_del_lavoro.svg"
                        data-src="https://valentinafilippini.it/wp-content/uploads/2022/07/consulenza_del_lavoro.svg"
                        class="attachment-large size-large wp-image-2785 ls-is-cached lazyloaded"
                        alt=""
                      /><noscript
                        ><img
                          decoding="async"
                          width="1"
                          height="1"
                          src="https://valentinafilippini.it/wp-content/uploads/2022/07/consulenza_del_lavoro.svg"
                          class="attachment-large size-large wp-image-2785 lazyload"
                          alt=""
                      /></noscript>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section
    appear
    class="elementor-section elementor-top-section elementor-element elementor-element-fb47889 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
    data-id="fb47889"
    data-element_type="section"
    data-settings='{"animation":"zoomIn","background_background":"classic"}'
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        appear
        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-61bef26 elementor-hidden-tablet elementor-hidden-mobile elementor-invisible"
        data-id="61bef26"
        data-element_type="column"
        data-settings='{"animation":"slideInLeft"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-353bbc1 elementor-widget elementor-widget-image"
            data-id="353bbc1"
            data-element_type="widget"
            data-widget_type="image.default"
          >
            <div class="elementor-widget-container">
              <img
                decoding="async"
                width="1"
                height="1"
                src="https://valentinafilippini.it/wp-content/uploads/2022/07/collaboratori-domestici.svg"
                data-src="https://valentinafilippini.it/wp-content/uploads/2022/07/collaboratori-domestici.svg"
                class="attachment-large size-large wp-image-3464 ls-is-cached lazyloaded"
                alt=""
              /><noscript
                ><img
                  decoding="async"
                  width="1"
                  height="1"
                  src="https://valentinafilippini.it/wp-content/uploads/2022/07/collaboratori-domestici.svg"
                  class="attachment-large size-large wp-image-3464 lazyload"
                  alt=""
              /></noscript>
            </div>
          </div>
        </div>
      </div>
      <div
        appear
        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-18b1157 elementor-invisible"
        data-id="18b1157"
        data-element_type="column"
        data-settings='{"animation":"slideInLeft"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-cd2a3b2 elementor-widget elementor-widget-heading"
            data-id="cd2a3b2"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Servizio ai privati
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-b904f7a elementor-widget elementor-widget-heading"
            data-id="b904f7a"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Gestione collaboratori domestici
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-a35bd01 elementor-widget elementor-widget-text-editor"
            data-id="a35bd01"
            data-element_type="widget"
            data-widget_type="text-editor.default"
          >
            <div class="elementor-widget-container">
              <p>
                È sempre più diffusa la necessità per le famiglie di un
                collaboratore per la gestione della propria casa o per l’
                assistenza dei propri cari. Tutti questi collaboratori devono
                essere gestiti correttamente in modo da garantire tutele,
                sicurezza e chiarezza dei rapporti.
                <strong>Per questo mi occupo di:</strong>
              </p>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-e4b4499 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
            data-id="e4b4499"
            data-element_type="widget"
            data-widget_type="icon-list.default"
          >
            <div class="elementor-widget-container">
              <ul class="elementor-icon-list-items">
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Calcoli di costo di un lavoratore domestico</span
                  >
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="elementor-icon-list-text"
                    >Assunzioni, trasformazioni e cessazioni</span
                  >
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Adempimenti periodici amministrativi quali la
                    predisposizione della busta paga e dei contributi,
                    predisposizione MAV per il pagamento dei contributi
                    trimestrali</span
                  >
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Predisposizione certificazioni annuali</span
                  >
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-check"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Elaborazione prospetti di liquidazione dei ratei e del
                    TFR</span
                  >
                </li>
              </ul>
            </div>
          </div>
          <div
            appear
            class="elementor-element elementor-element-6d54c8a elementor-align-left elementor-widget__width-auto elementor-invisible elementor-widget elementor-widget-button"
            data-id="6d54c8a"
            data-element_type="widget"
            data-settings='{"animation":"tada","delay":200}'
            data-widget_type="button.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a
                  class="elementor-button elementor-button-link elementor-size-md"
                  href="/privati/consulenza"
                >
                  <span class="elementor-button-content-wrapper">
                    <span
                      class="elementor-button-icon elementor-align-icon-right"
                    >
                      <i
                        aria-hidden="true"
                        class="fas fa-long-arrow-alt-right"
                      ></i>
                    </span>
                    <span class="elementor-button-text"
                      >Prenota una Consulenza</span
                    >
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-0da9ea1 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
    data-id="0da9ea1"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-no">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-21e05bd"
        data-id="21e05bd"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-33efae6 elementor-widget elementor-widget-template"
            data-id="33efae6"
            data-element_type="widget"
            data-widget_type="template.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-template">
                <div
                  data-elementor-type="section"
                  data-elementor-id="122"
                  class="elementor elementor-element-articles-wrapper"
                  data-elementor-post-type="elementor_library"
                >
                  <section
                    appear
                    class="elementor-section elementor-top-section elementor-element elementor-element-articles-inner-section elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
                    data-id="36895f3"
                    data-element_type="section"
                    data-settings='{"animation":"fadeIn"}'
                  >
                    <div
                      class="elementor-container elementor-column-gap-default"
                    >
                      <div
                        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-03a2165"
                        data-id="03a2165"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-widget-wrap elementor-element-populated"
                        >
                          <div
                            class="elementor-element elementor-element-articles-section-title elementor-widget elementor-widget-heading"
                            data-id="8632e56"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <h2
                                class="elementor-heading-title elementor-size-default"
                              >
                                Ultimi articoli
                              </h2>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-articles-section-description elementor-widget elementor-widget-text-editor"
                            data-id="2c06d15"
                            data-element_type="widget"
                            data-widget_type="text-editor.default"
                          >
                            <div class="elementor-widget-container">
                              <p>Dal blog</p>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-articles-grid-container elementor-posts--align-left elementor-grid-tablet-3 elementor-grid-3 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-widget elementor-widget-posts"
                            data-id="a5b8e41"
                            data-element_type="widget"
                            data-settings='{"classic_row_gap":{"unit":"px","size":0,"sizes":[]},"classic_row_gap_mobile":{"unit":"px","size":25,"sizes":[]},"classic_columns_tablet":"3","classic_columns":"3","classic_columns_mobile":"1","classic_row_gap_tablet":{"unit":"px","size":"","sizes":[]}}'
                            data-widget_type="posts.classic"
                          >
                            <div class="elementor-widget-container">
                              <div
                                class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid elementor-has-item-ratio"
                              >
                                <article
                                  class="elementor-post elementor-grid-item post-6517 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-allattamento tag-dipendenti tag-maternita-2"
                                >
                                  <a
                                    class="elementor-post__thumbnail__link"
                                    href="https://valentinafilippini.it/permessi-allattamento-domande-frequenti/"
                                    tabindex="-1"
                                    ><div class="elementor-post__thumbnail">
                                      <img
                                        decoding="async"
                                        width="686"
                                        height="397"
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                        data-src="https://valentinafilippini.it/wp-content/uploads/2023/10/Cover-Sito-Linkedin-5.png"
                                        class="attachment-full size-full wp-image-6521 lazyload"
                                        alt=""
                                      /><noscript
                                        ><img
                                          decoding="async"
                                          width="686"
                                          height="397"
                                          src="https://valentinafilippini.it/wp-content/uploads/2023/10/Cover-Sito-Linkedin-5.png"
                                          class="attachment-full size-full wp-image-6521 lazyload"
                                          alt=""
                                          srcset="
                                            https://valentinafilippini.it/wp-content/uploads/2023/10/Cover-Sito-Linkedin-5.png         686w,
                                            https://valentinafilippini.it/wp-content/uploads/2023/10/Cover-Sito-Linkedin-5-300x174.png 300w,
                                            https://valentinafilippini.it/wp-content/uploads/2023/10/Cover-Sito-Linkedin-5-600x347.png 600w
                                          "
                                          sizes="(max-width: 686px) 100vw, 686px"
                                      /></noscript>
                                    </div>
                                  </a>
                                  <div class="elementor-post__text">
                                    <h3 class="elementor-post__title">
                                      <a
                                        href="https://valentinafilippini.it/permessi-allattamento-domande-frequenti/"
                                      >
                                        Permessi allattamento: domande frequenti
                                      </a>
                                    </h3>
                                    <div class="elementor-post__meta-data">
                                      <span class="elementor-post-date">
                                        31 Ottobre 2023
                                      </span>
                                    </div>
                                    <div class="elementor-post__excerpt">
                                      <p>
                                        Cosa sono? Chi può richiederli? Come si
                                        presenta la domanda? Fino a quando
                                        possono essere utilizzati? È prevista
                                      </p>
                                    </div>
                                    <a
                                      class="elementor-post__read-more"
                                      href="https://valentinafilippini.it/permessi-allattamento-domande-frequenti/"
                                      aria-label="Read more about Permessi allattamento: domande frequenti"
                                      tabindex="-1"
                                    >
                                      Leggi Tutto »
                                    </a>
                                  </div>
                                </article>
                                <article
                                  class="elementor-post elementor-grid-item post-5736 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-dimissioni tag-lavoratori tag-licenziamento"
                                >
                                  <a
                                    class="elementor-post__thumbnail__link"
                                    href="https://valentinafilippini.it/divieto-licenziamento-dimissioni-naspi-papa/"
                                    tabindex="-1"
                                    ><div class="elementor-post__thumbnail">
                                      <img
                                        decoding="async"
                                        width="686"
                                        height="397"
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                        data-src="https://valentinafilippini.it/wp-content/uploads/2023/03/Cover-Sito-Linkedin-licenziamento-e-dimissioni-papa-2023.png"
                                        class="attachment-full size-full wp-image-5737 lazyload"
                                        alt=""
                                      /><noscript
                                        ><img
                                          decoding="async"
                                          width="686"
                                          height="397"
                                          src="https://valentinafilippini.it/wp-content/uploads/2023/03/Cover-Sito-Linkedin-licenziamento-e-dimissioni-papa-2023.png"
                                          class="attachment-full size-full wp-image-5737 lazyload"
                                          alt=""
                                          srcset="
                                            https://valentinafilippini.it/wp-content/uploads/2023/03/Cover-Sito-Linkedin-licenziamento-e-dimissioni-papa-2023.png         686w,
                                            https://valentinafilippini.it/wp-content/uploads/2023/03/Cover-Sito-Linkedin-licenziamento-e-dimissioni-papa-2023-300x174.png 300w,
                                            https://valentinafilippini.it/wp-content/uploads/2023/03/Cover-Sito-Linkedin-licenziamento-e-dimissioni-papa-2023-600x347.png 600w
                                          "
                                          sizes="(max-width: 686px) 100vw, 686px"
                                      /></noscript>
                                    </div>
                                  </a>
                                  <div class="elementor-post__text">
                                    <h3 class="elementor-post__title">
                                      <a
                                        href="https://valentinafilippini.it/divieto-licenziamento-dimissioni-naspi-papa/"
                                      >
                                        Divieto di licenziamento, dimissioni e
                                        NASPI per il papà
                                      </a>
                                    </h3>
                                    <div class="elementor-post__meta-data">
                                      <span class="elementor-post-date">
                                        29 Marzo 2023
                                      </span>
                                    </div>
                                    <div class="elementor-post__excerpt">
                                      <p>
                                        Per il lavoratore padre che fruisce del
                                        congedo di paternità obbligatorio e/o
                                        del congedo di paternità alternativo,
                                        vige
                                      </p>
                                    </div>
                                    <a
                                      class="elementor-post__read-more"
                                      href="https://valentinafilippini.it/divieto-licenziamento-dimissioni-naspi-papa/"
                                      aria-label="Read more about Divieto di licenziamento, dimissioni e NASPI per il papà"
                                      tabindex="-1"
                                    >
                                      Leggi Tutto »
                                    </a>
                                  </div>
                                </article>
                                <article
                                  class="elementor-post elementor-grid-item post-5158 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-agevolazioni tag-assunzioni-2 tag-donne tag-giovani"
                                >
                                  <a
                                    class="elementor-post__thumbnail__link"
                                    href="https://valentinafilippini.it/esonero-contributivo-assunzione-donne-giovani-under-36/"
                                    tabindex="-1"
                                    ><div class="elementor-post__thumbnail">
                                      <img
                                        decoding="async"
                                        width="686"
                                        height="397"
                                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                                        data-src="https://valentinafilippini.it/wp-content/uploads/2023/02/Cover-Sito-Linkedin-esonero-contributivo-assunzione-donne-e-giovani.png"
                                        class="attachment-full size-full wp-image-5160 lazyload"
                                        alt=""
                                      /><noscript
                                        ><img
                                          decoding="async"
                                          width="686"
                                          height="397"
                                          src="https://valentinafilippini.it/wp-content/uploads/2023/02/Cover-Sito-Linkedin-esonero-contributivo-assunzione-donne-e-giovani.png"
                                          class="attachment-full size-full wp-image-5160 lazyload"
                                          alt=""
                                          srcset="
                                            https://valentinafilippini.it/wp-content/uploads/2023/02/Cover-Sito-Linkedin-esonero-contributivo-assunzione-donne-e-giovani.png         686w,
                                            https://valentinafilippini.it/wp-content/uploads/2023/02/Cover-Sito-Linkedin-esonero-contributivo-assunzione-donne-e-giovani-300x174.png 300w,
                                            https://valentinafilippini.it/wp-content/uploads/2023/02/Cover-Sito-Linkedin-esonero-contributivo-assunzione-donne-e-giovani-600x347.png 600w
                                          "
                                          sizes="(max-width: 686px) 100vw, 686px"
                                      /></noscript>
                                    </div>
                                  </a>
                                  <div class="elementor-post__text">
                                    <h3 class="elementor-post__title">
                                      <a
                                        href="https://valentinafilippini.it/esonero-contributivo-assunzione-donne-giovani-under-36/"
                                      >
                                        Esonero contributivo per assunzione di
                                        donne e giovani under 36
                                      </a>
                                    </h3>
                                    <div class="elementor-post__meta-data">
                                      <span class="elementor-post-date">
                                        1 Febbraio 2023
                                      </span>
                                    </div>
                                    <div class="elementor-post__excerpt">
                                      <p>
                                        La Legge di Bilancio 2023 ha previsto la
                                        proroga per l’anno 2023 dello sgravio
                                        contributivo per l’assunzione di
                                      </p>
                                    </div>
                                    <a
                                      class="elementor-post__read-more"
                                      href="https://valentinafilippini.it/esonero-contributivo-assunzione-donne-giovani-under-36/"
                                      aria-label="Read more about Esonero contributivo per assunzione di donne e giovani under 36"
                                      tabindex="-1"
                                    >
                                      Leggi Tutto »
                                    </a>
                                  </div>
                                </article>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
