<p>
  Ciao <strong>gerrycorbisiero</strong> (non sei
  <strong>gerrycorbisiero</strong>?
  <a
    href="https://valentinafilippini.it/mio-account/customer-logout/?elementor_wc_logout=true&amp;elementor_my_account_redirect=https%3A%2F%2Fvalentinafilippini.it%2Fmio-account%2F&amp;_wpnonce=a209315344"
    >Logout</a
  >)
</p>

<p>
  Dalla bacheca del tuo account puoi visualizzare i tuoi
  <a routerLink="/area-riservata/ordini">ordini recenti</a>, gestire il tuo
  <a routerLink="/area-riservata/indirizzi">indirizzo di fatturazione</a>
  e
  <a href="https://valentinafilippini.it/mio-account/edit-account/"
    >modificare la password e i dettagli del tuo account</a
  >.
</p>
