<main
  id="content"
  class="site-main page hentry"
>
  <div class="page-content">
    <div
      data-elementor-type="wp-page"
      data-elementor-id="3895"
      class="elementor elementor-3895"
      data-elementor-post-type="page"
    >
      <app-intestazione-area-riservata></app-intestazione-area-riservata>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-area-riservata-content-main elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="1b9bc7b6"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-75c3f2bd"
            data-id="75c3f2bd"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-area-riservata-content-div e-my-account-tabs-vertical elementor-widget elementor-widget-woocommerce-my-account"
                data-id="6b4cb2f"
                data-element_type="widget"
                data-widget_type="woocommerce-my-account.default"
              >
                <div class="elementor-widget-container">
                  <div class="e-my-account-tab e-my-account-tab__dashboard">
                    <span class="elementor-hidden"
                      >[woocommerce_my_account]</span
                    >
                    <div class="woocommerce">
                      <nav class="woocommerce-MyAccount-navigation">
                        <ul>
                          <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard is-active"
                          >
                            <a href="https://valentinafilippini.it/mio-account/"
                              >Bacheca</a
                            >
                          </li>
                          <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--manage-apt"
                          >
                            <a routerLink="/area-riservata/gestisci-appuntamento"
                              >Gestisci Appuntamenti</a
                            >
                          </li>
                          <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders"
                          >
                            <a
                              routerLink="/area-riservata/ordini"
                              >Ordini</a
                            >
                          </li>
                          <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address"
                          >
                            <a
                              routerLink="/area-riservata/indirizzi"
                              >Indirizzi</a
                            >
                          </li>
                          <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account"
                          >
                            <a
                              href="https://valentinafilippini.it/mio-account/edit-account/"
                              >Dettagli Account</a
                            >
                          </li>
                          <li
                            class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--customer-logout"
                          >
                            <a
                              href="https://valentinafilippini.it/mio-account/customer-logout/?elementor_wc_logout=true&amp;elementor_my_account_redirect=https%3A%2F%2Fvalentinafilippini.it%2Fmio-account%2F&amp;_wpnonce=a209315344"
                              >Esci</a
                            >
                          </li>
                        </ul>
                      </nav>

                      <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-MyAccount-content-wrapper">
                          <div class="woocommerce-notices-wrapper"></div>
                          <p>
                            Ciao <strong>gerrycorbisiero</strong> (non sei
                            <strong>gerrycorbisiero</strong>?
                            <a
                              href="https://valentinafilippini.it/mio-account/customer-logout/?elementor_wc_logout=true&amp;elementor_my_account_redirect=https%3A%2F%2Fvalentinafilippini.it%2Fmio-account%2F&amp;_wpnonce=a209315344"
                              >Logout</a
                            >)
                          </p>

                          <p>
                            Dalla bacheca del tuo account puoi visualizzare i
                            tuoi
                            <a
                              routerLink="/area-riservata/ordini"
                              >ordini recenti</a
                            >, gestire il tuo
                            <a
                              routerLink="/area-riservata/indirizzi"
                              >indirizzo di fatturazione</a
                            >
                            e
                            <a
                              href="https://valentinafilippini.it/mio-account/edit-account/"
                              >modificare la password e i dettagli del tuo
                              account</a
                            >.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="post-tags"></div>
  </div>
</main>
