<section class="elementor-section elementor-top-section elementor-element elementor-element-business-buttons-container elementor-section-boxed elementor-section-height-default elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-business-buttons">
        <div class="elementor-widget-wrap elementor-element-populated">
          <section class="elementor-section elementor-inner-section elementor-element elementor-element-business-buttons-block elementor-section-boxed elementor-section-height-default elementor-section-height-default">
            <div class="elementor-container elementor-column-gap-default">
              <!-- BUTTON 1 -->
              <div
                appear
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-business-button-base elementor-invisible"
                data-settings='{"animation":"zoomIn"}'
              >
                <div class="elementor-widget-wrap elementor-element-populated rounded-corner-left">
                  <div class="elementor-element elementor-element-business-btn-text-1 elementor-widget__width-auto elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">
                        <a routerLink="/privati">Servizi per</a>
                      </h2>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-business-btn-text-2 elementor-widget__width-auto elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">
                        <a class="adjust-iphone-letter-spacing" routerLink="/privati">
                          Privati
                        </a>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>

              <!-- BUTTON 2 -->
              <div
                appear
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-business-button-base elementor-invisible"
                data-settings='{"animation":"zoomIn","delay":100}'
              >
                <div class="elementor-widget-wrap elementor-element-populated no-border-radius bg-color-third">
                  <div class="elementor-element elementor-element-business-btn-text-1 elementor-widget__width-auto elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default" >
                        <a routerLink="/partite-iva">Servizi per</a>
                      </h2>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-business-btn-text-2 elementor-widget__width-auto elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">
                        <a class="adjust-iphone-letter-spacing" routerLink="/partite-iva">
                          Partite Iva
                        </a>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>

              <!-- BUTTON 3 -->
              <div
                appear
                class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-business-button-base elementor-invisible"
                data-settings='{"animation":"zoomIn", "delay":200}'
              >
                <div class="elementor-widget-wrap elementor-element-populated rounded-corner-right">
                  <div class="elementor-element elementor-element-business-btn-text-1 elementor-widget__width-auto elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">
                        <a routerLink="/aziende">Servizi per</a>
                      </h2>
                    </div>
                  </div>
                  <div class="elementor-element elementor-element-business-btn-text-2 elementor-widget__width-auto elementor-widget elementor-widget-heading">
                    <div class="elementor-widget-container">
                      <h2 class="elementor-heading-title elementor-size-default">
                        <a class="adjust-iphone-letter-spacing" routerLink="/aziende">
                          Aziende
                        </a>
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>