<main id="content" class="site-main page hentry">
  <div class="page-content">
    <div class="elementor elementor-element-webinar-main">
      
      <app-intestazione-area-decorated
        [title]="'Webinar'"
        [subtitle]="'Ecco la raccolta dei miei webinar: eventi formativi e informativi sul tema del lavoro applicato a lavoratori autonomi e dipendenti'">
      </app-intestazione-area-decorated>
      
      <section class="elementor-section elementor-top-section elementor-element elementor-element-webinar-section-content elementor-section-boxed elementor-section-height-default elementor-section-height-default">
        <div class="elementor-container elementor-column-gap-default">
          @for (card of webinarCards; track card) {
            <app-webinar-card class="d-contents" [card]="card"></app-webinar-card>
          }
          
        </div>
      </section>
      
      <section class="elementor-section elementor-top-section elementor-element elementor-element-3dc92505 elementor-section-boxed elementor-section-height-default elementor-section-height-default">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-555af6d">
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
