<main id="content" class="site-main page hentry">
  <div class="page-content">
    <div class="elementor elementor-element-webinar-main">
      
      <app-intestazione-area-decorated
        [title]="'Webinar'"
        [subtitle]="'Ecco la raccolta dei miei webinar: eventi formativi e informativi sul tema del lavoro applicato a lavoratori autonomi e dipendenti'">
      </app-intestazione-area-decorated>
      
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-76aefcdf elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="76aefcdf"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6741ed2"
            data-id="6741ed2"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                appear
                class="elementor-element elementor-element-61466fe elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-headline--style-highlight elementor-invisible elementor-widget elementor-widget-animated-headline"
                data-id="61466fe"
                data-element_type="widget"
                data-settings='{"marker":"curly","highlighted_text":"APERTE!","highlight_iteration_delay":2000,"animation":"bounceIn","headline_style":"highlight","loop":"yes","highlight_animation_duration":1200}'
                data-widget_type="animated-headline.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-headline">
                    <span
                      class="elementor-headline-plain-text elementor-headline-text-wrapper"
                      >Iscrizioni</span
                    >
                    <span
                      class="elementor-headline-dynamic-wrapper elementor-headline-text-wrapper"
                    >
                      <span
                        class="elementor-headline-dynamic-text elementor-headline-text-active"
                        >APERTE!</span
                      >
                    </span>
                  </h3>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-590df6a elementor-position-top elementor-widget elementor-widget-image-box"
                data-id="590df6a"
                data-element_type="widget"
                data-widget_type="image-box.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-image-box-wrapper">
                    <figure class="elementor-image-box-img">
                      <img
                        decoding="async"
                        width="800"
                        height="623"
                        src="https://valentinafilippini.it/wp-content/uploads/2023/07/wb1.jpg"
                        data-src="https://valentinafilippini.it/wp-content/uploads/2023/07/wb1.jpg"
                        class="elementor-animation-pop attachment-full size-full wp-image-6233 lazyloaded"
                        alt=""
                        data-srcset="https://valentinafilippini.it/wp-content/uploads/2023/07/wb1.jpg 800w, https://valentinafilippini.it/wp-content/uploads/2023/07/wb1-300x234.jpg 300w, https://valentinafilippini.it/wp-content/uploads/2023/07/wb1-768x598.jpg 768w, https://valentinafilippini.it/wp-content/uploads/2023/07/wb1-600x467.jpg 600w"
                        sizes="(max-width: 800px) 100vw, 800px"
                        srcset="
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb1.jpg         800w,
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb1-300x234.jpg 300w,
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb1-768x598.jpg 768w,
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb1-600x467.jpg 600w
                        "
                      /><noscript
                        ><img
                          decoding="async"
                          width="800"
                          height="623"
                          src="https://valentinafilippini.it/wp-content/uploads/2023/07/wb1.jpg"
                          class="elementor-animation-pop attachment-full size-full wp-image-6233 lazyload"
                          alt=""
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb1.jpg         800w,
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb1-300x234.jpg 300w,
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb1-768x598.jpg 768w,
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb1-600x467.jpg 600w
                          "
                          sizes="(max-width: 800px) 100vw, 800px"
                      /></noscript>
                    </figure>
                    <div class="elementor-image-box-content">
                      <h3 class="elementor-image-box-title">
                        Genitori lavoratori dipendenti - Diritti e tutele sul
                        lavoro
                      </h3>
                      <p class="elementor-image-box-description">
                        La formazione esclusiva per genitori e futuri genitori
                        dipendenti che vogliono conoscere i propri diritti e
                        tutele sul lavoro.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-6438266 elementor-widget elementor-widget-button"
                data-id="6438266"
                data-element_type="widget"
                data-widget_type="button.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-button-wrapper">
                    <a
                      class="elementor-button elementor-button-link elementor-size-sm"
                      href="https://valentinafilippini.it/webinar-per-genitori-lavoratori-dipendenti/"
                    >
                      <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">Scopri di più</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-35919ff"
            data-id="35919ff"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-fc7c2ba elementor-position-top elementor-widget elementor-widget-image-box"
                data-id="fc7c2ba"
                data-element_type="widget"
                data-widget_type="image-box.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-image-box-wrapper">
                    <figure class="elementor-image-box-img">
                      <img
                        decoding="async"
                        width="800"
                        height="623"
                        src="https://valentinafilippini.it/wp-content/uploads/2023/07/wb2.jpg"
                        data-src="https://valentinafilippini.it/wp-content/uploads/2023/07/wb2.jpg"
                        class="elementor-animation-pop attachment-full size-full wp-image-6232 lazyloaded"
                        alt=""
                        data-srcset="https://valentinafilippini.it/wp-content/uploads/2023/07/wb2.jpg 800w, https://valentinafilippini.it/wp-content/uploads/2023/07/wb2-300x234.jpg 300w, https://valentinafilippini.it/wp-content/uploads/2023/07/wb2-768x598.jpg 768w, https://valentinafilippini.it/wp-content/uploads/2023/07/wb2-600x467.jpg 600w"
                        sizes="(max-width: 800px) 100vw, 800px"
                        srcset="
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb2.jpg         800w,
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb2-300x234.jpg 300w,
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb2-768x598.jpg 768w,
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb2-600x467.jpg 600w
                        "
                      /><noscript
                        ><img
                          decoding="async"
                          width="800"
                          height="623"
                          src="https://valentinafilippini.it/wp-content/uploads/2023/07/wb2.jpg"
                          class="elementor-animation-pop attachment-full size-full wp-image-6232 lazyload"
                          alt=""
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb2.jpg         800w,
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb2-300x234.jpg 300w,
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb2-768x598.jpg 768w,
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb2-600x467.jpg 600w
                          "
                          sizes="(max-width: 800px) 100vw, 800px"
                      /></noscript>
                    </figure>
                    <div class="elementor-image-box-content">
                      <h3 class="elementor-image-box-title">
                        Mamme con Partita IVA - Conciliare vita e lavoro
                      </h3>
                      <p class="elementor-image-box-description">
                        Strumenti per mamme lavoratrici con partita iva che
                        desiderano conciliare vita e lavoro nella libera
                        professione.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-aaa04ac elementor-widget elementor-widget-button"
                data-id="aaa04ac"
                data-element_type="widget"
                data-widget_type="button.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-button-wrapper">
                    <a
                      class="elementor-button elementor-button-link elementor-size-sm"
                      href="https://valentinafilippini.it/webinar/mamme-con-partita-iva-conciliare-vita-e-lavoro/"
                    >
                      <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">Scopri di più</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-ae47922"
            data-id="ae47922"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-12486f5 elementor-position-top elementor-widget elementor-widget-image-box"
                data-id="12486f5"
                data-element_type="widget"
                data-widget_type="image-box.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-image-box-wrapper">
                    <figure class="elementor-image-box-img">
                      <img
                        decoding="async"
                        width="800"
                        height="623"
                        src="https://valentinafilippini.it/wp-content/uploads/2023/07/wb3.jpg"
                        data-src="https://valentinafilippini.it/wp-content/uploads/2023/07/wb3.jpg"
                        class="elementor-animation-pop attachment-full size-full wp-image-6231 lazyloaded"
                        alt=""
                        data-srcset="https://valentinafilippini.it/wp-content/uploads/2023/07/wb3.jpg 800w, https://valentinafilippini.it/wp-content/uploads/2023/07/wb3-300x234.jpg 300w, https://valentinafilippini.it/wp-content/uploads/2023/07/wb3-768x598.jpg 768w, https://valentinafilippini.it/wp-content/uploads/2023/07/wb3-600x467.jpg 600w"
                        sizes="(max-width: 800px) 100vw, 800px"
                        srcset="
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb3.jpg         800w,
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb3-300x234.jpg 300w,
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb3-768x598.jpg 768w,
                          https://valentinafilippini.it/wp-content/uploads/2023/07/wb3-600x467.jpg 600w
                        "
                      /><noscript
                        ><img
                          decoding="async"
                          width="800"
                          height="623"
                          src="https://valentinafilippini.it/wp-content/uploads/2023/07/wb3.jpg"
                          class="elementor-animation-pop attachment-full size-full wp-image-6231 lazyload"
                          alt=""
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb3.jpg         800w,
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb3-300x234.jpg 300w,
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb3-768x598.jpg 768w,
                            https://valentinafilippini.it/wp-content/uploads/2023/07/wb3-600x467.jpg 600w
                          "
                          sizes="(max-width: 800px) 100vw, 800px"
                      /></noscript>
                    </figure>
                    <div class="elementor-image-box-content">
                      <h3 class="elementor-image-box-title">
                        Congedi Parentali - Dipendenti e Partite IVA
                      </h3>
                      <p class="elementor-image-box-description">
                        L’incontro online che ti accompagnerà da subito nella
                        comprensione dei congedi parentali, affinché tu possa
                        usufruirne a tuo vantaggio!
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-450ed5f elementor-widget elementor-widget-button"
                data-id="450ed5f"
                data-element_type="widget"
                data-widget_type="button.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-button-wrapper">
                    <a
                      class="elementor-button elementor-button-link elementor-size-sm"
                      href="https://valentinafilippini.it/webinar/congedi-parentali-dipendenti-e-partite-iva/"
                    >
                      <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">Scopri di più</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-3dc92505 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="3dc92505"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-555af6d"
            data-id="555af6d"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap"></div>
          </div>
        </div>
      </section>
    </div>
    <div class="post-tags"></div>
  </div>
</main>
