<main
  id="content"
  class="site-main post-4302 page hentry"
>
  <div class="page-content">
    <div
      data-elementor-type="wp-page"
      data-elementor-id="4302"
      class="elementor elementor-4302"
      data-elementor-post-type="page"
    >
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-80ae89f elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
        data-id="80ae89f"
        data-element_type="section"
        data-settings='{"background_background":"classic"}'
      >
        <div class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-93896be"
            data-id="93896be"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-0d60883 elementor-widget elementor-widget-heading"
                data-id="0d60883"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Gestione appuntamenti
                  </h2>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <app-loading-section></app-loading-section>
    </div>
    <div class="post-tags"></div>
  </div>
</main>
