<main id="content" class="site-main page hentry">
  <div class="page-content">
    <div class="elementor elementor-3895">
      <app-intestazione-area-riservata></app-intestazione-area-riservata>
      <section class="elementor-section elementor-top-section elementor-element elementor-element-area-riservata-content-main elementor-section-boxed elementor-section-height-default elementor-section-height-default">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-element elementor-element-area-riservata-content-div e-my-account-tabs-vertical elementor-widget elementor-widget-woocommerce-my-account">
                <div class="elementor-widget-container">
                  <div class="e-my-account-tab e-my-account-tab__edit-address">
                    <span class="elementor-hidden">[woocommerce_my_account]</span>
                    <div class="woocommerce">
                      <app-inner-menu-area-riservata activeItem="indirizzi"></app-inner-menu-area-riservata>

                      <div class="woocommerce-MyAccount-content">
                        <div class="woocommerce-MyAccount-content-wrapper">
                          <app-notices-block *ngIf="message" [message]="message.description" [status]="message.status" ></app-notices-block>

                          <form method="post">
                            <h3>Indirizzo di fatturazione</h3>
                            <div class="woocommerce-address-fields">
                              <div
                                class="woocommerce-address-fields__field-wrapper"
                              >
                                <p
                                  class="form-row form-row-first"
                                  id="billing_first_name_field"
                                  data-priority="10"
                                >
                                  <label for="billing_first_name" class=""
                                    >Nome&nbsp;
                                    <abbr class="required" title="obbligatorio">*</abbr>
                                    </label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_first_name"
                                      id="billing_first_name"
                                      placeholder=""
                                      value=""
                                      autocomplete="given-name"
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-last"
                                  id="billing_last_name_field"
                                  data-priority="20"
                                >
                                  <label for="billing_last_name" class=""
                                    >Cognome&nbsp;
                                    <abbr class="required" title="obbligatorio">*</abbr>
                                  </label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_last_name"
                                      id="billing_last_name"
                                      placeholder=""
                                      value=""
                                      autocomplete="family-name"
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide"
                                  id="billing_company_field"
                                  data-priority="30"
                                >
                                  <label for="billing_company" class=""
                                    >Nome della società&nbsp;<span
                                      class="optional"
                                      >(opzionale)</span
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_company"
                                      id="billing_company"
                                      placeholder=""
                                      value=""
                                      autocomplete="organization"
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide address-field update_totals_on_change validate-required"
                                  id="billing_country_field"
                                  data-priority="40"
                                >
                                  <label for="billing_country" class=""
                                    >Paese/regione&nbsp;<abbr
                                      class="required"
                                      title="obbligatorio"
                                      >*</abbr
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    >
                                        <app-select-autocomplete-field
                                          [optionsList]="paesiList"
                                          [valueField]="'description'"
                                          [descriptionField]="'description'"
                                          [placeholder]="'Seleziona un Paese/una regione...'"
                                        >
                                        </app-select-autocomplete-field>
                                
                                    </span>
                                </p>
                                <p
                                  class="form-row form-row-wide address-field validate-required"
                                  id="billing_address_1_field"
                                  data-priority="50"
                                >
                                  <label for="billing_address_1" class=""
                                    >Via e numero&nbsp;<abbr
                                      class="required"
                                      title="obbligatorio"
                                      >*</abbr
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_address_1"
                                      id="billing_address_1"
                                      placeholder="Via/Piazza e Numero Civico"
                                      value=""
                                      autocomplete="address-line1"
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide address-field"
                                  id="billing_address_2_field"
                                  data-priority="60"
                                >
                                  <label
                                    for="billing_address_2"
                                    class="screen-reader-text"
                                    >Appartamento, suite, unità, ecc.&nbsp;<span
                                      class="optional"
                                      >(opzionale)</span
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_address_2"
                                      id="billing_address_2"
                                      placeholder="Appartamento, suite, unità, ecc. (opzionale)"
                                      value=""
                                      autocomplete="address-line2"
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide address-field validate-required validate-postcode"
                                  id="billing_postcode_field"
                                  data-priority="65"
                                >
                                  <label for="billing_postcode" class=""
                                    >C.A.P.&nbsp;<abbr
                                      class="required"
                                      title="obbligatorio"
                                      >*</abbr
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_postcode"
                                      id="billing_postcode"
                                      placeholder=""
                                      value=""
                                      autocomplete="postal-code"
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide address-field validate-required"
                                  id="billing_city_field"
                                  data-priority="70"
                                >
                                  <label for="billing_city" class=""
                                    >Città&nbsp;<abbr
                                      class="required"
                                      title="obbligatorio"
                                      >*</abbr
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_city"
                                      id="billing_city"
                                      placeholder=""
                                      value=""
                                      autocomplete="address-level2"
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide address-field validate-required validate-state"
                                  id="billing_state_field"
                                  data-priority="80"
                                >
                                  <label for="billing_state" class=""
                                    >Provincia&nbsp;<abbr
                                      class="required"
                                      title="obbligatorio"
                                      >*</abbr
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    >
                                    <app-select-autocomplete-field
                                    [optionsList]="provinceList"
                                    [valueField]="'description'"
                                    [descriptionField]="'description'"
                                    [placeholder]="'Seleziona un\'opzione...'"
                                  >
                                  </app-select-autocomplete-field>
                                    <span
                                      class="select2 select2-container select2-container--default"
                                      dir="ltr"
                                      style="width: 100%"
                                      ><span class="selection"
                                        ><span
                                          class="select2-selection select2-selection--single"
                                          aria-haspopup="true"
                                          aria-expanded="false"
                                          tabindex="0"
                                          aria-label="Provincia"
                                          role="combobox"
                                          ><span
                                            class="select2-selection__rendered"
                                            id="select2-billing_state-container"
                                            role="textbox"
                                            aria-readonly="true"
                                            ><span
                                              class="select2-selection__placeholder"
                                              >Seleziona un'opzione…</span
                                            ></span
                                          ><span
                                            class="select2-selection__arrow"
                                            role="presentation"
                                            ><b
                                              role="presentation"
                                            ></b></span></span></span
                                      ><span
                                        class="dropdown-wrapper"
                                        aria-hidden="true"
                                      ></span></span
                                  ></span>
                                </p>
                                <p
                                  class="form-row form-row-wide validate-required validate-phone"
                                  id="billing_phone_field"
                                  data-priority="100"
                                >
                                  <label for="billing_phone" class=""
                                    >Telefono&nbsp;<abbr
                                      class="required"
                                      title="obbligatorio"
                                      >*</abbr
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="tel"
                                      class="input-text"
                                      name="billing_phone"
                                      id="billing_phone"
                                      placeholder=""
                                      value=""
                                      autocomplete="tel"
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide validate-required validate-email"
                                  id="billing_email_field"
                                  data-priority="110"
                                >
                                  <label for="billing_email" class=""
                                    >Indirizzo email&nbsp;<abbr
                                      class="required"
                                      title="obbligatorio"
                                      >*</abbr
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="email"
                                      class="input-text"
                                      name="billing_email"
                                      id="billing_email"
                                      placeholder=""
                                      value="gerrycorbisiero@gmail.com"
                                      autocomplete="email username"
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide validate-required"
                                  id="billing_cod_fisc_field"
                                  data-priority="120"
                                >
                                  <label for="billing_cod_fisc" class=""
                                    >Codice Fiscale&nbsp;<abbr
                                      class="required"
                                      title="obbligatorio"
                                      >*</abbr
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_cod_fisc"
                                      id="billing_cod_fisc"
                                      placeholder="Codice Fiscale"
                                      value=""
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide"
                                  id="billing_partita_iva_field"
                                  data-priority="130"
                                >
                                  <label for="billing_partita_iva" class=""
                                    >Partita Iva&nbsp;<span class="optional"
                                      >(opzionale)</span
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_partita_iva"
                                      id="billing_partita_iva"
                                      placeholder="Partita Iva"
                                      value=""
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide"
                                  id="billing_pec_email_field"
                                  data-priority="140"
                                >
                                  <label for="billing_pec_email" class=""
                                    >Email Pec&nbsp;<span class="optional"
                                      >(opzionale)</span
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_pec_email"
                                      id="billing_pec_email"
                                      placeholder="PEC per Fattura Elettronica"
                                      value=""
                                  /></span>
                                </p>
                                <p
                                  class="form-row form-row-wide"
                                  id="billing_codice_destinatario_field"
                                  data-priority="150"
                                >
                                  <label
                                    for="billing_codice_destinatario"
                                    class=""
                                    >Codice Destinatario&nbsp;<span
                                      class="optional"
                                      >(opzionale)</span
                                    ></label
                                  ><span class="woocommerce-input-wrapper"
                                    ><input
                                      type="text"
                                      class="input-text"
                                      name="billing_codice_destinatario"
                                      id="billing_codice_destinatario"
                                      placeholder="Codice Destinatario per Fattura Elettronica"
                                      value=""
                                  /></span>
                                </p>
                              </div>

                              <p>
                                <button
                                  type="button"
                                  class="button"
                                  name="save_address"
                                  value="Salva indirizzo"
                                >
                                  Salva indirizzo
                                </button>
                              </p>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="post-tags"></div>
  </div>
</main>
