<div
  data-elementor-type="archive"
  data-elementor-id="4163"
  class="elementor elementor-4163 elementor-location-archive"
  data-elementor-post-type="elementor_library"
>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-d4dd28a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="d4dd28a"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d4467f3"
        data-id="d4467f3"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-33b2c86 elementor-widget elementor-widget-heading"
            data-id="33b2c86"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Articoli
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-1831a3e elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="1831a3e"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ee7ba86"
        data-id="ee7ba86"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-825ad7f elementor-posts--align-left elementor-grid-3 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-card-shadow-yes elementor-posts__hover-gradient elementor-widget elementor-widget-archive-posts"
            data-id="825ad7f"
            data-element_type="widget"
            data-settings='{"pagination_type":"numbers_and_prev_next","archive_cards_columns":"3","archive_cards_columns_tablet":"2","archive_cards_columns_mobile":"1","archive_cards_row_gap":{"unit":"px","size":35,"sizes":[]},"archive_cards_row_gap_tablet":{"unit":"px","size":"","sizes":[]},"archive_cards_row_gap_mobile":{"unit":"px","size":"","sizes":[]}}'
            data-widget_type="archive-posts.archive_cards"
          >
            <div class="elementor-widget-container">
              <div
                class="elementor-posts-container elementor-posts elementor-posts--skin-cards elementor-grid elementor-has-item-ratio"
              >
                <article
                  class="elementor-post elementor-grid-item post-6517 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-allattamento tag-dipendenti tag-maternita-2"
                >
                  <div class="elementor-post__card">
                    <a
                      class="elementor-post__thumbnail__link"
                      href="https://valentinafilippini.it/permessi-allattamento-domande-frequenti/"
                      tabindex="-1"
                      ><div class="elementor-post__thumbnail">
                        <img
                          width="686"
                          height="397"
                          src="https://valentinafilippini.it/wp-content/uploads/2023/10/Cover-Sito-Linkedin-5.png"
                          class="attachment-full size-full wp-image-6521"
                          alt=""
                          decoding="async"
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2023/10/Cover-Sito-Linkedin-5.png         686w,
                            https://valentinafilippini.it/wp-content/uploads/2023/10/Cover-Sito-Linkedin-5-300x174.png 300w,
                            https://valentinafilippini.it/wp-content/uploads/2023/10/Cover-Sito-Linkedin-5-600x347.png 600w
                          "
                          sizes="(max-width: 686px) 100vw, 686px"
                        /></div
                    ></a>
                    <div class="elementor-post__text">
                      <h3 class="elementor-post__title">
                        <a
                          href="https://valentinafilippini.it/permessi-allattamento-domande-frequenti/"
                        >
                          Permessi allattamento: domande frequenti
                        </a>
                      </h3>
                      <div class="elementor-post__excerpt">
                        <p>
                          Cosa sono? Chi può richiederli? Come si presenta la
                          domanda? Fino a quando possono essere utilizzati? È
                          prevista
                        </p>
                      </div>
                      <a
                        class="elementor-post__read-more"
                        href="https://valentinafilippini.it/permessi-allattamento-domande-frequenti/"
                        aria-label="Read more about Permessi allattamento: domande frequenti"
                        tabindex="-1"
                      >
                        Leggi tutto »
                      </a>
                    </div>
                  </div>
                </article>
                <article
                  class="elementor-post elementor-grid-item post-5736 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-dimissioni tag-lavoratori tag-licenziamento"
                >
                  <div class="elementor-post__card">
                    <a
                      class="elementor-post__thumbnail__link"
                      href="https://valentinafilippini.it/divieto-licenziamento-dimissioni-naspi-papa/"
                      tabindex="-1"
                      ><div class="elementor-post__thumbnail">
                        <img
                          width="686"
                          height="397"
                          src="https://valentinafilippini.it/wp-content/uploads/2023/03/Cover-Sito-Linkedin-licenziamento-e-dimissioni-papa-2023.png"
                          class="attachment-full size-full wp-image-5737"
                          alt=""
                          decoding="async"
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2023/03/Cover-Sito-Linkedin-licenziamento-e-dimissioni-papa-2023.png         686w,
                            https://valentinafilippini.it/wp-content/uploads/2023/03/Cover-Sito-Linkedin-licenziamento-e-dimissioni-papa-2023-300x174.png 300w,
                            https://valentinafilippini.it/wp-content/uploads/2023/03/Cover-Sito-Linkedin-licenziamento-e-dimissioni-papa-2023-600x347.png 600w
                          "
                          sizes="(max-width: 686px) 100vw, 686px"
                        /></div
                    ></a>
                    <div class="elementor-post__text">
                      <h3 class="elementor-post__title">
                        <a
                          href="https://valentinafilippini.it/divieto-licenziamento-dimissioni-naspi-papa/"
                        >
                          Divieto di licenziamento, dimissioni e NASPI per il
                          papà
                        </a>
                      </h3>
                      <div class="elementor-post__excerpt">
                        <p>
                          Per il lavoratore padre che fruisce del congedo di
                          paternità obbligatorio e/o del congedo di paternità
                          alternativo, vige
                        </p>
                      </div>
                      <a
                        class="elementor-post__read-more"
                        href="https://valentinafilippini.it/divieto-licenziamento-dimissioni-naspi-papa/"
                        aria-label="Read more about Divieto di licenziamento, dimissioni e NASPI per il papà"
                        tabindex="-1"
                      >
                        Leggi tutto »
                      </a>
                    </div>
                  </div>
                </article>
                <article
                  class="elementor-post elementor-grid-item post-5158 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-agevolazioni tag-assunzioni-2 tag-donne tag-giovani"
                >
                  <div class="elementor-post__card">
                    <a
                      class="elementor-post__thumbnail__link"
                      href="https://valentinafilippini.it/esonero-contributivo-assunzione-donne-giovani-under-36/"
                      tabindex="-1"
                      ><div class="elementor-post__thumbnail">
                        <img
                          width="686"
                          height="397"
                          src="https://valentinafilippini.it/wp-content/uploads/2023/02/Cover-Sito-Linkedin-esonero-contributivo-assunzione-donne-e-giovani.png"
                          class="attachment-full size-full wp-image-5160"
                          alt=""
                          decoding="async"
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2023/02/Cover-Sito-Linkedin-esonero-contributivo-assunzione-donne-e-giovani.png         686w,
                            https://valentinafilippini.it/wp-content/uploads/2023/02/Cover-Sito-Linkedin-esonero-contributivo-assunzione-donne-e-giovani-300x174.png 300w,
                            https://valentinafilippini.it/wp-content/uploads/2023/02/Cover-Sito-Linkedin-esonero-contributivo-assunzione-donne-e-giovani-600x347.png 600w
                          "
                          sizes="(max-width: 686px) 100vw, 686px"
                        /></div
                    ></a>
                    <div class="elementor-post__text">
                      <h3 class="elementor-post__title">
                        <a
                          href="https://valentinafilippini.it/esonero-contributivo-assunzione-donne-giovani-under-36/"
                        >
                          Esonero contributivo per assunzione di donne e giovani
                          under 36
                        </a>
                      </h3>
                      <div class="elementor-post__excerpt">
                        <p>
                          La Legge di Bilancio 2023 ha previsto la proroga per
                          l’anno 2023 dello sgravio contributivo per
                          l’assunzione di
                        </p>
                      </div>
                      <a
                        class="elementor-post__read-more"
                        href="https://valentinafilippini.it/esonero-contributivo-assunzione-donne-giovani-under-36/"
                        aria-label="Read more about Esonero contributivo per assunzione di donne e giovani under 36"
                        tabindex="-1"
                      >
                        Leggi tutto »
                      </a>
                    </div>
                  </div>
                </article>
                <article
                  class="elementor-post elementor-grid-item post-5145 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-casalinga tag-inail tag-infortunio"
                >
                  <div class="elementor-post__card">
                    <a
                      class="elementor-post__thumbnail__link"
                      href="https://valentinafilippini.it/assicurazione-casalinghe-2023/"
                      tabindex="-1"
                      ><div class="elementor-post__thumbnail">
                        <img
                          width="686"
                          height="397"
                          src="https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Linkedin-casalinga-2023.png"
                          class="attachment-full size-full wp-image-5150"
                          alt=""
                          decoding="async"
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Linkedin-casalinga-2023.png         686w,
                            https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Linkedin-casalinga-2023-300x174.png 300w,
                            https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Linkedin-casalinga-2023-600x347.png 600w
                          "
                          sizes="(max-width: 686px) 100vw, 686px"
                        /></div
                    ></a>
                    <div class="elementor-post__text">
                      <h3 class="elementor-post__title">
                        <a
                          href="https://valentinafilippini.it/assicurazione-casalinghe-2023/"
                        >
                          Assicurazione casalinghe 2023
                        </a>
                      </h3>
                      <div class="elementor-post__excerpt">
                        <p>
                          In data 31 gennaio 2023 scade il termine per il
                          versamento del premio annuale di 24€ contro gli
                        </p>
                      </div>
                      <a
                        class="elementor-post__read-more"
                        href="https://valentinafilippini.it/assicurazione-casalinghe-2023/"
                        aria-label="Read more about Assicurazione casalinghe 2023"
                        tabindex="-1"
                      >
                        Leggi tutto »
                      </a>
                    </div>
                  </div>
                </article>
                <article
                  class="elementor-post elementor-grid-item post-5128 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-aziende tag-buonicarburante tag-lavoratori"
                >
                  <div class="elementor-post__card">
                    <a
                      class="elementor-post__thumbnail__link"
                      href="https://valentinafilippini.it/buoni-benzina-anno-2023/"
                      tabindex="-1"
                      ><div class="elementor-post__thumbnail">
                        <img
                          width="686"
                          height="397"
                          src="https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Linkedin-Buoni-benzina-2023.png"
                          class="attachment-full size-full wp-image-5131"
                          alt=""
                          decoding="async"
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Linkedin-Buoni-benzina-2023.png         686w,
                            https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Linkedin-Buoni-benzina-2023-300x174.png 300w,
                            https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Linkedin-Buoni-benzina-2023-600x347.png 600w
                          "
                          sizes="(max-width: 686px) 100vw, 686px"
                        /></div
                    ></a>
                    <div class="elementor-post__text">
                      <h3 class="elementor-post__title">
                        <a
                          href="https://valentinafilippini.it/buoni-benzina-anno-2023/"
                        >
                          Buoni benzina anno 2023
                        </a>
                      </h3>
                      <div class="elementor-post__excerpt">
                        <p>
                          Il Decreto Legge n. 5/2023 c.d. Decreto Trasparenza ha
                          prorogato al 31 dicembre 2023 quanto previsto dal
                          Decreto
                        </p>
                      </div>
                      <a
                        class="elementor-post__read-more"
                        href="https://valentinafilippini.it/buoni-benzina-anno-2023/"
                        aria-label="Read more about Buoni benzina anno 2023"
                        tabindex="-1"
                      >
                        Leggi tutto »
                      </a>
                    </div>
                  </div>
                </article>
                <article
                  class="elementor-post elementor-grid-item post-5109 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-bustapaga tag-inps tag-lavoratori"
                >
                  <div class="elementor-post__card">
                    <a
                      class="elementor-post__thumbnail__link"
                      href="https://valentinafilippini.it/busta-paga-piu-alta-2023/"
                      tabindex="-1"
                      ><div class="elementor-post__thumbnail">
                        <img
                          width="686"
                          height="397"
                          src="https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Busta-paga-piu-alta-per-il-2023.png"
                          class="attachment-full size-full wp-image-5112"
                          alt=""
                          decoding="async"
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Busta-paga-piu-alta-per-il-2023.png         686w,
                            https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Busta-paga-piu-alta-per-il-2023-300x174.png 300w,
                            https://valentinafilippini.it/wp-content/uploads/2023/01/Cover-Sito-Busta-paga-piu-alta-per-il-2023-600x347.png 600w
                          "
                          sizes="(max-width: 686px) 100vw, 686px"
                        /></div
                    ></a>
                    <div class="elementor-post__text">
                      <h3 class="elementor-post__title">
                        <a
                          href="https://valentinafilippini.it/busta-paga-piu-alta-2023/"
                        >
                          Busta paga più alta per il 2023
                        </a>
                      </h3>
                      <div class="elementor-post__excerpt">
                        <p>
                          La busta paga sarà più alta nell’anno 2023 per i
                          lavoratori dipendenti. A stabilirlo è stata la Legge
                        </p>
                      </div>
                      <a
                        class="elementor-post__read-more"
                        href="https://valentinafilippini.it/busta-paga-piu-alta-2023/"
                        aria-label="Read more about Busta paga più alta per il 2023"
                        tabindex="-1"
                      >
                        Leggi tutto »
                      </a>
                    </div>
                  </div>
                </article>
                <article
                  class="elementor-post elementor-grid-item post-4830 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-babysitter tag-inps tag-librettofamiglia"
                >
                  <div class="elementor-post__card">
                    <a
                      class="elementor-post__thumbnail__link"
                      href="https://valentinafilippini.it/libretto-famiglia-procedura-attivazione/"
                      tabindex="-1"
                      ><div class="elementor-post__thumbnail">
                        <img
                          width="686"
                          height="397"
                          src="https://valentinafilippini.it/wp-content/uploads/2022/12/Cover-Sito-FB-LK-NEWS-PODCAST-26.png"
                          class="attachment-full size-full wp-image-4833"
                          alt=""
                          decoding="async"
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2022/12/Cover-Sito-FB-LK-NEWS-PODCAST-26.png         686w,
                            https://valentinafilippini.it/wp-content/uploads/2022/12/Cover-Sito-FB-LK-NEWS-PODCAST-26-300x174.png 300w,
                            https://valentinafilippini.it/wp-content/uploads/2022/12/Cover-Sito-FB-LK-NEWS-PODCAST-26-600x347.png 600w
                          "
                          sizes="(max-width: 686px) 100vw, 686px"
                        /></div
                    ></a>
                    <div class="elementor-post__text">
                      <h3 class="elementor-post__title">
                        <a
                          href="https://valentinafilippini.it/libretto-famiglia-procedura-attivazione/"
                        >
                          Libretto famiglia: procedura di attivazione
                        </a>
                      </h3>
                      <div class="elementor-post__excerpt">
                        <p>
                          Il libretto famiglia è uno strumento che permette alle
                          persone fisiche di retribuire attività lavorative
                          occasionali e saltuarie,
                        </p>
                      </div>
                      <a
                        class="elementor-post__read-more"
                        href="https://valentinafilippini.it/libretto-famiglia-procedura-attivazione/"
                        aria-label="Read more about Libretto famiglia: procedura di attivazione"
                        tabindex="-1"
                      >
                        Leggi tutto »
                      </a>
                    </div>
                  </div>
                </article>
                <article
                  class="elementor-post elementor-grid-item post-4804 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-aziende tag-fringebenefits tag-lavoratori"
                >
                  <div class="elementor-post__card">
                    <a
                      class="elementor-post__thumbnail__link"
                      href="https://valentinafilippini.it/novita-fringe-benefit-aumento-soglia-esenzione-3000/"
                      tabindex="-1"
                      ><div class="elementor-post__thumbnail">
                        <img
                          width="686"
                          height="397"
                          src="https://valentinafilippini.it/wp-content/uploads/2022/12/Cover-Sito-FB-LK-NEWS-PODCAST-24.png"
                          class="attachment-full size-full wp-image-4806"
                          alt=""
                          decoding="async"
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2022/12/Cover-Sito-FB-LK-NEWS-PODCAST-24.png         686w,
                            https://valentinafilippini.it/wp-content/uploads/2022/12/Cover-Sito-FB-LK-NEWS-PODCAST-24-300x174.png 300w,
                            https://valentinafilippini.it/wp-content/uploads/2022/12/Cover-Sito-FB-LK-NEWS-PODCAST-24-600x347.png 600w
                          "
                          sizes="(max-width: 686px) 100vw, 686px"
                        /></div
                    ></a>
                    <div class="elementor-post__text">
                      <h3 class="elementor-post__title">
                        <a
                          href="https://valentinafilippini.it/novita-fringe-benefit-aumento-soglia-esenzione-3000/"
                        >
                          Novità per i Fringe Benefit, aumento soglia di
                          esenzione fino a 3.000€
                        </a>
                      </h3>
                      <div class="elementor-post__excerpt">
                        <p>
                          Con la pubblicazione del Decreto Aiuti-Quater, D.L. 18
                          novembre 2022 n.176, è stato previsto l’innalzamento
                          della soglia di
                        </p>
                      </div>
                      <a
                        class="elementor-post__read-more"
                        href="https://valentinafilippini.it/novita-fringe-benefit-aumento-soglia-esenzione-3000/"
                        aria-label="Read more about Novità per i Fringe Benefit, aumento soglia di esenzione fino a 3.000€"
                        tabindex="-1"
                      >
                        Leggi tutto »
                      </a>
                    </div>
                  </div>
                </article>
                <article
                  class="elementor-post elementor-grid-item post-4780 post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-congedoparentale tag-inps tag-lavoratori"
                >
                  <div class="elementor-post__card">
                    <a
                      class="elementor-post__thumbnail__link"
                      href="https://valentinafilippini.it/presentazione-domanda-di-congedo-parentale-lavoratori-autonomi/"
                      tabindex="-1"
                      ><div class="elementor-post__thumbnail">
                        <img
                          width="686"
                          height="397"
                          src="https://valentinafilippini.it/wp-content/uploads/2022/11/Cover-Sito-FB-LK-NEWS-PODCAST-23.png"
                          class="attachment-full size-full wp-image-4783"
                          alt=""
                          decoding="async"
                          srcset="
                            https://valentinafilippini.it/wp-content/uploads/2022/11/Cover-Sito-FB-LK-NEWS-PODCAST-23.png         686w,
                            https://valentinafilippini.it/wp-content/uploads/2022/11/Cover-Sito-FB-LK-NEWS-PODCAST-23-300x174.png 300w,
                            https://valentinafilippini.it/wp-content/uploads/2022/11/Cover-Sito-FB-LK-NEWS-PODCAST-23-600x347.png 600w
                          "
                          sizes="(max-width: 686px) 100vw, 686px"
                        /></div
                    ></a>
                    <div class="elementor-post__text">
                      <h3 class="elementor-post__title">
                        <a
                          href="https://valentinafilippini.it/presentazione-domanda-di-congedo-parentale-lavoratori-autonomi/"
                        >
                          Presentazione domanda di congedo parentale lavoratori
                          autonomi
                        </a>
                      </h3>
                      <div class="elementor-post__excerpt">
                        <p>
                          L’INPS ha pubblicato il messaggio con le procedure per
                          la presentazione delle domande di congedo parentale
                          previsto per
                        </p>
                      </div>
                      <a
                        class="elementor-post__read-more"
                        href="https://valentinafilippini.it/presentazione-domanda-di-congedo-parentale-lavoratori-autonomi/"
                        aria-label="Read more about Presentazione domanda di congedo parentale lavoratori autonomi"
                        tabindex="-1"
                      >
                        Leggi tutto »
                      </a>
                    </div>
                  </div>
                </article>
              </div>
              <div
                class="e-load-more-anchor"
                data-page="1"
                data-max-page="6"
                data-next-page="https://valentinafilippini.it/articoli/page/2/"
              ></div>
              <nav class="elementor-pagination" aria-label="Paginazione">
                <span class="page-numbers prev">« </span>
                <span aria-current="page" class="page-numbers current"
                  ><span class="elementor-screen-only">Pagina</span>1</span
                >
                <a
                  class="page-numbers"
                  href="https://valentinafilippini.it/articoli/page/2/"
                  ><span class="elementor-screen-only">Pagina</span>2</a
                >
                <a
                  class="page-numbers"
                  href="https://valentinafilippini.it/articoli/page/3/"
                  ><span class="elementor-screen-only">Pagina</span>3</a
                >
                <span class="page-numbers dots">…</span>
                <a
                  class="page-numbers"
                  href="https://valentinafilippini.it/articoli/page/6/"
                  ><span class="elementor-screen-only">Pagina</span>6</a
                >
                <a
                  class="page-numbers next"
                  href="https://valentinafilippini.it/articoli/page/2/"
                  >»</a
                >
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
