<div class="elementor elementor-articles-main-wrapper elementor-location-archive">
  <section class="elementor-section elementor-top-section elementor-element elementor-articles-title-section elementor-section-boxed elementor-section-height-default elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-articles-title-div elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Articoli
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="elementor-section elementor-top-section elementor-element elementor-element-1831a3e elementor-section-boxed elementor-section-height-default elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-default">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ee7ba86"
        data-id="ee7ba86"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-825ad7f elementor-posts--align-left elementor-grid-3 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-card-shadow-yes elementor-posts__hover-gradient elementor-widget elementor-widget-archive-posts"
            data-id="825ad7f"
            data-element_type="widget"
            data-settings='{"pagination_type":"numbers_and_prev_next","archive_cards_columns":"3","archive_cards_columns_tablet":"2","archive_cards_columns_mobile":"1","archive_cards_row_gap":{"unit":"px","size":35,"sizes":[]},"archive_cards_row_gap_tablet":{"unit":"px","size":"","sizes":[]},"archive_cards_row_gap_mobile":{"unit":"px","size":"","sizes":[]}}'
            data-widget_type="archive-posts.archive_cards"
          >
            <div class="elementor-widget-container">
              <div
                class="elementor-posts-container elementor-posts elementor-posts--skin-cards elementor-grid elementor-has-item-ratio"
              >
                @for (article of articles; track article) {
                  <app-article-card [article]="article"></app-article-card>
                }
              </div>
              <div
                class="e-load-more-anchor"
                data-page="1"
                data-max-page="6"
                data-next-page="https://valentinafilippini.it/articoli/page/2/"
              ></div>
              <nav class="elementor-pagination" aria-label="Paginazione">
                <span class="page-numbers prev">« </span>
                <span aria-current="page" class="page-numbers current"
                  ><span class="elementor-screen-only">Pagina</span>1</span
                >
                <a
                  class="page-numbers"
                  href="https://valentinafilippini.it/articoli/page/2/"
                  ><span class="elementor-screen-only">Pagina</span>2</a
                >
                <a
                  class="page-numbers"
                  href="https://valentinafilippini.it/articoli/page/3/"
                  ><span class="elementor-screen-only">Pagina</span>3</a
                >
                <span class="page-numbers dots">…</span>
                <a
                  class="page-numbers"
                  href="https://valentinafilippini.it/articoli/page/6/"
                  ><span class="elementor-screen-only">Pagina</span>6</a
                >
                <a
                  class="page-numbers next"
                  href="https://valentinafilippini.it/articoli/page/2/"
                  >»</a
                >
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
