<main
  id="content"
  class="site-main post-4966 page hentry"
>
  <div class="page-content">
    <div
      data-elementor-type="wp-page"
      data-elementor-id="4966"
      class="elementor elementor-4966"
      data-elementor-post-type="page"
    >
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-4699c0f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="4699c0f"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-47cc3c9"
            data-id="47cc3c9"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-848f2b0 elementor-hidden-desktop elementor-widget elementor-widget-heading"
                data-id="848f2b0"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Servizio ai privati
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-c1046e0 elementor-hidden-desktop elementor-widget elementor-widget-heading"
                data-id="c1046e0"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Impariamo a leggere la tua busta paga
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-e1979b4 elementor-widget elementor-widget-stepbooking"
                data-id="e1979b4"
                data-element_type="widget"
                data-widget_type="stepbooking.default"
              >
                <div class="elementor-widget-container">
                  <script>
                    if (
                      typeof hasAmeliaEntitiesApiCall === "undefined" &&
                      "" === ""
                    ) {
                      var hasAmeliaEntitiesApiCall = true;
                    }
                    var ameliaShortcodeData =
                      typeof ameliaShortcodeData === "undefined"
                        ? []
                        : ameliaShortcodeData;
                    ameliaShortcodeData.push({
                      hasApiCall:
                        typeof hasAmeliaEntitiesApiCall !== "undefined" &&
                        hasAmeliaEntitiesApiCall,
                      trigger: "",
                      trigger_type: "",
                      triggered_form: "sbsNew",
                      in_dialog: "",
                      show: "",
                      counter: "1000",
                      category: "",
                      service: "3",
                      employee: "1",
                      location: "",
                      package: "",
                    });
                    var ameliaShortcodeDataTriggered =
                      typeof ameliaShortcodeDataTriggered === "undefined"
                        ? []
                        : ameliaShortcodeDataTriggered;
                    if (
                      ameliaShortcodeData[ameliaShortcodeData.length - 1]
                        .trigger !== ""
                    ) {
                      if (
                        ameliaShortcodeDataTriggered.filter(
                          (a) =>
                            a.counter ===
                            ameliaShortcodeData[ameliaShortcodeData.length - 1]
                              .counter
                        ).length === 0
                      ) {
                        ameliaShortcodeDataTriggered.push(
                          ameliaShortcodeData.pop()
                        );
                      } else {
                        ameliaShortcodeData.pop();
                      }
                    }
                    if (
                      typeof hasAmeliaEntitiesApiCall !== "undefined" &&
                      hasAmeliaEntitiesApiCall
                    ) {
                      hasAmeliaEntitiesApiCall = false;
                    }
                  </script>
                  <div
                    id="amelia-v2-booking-1000"
                    class="amelia-v2-booking amelia-v2-booking-1000-loaded"
                    data-v-app=""
                  >
                    <link
                      rel="preconnect"
                      href="https://fonts.googleapis.com"
                    /><link
                      rel="preconnect"
                      href="https://fonts.gstatic.com"
                      crossorigin=""
                    /><link
                      rel="stylesheet"
                      type="text/css"
                      href="/wp-content/plugins/ameliabooking/v3/src/assets/scss/common/fonts/font.css"
                      media="all"
                    />
                    <div
                      id="amelia-container"
                      class="am-fs__wrapper"
                      style="
                        --am-c-primary: rgba(222, 128, 94, 1);
                        --am-c-success: rgba(255, 255, 255, 1);
                        --am-c-error: #b4190f;
                        --am-c-warning: #cca20c;
                        --am-c-main-bgr: #ffffff;
                        --am-c-main-heading-text: rgba(50, 69, 89, 1);
                        --am-c-main-text: rgba(50, 69, 89, 1);
                        --am-c-sb-bgr: rgba(222, 128, 94, 1);
                        --am-c-sb-text: #ffffff;
                        --am-c-inp-bgr: #ffffff;
                        --am-c-inp-border: #d1d5d7;
                        --am-c-inp-text: rgba(50, 69, 89, 1);
                        --am-c-inp-placeholder: #808a90;
                        --am-c-drop-bgr: #ffffff;
                        --am-c-drop-text: rgba(50, 69, 89, 1);
                        --am-c-btn-prim: rgba(222, 128, 94, 1);
                        --am-c-btn-prim-text: #ffffff;
                        --am-c-btn-sec: #1a2c37;
                        --am-c-btn-sec-text: #ffffff;
                        --am-c-skeleton-op20: rgba(50, 69, 89, 0.2);
                        --am-c-skeleton-op60: rgba(50, 69, 89, 0.6);
                        --am-c-skeleton-sb-op20: rgba(255, 255, 255, 0.2);
                        --am-c-skeleton-sb-op60: rgba(255, 255, 255, 0.6);
                        --am-font-family: Amelia Montserrat, sans-serif;
                        --am-mw-main: 760px;
                        --am-brad-main: 0 0.5rem 0.5rem 0;
                      "
                    >
                      <div
                        class="am-fs-sb"
                        style="
                          --am-c-sb-text-op5: rgba(255, 255, 255, 0.05);
                          --am-c-sb-text-op10: rgba(255, 255, 255, 0.1);
                          --am-c-sb-text-op60: rgba(255, 255, 255, 0.6);
                          --am-c-scroll-op30: rgba(255, 255, 255, 0.3);
                          --am-c-scroll-op10: rgba(255, 255, 255, 0.1);
                          width: 240px;
                          padding-bottom: 65px;
                        "
                      >
                        <div class="am-fs-sb__step-wrapper">
                          <div class="am-fs-sb__step">
                            <div class="am-fs-sb__step-inner">
                              <div class="am-fs-sb__step-icon">
                                <span class="am-icon-date-time"></span
                                ><!---->
                              </div>
                              <p class="am-fs-sb__step-heading">
                                Data e Orario
                              </p>
                              <div class="am-fs-sb__step-checker">
                                <span class="am-icon-check"></span>
                              </div>
                            </div>
                            <span class="am-fs-sb__step-selection__wrapper"
                              ><p class="am-fs-sb__step-selection">
                                <span>16 gennaio 2024 - 15:00</span>
                              </p></span
                            >
                          </div>
                          <div class="am-fs-sb__step">
                            <div class="am-fs-sb__step-inner">
                              <div class="am-fs-sb__step-icon">
                                <span class="am-icon-user"></span
                                ><!---->
                              </div>
                              <p class="am-fs-sb__step-heading">Informazioni</p>
                              <div class="am-fs-sb__step-checker">
                                <span class="am-icon-check"></span>
                              </div>
                            </div>
                            <span
                              class="am-fs-sb__step-selection__wrapper"
                            ></span>
                          </div>
                          <div class="am-fs-sb__step">
                            <div class="am-fs-sb__step-inner">
                              <div class="am-fs-sb__step-icon">
                                <span class="am-icon-payment"></span
                                ><!---->
                              </div>
                              <p class="am-fs-sb__step-heading">Pagamenti</p>
                              <div
                                class="am-fs-sb__step-checker am-fs-sb__step-checker-selected"
                              >
                                <!---->
                              </div>
                            </div>
                            <span
                              class="am-fs-sb__step-selection__wrapper"
                            ></span>
                          </div>
                        </div>
                        <div class="am-fs-sb__footer">
                          <!---->
                          <div class="am-fs-sb__menu">
                            <span class="am-fs-sb__menu-text">Chiudi menu</span
                            ><span class="am-icon-arrow-circle-right"></span>
                          </div>
                        </div>
                      </div>
                      <div
                        class="am-fs__main am-rw-768"
                        style="
                          --am-c-scroll-op30: rgba(222, 128, 94, 0.3);
                          --am-c-scroll-op10: rgba(222, 128, 94, 0.1);
                        "
                      >
                        <div class="am-fs__main-inner">
                          <div
                            class="am-fs__main-heading"
                            style="
                              --am-step-length: 25%;
                              --am-c-main-heading-text-op15: rgba(
                                50,
                                69,
                                89,
                                0.15
                              );
                            "
                          >
                            <span class="am-fs__main-heading-inner"
                              ><button
                                id=""
                                class="am-button am-button--plain am-button--micro am-button--secondary is-icon-only is-disabled am-heading-prev"
                                type="button"
                                style="
                                  --am-c-btn-first: #1a2c37;
                                  --am-c-btn-second: #ffffff;
                                  --am-c-btn-first-op80: rgba(26, 44, 55, 0.8);
                                  --am-c-btn-first-op30: rgba(26, 44, 55, 0.3);
                                  --am-c-btn-first-op20: rgba(26, 44, 55, 0.1);
                                "
                                disabled=""
                              >
                                <!----><span class="am-icon-arrow-left"></span
                                ><!----><!----><!----><!----></button
                              ><span class="am-fs__main-heading-inner-title"
                                >Pagamenti</span
                              ></span
                            >
                          </div>
                          <!---->
                          <div
                            class="am-fs__main-content"
                            style="
                              --am-c-ps-price-bgr: rgba(222, 128, 94, 0.05);
                              --am-c-ps-total-price: rgba(222, 128, 94, 1);
                              --am-c-ps-text-op60: rgba(50, 69, 89, 0.6);
                              --am-c-ps-text-op50: rgba(50, 69, 89, 0.5);
                              --am-c-ps-text-op25: rgba(50, 69, 89, 0.25);
                              --am-c-ps-text-op20: rgba(50, 69, 89, 0.2);
                              --am-c-ps-text-op06: rgba(50, 69, 89, 0.06);
                              --am-c-ps-primary: rgba(222, 128, 94, 1);
                              --am-c-ps-primary-op10: rgba(222, 128, 94, 0.1);
                              --am-c-ps-primary-op06: rgba(222, 128, 94, 0.06);
                            "
                          >
                            <div class="am-fs__payments" style="display: none">
                              <div class="am-fs__payments-heading">
                                <!----><span
                                  class="am-fs__payments-heading-main"
                                  >Riepilogo</span
                                >
                              </div>
                              <div class="am-fs__payments-price">
                                <div
                                  class="am-fs__payments-wrapper"
                                  style="
                                    --am-c-pay-text: rgba(50, 69, 89, 1);
                                    --am-c-pay-text-op70: rgba(50, 69, 89, 0.7);
                                    --am-c-pay-text-op60: rgba(50, 69, 89, 0.6);
                                    --am-c-pay-text-op30: rgba(50, 69, 89, 0.3);
                                    --am-c-pay-success: rgba(255, 255, 255, 1);
                                    --am-c-pay-primary: rgba(222, 128, 94, 1);
                                  "
                                >
                                  <div class="am-fs__payments">
                                    <div class="am-fs__payments-service">
                                      <div
                                        class="am-fs__payments-services-info"
                                      >
                                        <span>Servizi</span>
                                      </div>
                                      <div
                                        class="am-fs__payments-services-open"
                                      >
                                        <div
                                          class="am-fs__payments-services-sub"
                                        >
                                          <p>
                                            Impariamo a leggere la tua busta
                                            paga (€80,0000)
                                            <span>x 1 persona</span>
                                          </p>
                                          <p class="am-amount">€80,00</p>
                                        </div>
                                      </div>
                                    </div>
                                    <!---->
                                  </div>
                                  <div class="am-fs__payments-app-info">
                                    <div
                                      class="am-fs__payments-app-info-subtotal"
                                    >
                                      <span>Subtotale:</span
                                      ><span class="am-amount">€80,00</span>
                                    </div>
                                    <!----><!---->
                                    <div
                                      class="am-fs__payments-app-info-total am-single-row"
                                    >
                                      <span>Totale</span
                                      ><span class="am-amount">€80,00</span>
                                    </div>
                                    <!---->
                                  </div>
                                </div>
                              </div>
                              <!---->
                              <p
                                class="am-fs__payments-method"
                                style="display: none"
                              >
                                Metodo di Pagamento
                              </p>
                              <div class="am-fs__payments-main">
                                <div class="am-fs__payments-main-cards">
                                  <!----><!----><!----><!----><!----><!---->
                                </div>
                              </div>
                              <div class="am-fs__payments-sentence">
                                <p>
                                  Verrai reindirizzato alla pagina di pagamento.
                                </p>
                              </div>
                              <div class="am-fs__payment_default"><!----></div>
                              <div class="am-fs__payments-pm">
                                <div class="am-fs__payment_default"></div>
                              </div>
                            </div>
                            <div
                              class="el-skeleton is-animated am-skeleton-payment am-skeleton-payment"
                              style=""
                            >
                              <div class="am-skeleton-payment-heading">
                                <div class="el-skeleton__item el-skeleton__h3">
                                  <!--v-if-->
                                </div>
                              </div>
                              <div class="am-skeleton-payment-booking-info">
                                <div class="am-skeleton-border-dashed">
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 25%"
                                  >
                                    <!--v-if-->
                                  </div>
                                  <!---->
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 25%"
                                  >
                                    <!--v-if-->
                                  </div>
                                </div>
                                <div class="am-skeleton-border-dashed">
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 28%"
                                  >
                                    <!--v-if-->
                                  </div>
                                  <!---->
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 26%"
                                  >
                                    <!--v-if-->
                                  </div>
                                </div>
                                <div class="am-skeleton-border-dashed">
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 28%"
                                  >
                                    <!--v-if-->
                                  </div>
                                  <!---->
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 28%"
                                  >
                                    <!--v-if-->
                                  </div>
                                </div>
                                <div class="am-skeleton-border-dashed">
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 26%"
                                  >
                                    <!--v-if-->
                                  </div>
                                  <!---->
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 28%"
                                  >
                                    <!--v-if-->
                                  </div>
                                </div>
                                <div class="am-skeleton-border-dashed">
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 26%"
                                  >
                                    <!--v-if-->
                                  </div>
                                  <!---->
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 25%"
                                  >
                                    <!--v-if-->
                                  </div>
                                </div>
                                <div class="am-skeleton-border-solid">
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 28%"
                                  >
                                    <!--v-if-->
                                  </div>
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="
                                      width: 35%;
                                      height: 32px;
                                      margin: 8px 0px;
                                    "
                                  >
                                    <!--v-if-->
                                  </div>
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 26%; height: 32px"
                                  >
                                    <!--v-if-->
                                  </div>
                                </div>
                                <div class="">
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 27%"
                                  >
                                    <!--v-if-->
                                  </div>
                                  <!---->
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 27%"
                                  >
                                    <!--v-if-->
                                  </div>
                                </div>
                                <div class="am-skeleton-border-solid">
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 28%"
                                  >
                                    <!--v-if-->
                                  </div>
                                  <!---->
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 25%"
                                  >
                                    <!--v-if-->
                                  </div>
                                </div>
                                <div class="">
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 27%"
                                  >
                                    <!--v-if-->
                                  </div>
                                  <!---->
                                  <div
                                    class="el-skeleton__item el-skeleton__text"
                                    style="width: 25%"
                                  >
                                    <!--v-if-->
                                  </div>
                                </div>
                              </div>
                              <div
                                class="el-skeleton__item el-skeleton__h3"
                                style="
                                  width: 100%;
                                  height: 48px;
                                  margin-top: 20px;
                                "
                              >
                                <!--v-if-->
                              </div>
                              <div
                                class="el-skeleton__item el-skeleton__h3"
                                style="
                                  width: 116px;
                                  height: 26px;
                                  margin-top: 16px;
                                "
                              >
                                <!--v-if-->
                              </div>
                              <div
                                style="
                                  margin-top: 20px;
                                  display: flex;
                                  justify-content: space-between;
                                  flex-direction: row;
                                "
                              >
                                <div
                                  class="el-skeleton__item el-skeleton__h3"
                                  style="width: 30%; height: 48px"
                                >
                                  <!--v-if-->
                                </div>
                                <div
                                  class="el-skeleton__item el-skeleton__h3"
                                  style="width: 30%; height: 48px"
                                >
                                  <!--v-if-->
                                </div>
                                <div
                                  class="el-skeleton__item el-skeleton__h3"
                                  style="width: 30%; height: 48px"
                                >
                                  <!--v-if-->
                                </div>
                              </div>
                            </div>
                          </div>
                          <!---->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-f849bdb"
            data-id="f849bdb"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-d8f4738 elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading"
                data-id="d8f4738"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Servizio ai privati
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-c06287c elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading"
                data-id="c06287c"
                data-element_type="widget"
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h2 class="elementor-heading-title elementor-size-default">
                    Impariamo a leggere la tua busta paga
                  </h2>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-7134e6d elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-spacer"
                data-id="7134e6d"
                data-element_type="widget"
                data-widget_type="spacer.default"
              >
                <div class="elementor-widget-container">
                  <div class="elementor-spacer">
                    <div class="elementor-spacer-inner"></div>
                  </div>
                </div>
              </div>
              <section
                class="elementor-section elementor-inner-section elementor-element elementor-element-03784b6 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                data-id="03784b6"
                data-element_type="section"
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div
                    class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a841d5b"
                    data-id="a841d5b"
                    data-element_type="column"
                    data-settings='{"background_background":"classic"}'
                  >
                    <div
                      class="elementor-widget-wrap elementor-element-populated"
                    >
                      <div
                        class="elementor-element elementor-element-67655b9 elementor-widget elementor-widget-text-editor"
                        data-id="67655b9"
                        data-element_type="widget"
                        data-widget_type="text-editor.default"
                      >
                        <div class="elementor-widget-container">
                          <p style="font-size: 14px">
                            Ti insegnerò a leggere la busta paga partendo dalla
                            analisi della TUA busta paga. Analizzeremo nel
                            dettaglio<span id="dots6">…</span
                            ><span id="more6" class="more">
                              la busta paga nelle sue tre parti
                              principali:</span
                            >
                          </p>
                          <ul style="font-size: 13px">
                            <li>Testa del cedolino</li>
                            <li>Corpo del cedolino</li>
                            <li>
                              Competenze e trattenute (fiscali e previdenziali)
                            </li>
                          </ul>
                          <br />
                          <p style="font-size: 14px">
                            Vedremo insieme il passaggio dalla retribuzione
                            lorda a quella netta, attraverso l’analisi delle
                            varie voci contenute nel cedolino (retribuzione,
                            contributi INPS, enti assistenziali e tasse). <br />
                            Dopo l’incontro sarai in grado di poter leggere
                            anche buste paghe diverse dalla tua. Tornerà utile
                            ad esempio, se cambierai, in futuro, datore di
                            lavoro. <br /><br /><i
                              ><b>Attenzione:</b> durante la consulenza online
                              non verrà analizzata la correttezza di quanto
                              riportato sulla busta paga rispetto alle
                              previsioni normative e contrattuali. Questo tipo
                              di analisi richiede infatti una consulenza mirata
                              e più approfondita che potrai richiedere anche
                              successivamente e per cui verrà predisposto
                              eventualmente uno specifico preventivo.</i
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <div
                class="elementor-element elementor-element-a922fac elementor-widget elementor-widget-image"
                data-id="a922fac"
                data-element_type="widget"
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container">
                  <i>
                    <img
                      decoding="async"
                      width="1"
                      height="1"
                      src="https://valentinafilippini.it/wp-content/uploads/2022/07/elaborazione_paghe_e_contributi.svg"
                      data-src="https://valentinafilippini.it/wp-content/uploads/2022/07/elaborazione_paghe_e_contributi.svg"
                      class="attachment-large size-large wp-image-2784 lazyloaded"
                      alt="" /><noscript
                      ><img
                        decoding="async"
                        width="1"
                        height="1"
                        src="https://valentinafilippini.it/wp-content/uploads/2022/07/elaborazione_paghe_e_contributi.svg"
                        class="attachment-large size-large wp-image-2784 lazyload"
                        alt="" /></noscript
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-2ed74112 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="2ed74112"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2e69dd36"
            data-id="2e69dd36"
            data-element_type="column"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-600f7e00 elementor-widget elementor-widget-text-editor"
                data-id="600f7e00"
                data-element_type="widget"
                data-widget_type="text-editor.default"
              >
                <div class="elementor-widget-container">
                  <p>
                    <i
                      >Le prenotazioni per le consulenze sono attualmente chiuse
                      e r<span style="color: var(--e-global-color-text)"
                        >iapriranno a partire da&nbsp;</span
                      ><span style="color: rgb(237, 122, 87)"
                        >Settembre!</span
                      ></i
                    >
                  </p>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-50d63c9 elementor-widget elementor-widget-text-editor"
                data-id="50d63c9"
                data-element_type="widget"
                data-widget_type="text-editor.default"
              >
                <div class="elementor-widget-container">
                  <p>
                    <i
                      >Se vuoi ricevere una notifica non appena riapriranno,
                      compila il form qui sotto!</i
                    >
                  </p>
                </div>
              </div>
              <div
                class="elementor-element elementor-element-ff0714e elementor-button-align-stretch elementor-widget elementor-widget-form"
                data-id="ff0714e"
                data-element_type="widget"
                data-settings='{"step_next_label":"Next","step_previous_label":"Previous","button_width":"100","step_type":"number_text","step_icon_shape":"circle"}'
                data-widget_type="form.default"
              >
                <div class="elementor-widget-container">
                  <form
                    class="elementor-form"
                    method="post"
                    name="Consulenze - Riapertura Settembre "
                  >
                    <i>
                      <input type="hidden" name="post_id" value="4966" />
                      <input type="hidden" name="form_id" value="ff0714e" />
                      <input
                        type="hidden"
                        name="referer_title"
                        value="Impariamo a leggere la tua busta paga - Valentina Filippini | Consulente del lavoro"
                      />
                      <input type="hidden" name="queried_id" value="4966" />
                      <div
                        class="elementor-form-fields-wrapper elementor-labels-"
                      >
                        <div
                          class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required"
                        >
                          <label
                            for="form-field-name"
                            class="elementor-field-label elementor-screen-only"
                          >
                            Nome
                          </label>
                          <input
                            size="1"
                            type="text"
                            name="form_fields[name]"
                            id="form-field-name"
                            class="elementor-field elementor-size-sm elementor-field-textual"
                            placeholder="Nome"
                            required="required"
                            aria-required="true"
                          />
                        </div>
                        <div
                          class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-field_8489d5b elementor-col-100 elementor-field-required"
                        >
                          <label
                            for="form-field-field_8489d5b"
                            class="elementor-field-label elementor-screen-only"
                          >
                            Cognome
                          </label>
                          <input
                            size="1"
                            type="text"
                            name="form_fields[field_8489d5b]"
                            id="form-field-field_8489d5b"
                            class="elementor-field elementor-size-sm elementor-field-textual"
                            placeholder="Cognome"
                            required="required"
                            aria-required="true"
                          />
                        </div>
                        <div
                          class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required"
                        >
                          <label
                            for="form-field-email"
                            class="elementor-field-label elementor-screen-only"
                          >
                            Email
                          </label>
                          <input
                            size="1"
                            type="email"
                            name="form_fields[email]"
                            id="form-field-email"
                            class="elementor-field elementor-size-sm elementor-field-textual"
                            placeholder="Email"
                            required="required"
                            aria-required="true"
                          />
                        </div>
                        <div
                          class="elementor-field-type-acceptance elementor-field-group elementor-column elementor-field-group-consent_privacy elementor-col-100 elementor-field-required"
                        >
                          <label
                            for="form-field-consent_privacy"
                            class="elementor-field-label elementor-screen-only"
                          >
                            Consent Privacy
                          </label>
                          <div class="elementor-field-subgroup">
                            <span class="elementor-field-option">
                              <input
                                type="checkbox"
                                name="form_fields[consent_privacy]"
                                id="form-field-consent_privacy"
                                class="elementor-field elementor-size-sm elementor-acceptance-field"
                                required="required"
                                aria-required="true"
                              />
                              <label for="form-field-consent_privacy"
                                ><div style="font-size: 14px; display: inline">
                                  Acconsento al trattamento dei miei dati e
                                  dichiaro di aver preso visione della
                                  <a href="/privacy-policy" target="_blank"
                                    >Privacy Policy</a
                                  >
                                </div></label
                              >
                            </span>
                          </div>
                        </div>
                        <div
                          class="elementor-field-type-hidden elementor-field-group elementor-column elementor-field-group-field_c843728 elementor-col-100"
                        >
                          <input
                            size="1"
                            type="hidden"
                            name="form_fields[field_c843728]"
                            id="form-field-field_c843728"
                            class="elementor-field elementor-size-sm elementor-field-textual"
                            value="Impariamo a leggere la tua busta paga"
                          />
                        </div>
                        <div
                          class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons"
                        >
                          <button
                            type="submit"
                            class="elementor-button elementor-size-sm"
                          >
                            <span>
                              <span class="elementor-button-icon"> </span>
                              <span class="elementor-button-text">Invia</span>
                            </span>
                          </button>
                        </div>
                      </div></i
                    >
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="post-tags"></div>
  </div>
</main>
