<div class="wrapper-div">
   
    <p class="main-title page text-center font-weight-bold mb-4" style="color: var(--e-global-color-primary) !important">
      Pagina non trovata!
    </p>
  
      <div class="feedback">
        <div class="container mt-3">
          <div class="text-center">
            <h1 style="color: var(--e-global-color-primary)">
              404 
              <i
                aria-hidden="true"
                class="fa fa-thumbs-down animated-thumbs"
                style="color: var(--e-global-color-primary) !important"
              ></i>
            </h1>
            <h4 class="mt-5">
              Hai bisogno di aiuto? Ricorda che l'assistenza è a tua disposizione. Invia una mail a 
              <a
              href="mailto:{{supportEmail}}"
              class=" waves-effect center-butt"
              style="color: var(--e-global-color-primary)!important;"
              >{{supportEmail}}</a
            >
            </h4>
          </div>
        </div>
      </div>
  
  </div>