<div class="elementor elementor-about-page">
  <section class="elementor-section elementor-top-section elementor-element elementor-about-life-section elementor-section-boxed elementor-section-height-default elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-wide">
      <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-about-life-picture">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-hidden-tablet elementor-widget elementor-widget-image">
            <div class="elementor-widget-container">
              <img
                  decoding="async"
                  width="800"
                  height="907"
                  src="assets/pictures/foto1b.webp"
                  class="attachment-large size-large wp-image-6196 lazyload"
                  alt=""
                  sizes="(max-width: 800px) 100vw, 800px"
              />
            </div>
          </div>
          <div class="elementor-element elementor-hidden-desktop elementor-hidden-mobile elementor-widget elementor-widget-image">
            <div class="elementor-widget-container">
              <img
                  decoding="async"
                  width="683"
                  height="1024"
                  src="assets/pictures/foto1b.webp"
                  class="attachment-large size-large wp-image-6202 lazyload"
                  alt=""
                  sizes="(max-width: 683px) 100vw, 683px"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-about-life-description">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-about-life-description-title elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Chi sono
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-about-life-description-subtitle elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Ciao! Sono Aisia
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-about-life-description-block-1 elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              <p>
                <span style="font-weight: 400">Dottore Commercialista 
                  @if(revisoreLegaleFlag){
                    e Revisore Legale
                  } 
                  nel mio </span>
                <b>studio in provincia di {{siteConfig.datiPersonali.sede.provinciaEstesa}}</b>
                <span style="font-weight: 400"> e da diversi anni anche </span>
                <b>online</b>
                <span style="font-weight: 400">, dove mi occupo di <b>consulenza fiscale</b>, <b>contabile</b> e <b>societaria</b>, supportando <b>imprese</b>, <b>professionisti</b> e <b>privati</b> nella gestione delle loro attività con competenza e precisione.</span>
              </p>
            </div>
          </div>
          <div class="elementor-element elementor-about-life-description-subtitle-2 elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              <p><b>La mia missione?</b></p>
            </div>
          </div>
          <div class="elementor-element elementor-about-life-description-block-2 elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              <p>
                <span style="font-weight: 400">Fornire ai miei clienti strumenti concreti per affrontare le <b>sfide fiscali</b> e <b>amministrative</b> con consapevolezza e sicurezza, affinché ogni scelta sia strategica e vantaggiosa.</span>
              </p>
              <p>
                <span style="font-weight: 400">
                  Con il mio lavoro ho la possibilità di supportare e
                  accompagnare nel loro percorso lavorativo diverse realtà e
                  professionisti. Attraverso il mio studio –</span>
                  <i><span style="font-weight: 400"> fisico e virtuale</span></i>
                  <span style="font-weight: 400">
                  – offro assistenza personalizzata e servizi di consulenza su misura per:</span>
              </p>
            </div>
          </div>
          <div class="elementor-element elementor-about-life-list-container elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list">
            <div class="elementor-widget-container">
              <ul class="elementor-icon-list-items" style="line-height: 1.5;">
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                  </span>
                  <span class="elementor-icon-list-text">Imprese e startup</span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                  </span>
                  <span class="elementor-icon-list-text">Liberi professionisti</span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                  </span>
                  <span class="elementor-icon-list-text">Privati e famiglie</span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="fas fa-dot-circle"></i>
                  </span>
                  <span class="elementor-icon-list-text">Enti e associazioni</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="elementor-element elementor-about-life-description-block-3 elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              <p>
                <span style="font-weight: 400">
                  Affianco i miei Clienti in modo completamente personalizzato
                  e grazie a questo approccio negli ultimi anni sono nate le mie&nbsp;
                </span>
                <a href="#consulenza-popup"><b>consulenze one to one</b></a>
                <span style="font-weight: 400"> e i miei </span>
                <b>webinar online monotematici</b>
                <span style="font-weight: 400">
                  ai quali è possibile partecipare in alcuni periodi
                  dell’anno.
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="elementor-section elementor-top-section elementor-element elementor-about-services-presentation elementor-section-full_width elementor-section-height-default elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-about-services-presentation-title elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Cosa posso fare per te?
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-business-buttons class="handle-margin-business-buttons"></app-business-buttons>
  </section>

  <section class="elementor-section elementor-top-section elementor-element elementor-about-something-of-me elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-wide">
      <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-about-something-of-me-desc">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-about-something-of-me-desc-title elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Qualcosa su di me…
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-about-something-of-me-desc-block elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list">
            <div class="elementor-widget-container">
              <ul class="elementor-icon-list-items">
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="far fa-dot-circle"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    <strong>Sono mamma di Bianca e Lorenzo</strong>, due
                    splendidi bambini che hanno messo a dura prova diverse volte
                    la mia
                    <strong>ricerca di equilibrio vita-lavoro!</strong> Ecco
                    perché negli ultimi anni ho deciso di dedicare gran parte
                    del mio lavoro ad aiutare le mamme lavoratrici - e più in
                    generale le famiglie - ad avere la giusta conoscenza dei
                    propri diritti!</span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="far fa-dot-circle"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Sono stata tra le prime Consulenti del Lavoro ad occuparmi
                    di
                    <strong>
                      divulgazione online e sono molto fiera della
                      community
                    </strong>
                    che si è creata. Credo fortemente nella collaborazione e nel
                    sostegno tra professionisti/e e giorno dopo giorno cerco di
                    rendere l’online un luogo migliore attraverso i miei
                    contenuti.
                  </span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="far fa-dot-circle"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Sono del segno dell’ariete, amo la montagna e pratico
                    pilates nel tempo libero, o meglio… nei ritagli di tempo
                    libero guadagnati dalla sveglia presto! Sono
                    <strong>appassionata di organizzazione</strong> e questo mi
                    aiuta a sperimentare, correggere il tiro e migliorare nei
                    diversi ambiti della mia vita.</span>
                </li>
                <li class="elementor-icon-list-item">
                  <span class="elementor-icon-list-icon">
                    <i aria-hidden="true" class="far fa-dot-circle"></i>
                  </span>
                  <span class="elementor-icon-list-text">
                    Amo tantissimo il mio lavoro ma negli anni
                    <strong>
                      ho imparato a delegare e prendermi spazio e tempo per
                      me
                    </strong>
                    , ecco perché nei miei webinar dedicati alle famiglie cerco
                    sempre di portare anche la mia esperienza di vita o quella
                    delle mie clienti.
                    <strong>Conoscere i propri diritti è fondamentale</strong> e
                    se riusciamo ad utilizzarli a nostro vantaggio allora sarà
                    davvero molto più semplice avvicinarsi giorno dopo giorno a
                    quell’equilibrio di vita e lavoro che ognuno di noi
                    desidera!
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-about-something-of-me-picture-block">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-hidden-tablet elementor-widget elementor-widget-image">
            <div class="elementor-widget-container">
              <img
                  decoding="async"
                  width="800"
                  height="794"
                  src="assets/pictures/foto2.webp"
                  class="attachment-large size-large wp-image-6198 lazyload"
                  alt=""
                  sizes="(max-width: 800px) 100vw, 800px"
              />
            </div>
          </div>
          <div class="elementor-element elementor-hidden-desktop elementor-hidden-mobile elementor-widget elementor-widget-image">
            <div class="elementor-widget-container">
              <img
                  decoding="async"
                  width="683"
                  height="1024"
                  src="assets/pictures/foto2.webp"
                  class="attachment-large size-large wp-image-6203 lazyload"
                  alt=""
                  sizes="(max-width: 683px) 100vw, 683px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="elementor-section elementor-top-section elementor-element elementor-about-poster-container elementor-section-boxed elementor-section-height-default elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-about-poster-block elementor-widget elementor-widget-image">
            <div class="elementor-widget-container">
              <img
                  decoding="async"
                  width="800"
                  height="685"
                  src="assets/pictures/cdl_vf_1.webp"
                  class="attachment-large size-large wp-image-6201 lazyload"
                  alt=""
                  sizes="(max-width: 800px) 100vw, 800px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <app-recent-articles></app-recent-articles>
</div>
