.elementor-about-page .elementor-element.elementor-about-life-section {
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 5% 3% 3% 3%;
}

.elementor-about-page
  .elementor-element.elementor-about-life-picture
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-title {
  text-align: left;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-title
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: "DM Serif Display", Calibri Light, Candara, Segoe, "Segoe UI",
    Optima, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-subtitle {
  text-align: left;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-subtitle
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: "Poppins", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 44px;
  font-weight: 600;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-subtitle
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-block-1 {
  font-family: "Raleway", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-subtitle-2 {
  font-family: "Raleway", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-subtitle-2
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-block-2 {
  font-family: "Raleway", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(2px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(2px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(2px / 2);
  margin-left: calc(2px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-2px / 2);
  margin-left: calc(-2px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-2px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-2px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-accent);
  transition: fill 0.3s;
}

.elementor-about-page .elementor-element.elementor-about-life-list-container {
  --e-icon-list-icon-size: 13px;
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-item
  > a {
  font-family: var(--e-global-typography-text-font-family), Calibri Light,
    Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  .elementor-icon-list-text {
  color: var(--e-global-color-text);
  transition: color 0.3s;
}

.elementor-about-page
  .elementor-element.elementor-about-life-list-container
  > .elementor-widget-container {
  margin: -15px 150px 0px 0px;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-block-3 {
  font-family: "Raleway", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.elementor-about-page
  .elementor-element.elementor-about-life-description-block-3
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}

.elementor-about-page
  .elementor-element.elementor-about-services-presentation:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-about-page
  .elementor-element.elementor-about-services-presentation
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fdf9f6;
}

.elementor-about-page .elementor-element.elementor-about-services-presentation {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 40px 0px 0px 0px;
}

.elementor-about-page
  .elementor-element.elementor-about-services-presentation
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-about-page
  .elementor-element.elementor-about-services-presentation-title {
  text-align: center;
}

.elementor-about-page
  .elementor-element.elementor-about-services-presentation-title
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: "Poppins", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 45px;
  font-weight: 600;
}

.elementor-about-page
  .elementor-element.elementor-about-services-presentation-title
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}

.elementor-about-page
  .elementor-element.elementor-element-7f55fb2
  > .elementor-container {
  max-width: 1165px;
}

.elementor-about-page
  .elementor-element.elementor-element-7f55fb2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-about-page
  .elementor-element.elementor-element-7f55fb2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #fdf9f6;
}

.elementor-about-page .elementor-element.elementor-element-7f55fb2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0px 50px 60px 50px;
}

.elementor-about-page
  .elementor-element.elementor-element-7f55fb2
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-about-page
  .elementor-element.elementor-element-5d473f2:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-about-page
  .elementor-element.elementor-element-5d473f2
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f6d1b8e6;
}

.elementor-about-page
  .elementor-element.elementor-element-5d473f2
  > .elementor-element-populated {
  border-style: solid;
  border-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(222, 222, 222, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 20px 30px 20px;
}

.elementor-about-page
  .elementor-element.elementor-element-5d473f2
  > .elementor-element-populated,
.elementor-about-page
  .elementor-element.elementor-element-5d473f2
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-about-page
  .elementor-element.elementor-element-5d473f2
  > .elementor-background-slideshow {
  border-radius: 20px 20px 20px 20px;
}

.elementor-about-page
  .elementor-element.elementor-element-5d473f2
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget
  .elementor-about-page
  .elementor-element.elementor-element-06c4095.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}

.elementor-about-page
  .elementor-element.elementor-element-06c4095.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-about-page
  .elementor-element.elementor-element-06c4095.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}

.elementor-about-page
  .elementor-element.elementor-element-06c4095:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-about-page
  .elementor-element.elementor-element-06c4095
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}

.elementor-about-page
  .elementor-element.elementor-element-06c4095:hover
  > .elementor-element-populated {
  background-color: var(--e-global-color-accent);
}

.elementor-about-page
  .elementor-element.elementor-element-06c4095
  > .elementor-element-populated,
.elementor-about-page
  .elementor-element.elementor-element-06c4095
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-about-page
  .elementor-element.elementor-element-06c4095
  > .elementor-background-slideshow {
  border-radius: 10px 0px 0px 10px;
}

.elementor-about-page
  .elementor-element.elementor-element-06c4095
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-about-page
  .elementor-element.elementor-element-06c4095
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-about-page .elementor-element.elementor-element-8d6d12f {
  text-align: center;
  width: auto;
  max-width: auto;
}

.elementor-about-page
  .elementor-element.elementor-element-8d6d12f
  .elementor-heading-title {
  color: var(--e-global-color-0482cab);
  font-family: "Poppins", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.5em;
}

.elementor-about-page
  .elementor-element.elementor-element-8d6d12f
  > .elementor-widget-container {
  margin: 0px 08px 0px 0px;
}

.elementor-about-page .elementor-element.elementor-element-6a0129c {
  text-align: center;
  width: auto;
  max-width: auto;
}

.elementor-about-page
  .elementor-element.elementor-element-6a0129c
  .elementor-heading-title {
  color: var(--e-global-color-0482cab);
  font-family: "Poppins", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.elementor-bc-flex-widget
  .elementor-about-page
  .elementor-element.elementor-element-5a4b477.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}

.elementor-about-page
  .elementor-element.elementor-element-5a4b477.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}

.elementor-about-page
  .elementor-element.elementor-element-5a4b477.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}

.elementor-about-page
  .elementor-element.elementor-element-5a4b477:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-about-page
  .elementor-element.elementor-element-5a4b477
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-secondary);
}

.elementor-about-page
  .elementor-element.elementor-element-5a4b477:hover
  > .elementor-element-populated {
  background-color: #ab4221;
}

.elementor-about-page
  .elementor-element.elementor-element-5a4b477
  > .elementor-element-populated,
.elementor-about-page
  .elementor-element.elementor-element-5a4b477
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-about-page
  .elementor-element.elementor-element-5a4b477
  > .elementor-background-slideshow {
  border-radius: 0px 10px 10px 0px;
}

.elementor-about-page
  .elementor-element.elementor-element-5a4b477
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-about-page
  .elementor-element.elementor-element-5a4b477
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-about-page .elementor-element.elementor-element-6a0904b {
  text-align: center;
  width: auto;
  max-width: auto;
}

.elementor-about-page
  .elementor-element.elementor-element-6a0904b
  .elementor-heading-title {
  color: var(--e-global-color-0482cab);
  font-family: "Poppins", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.5em;
}

.elementor-about-page
  .elementor-element.elementor-element-6a0904b
  > .elementor-widget-container {
  margin: 0px 08px 0px 0px;
}

.elementor-about-page .elementor-element.elementor-element-c661bbe {
  text-align: center;
  width: auto;
  max-width: auto;
}

.elementor-about-page
  .elementor-element.elementor-element-c661bbe
  .elementor-heading-title {
  color: var(--e-global-color-0482cab);
  font-family: "Poppins", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.elementor-about-page .elementor-element.elementor-about-something-of-me {
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 5% 3% 3% 3%;
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 10px;
}

.elementor-about-page .elementor-element.elementor-about-something-of-me-desc-title {
  text-align: left;
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-title
  .elementor-heading-title {
  color: var(--e-global-color-text);
  font-family: "Poppins", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-title
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(15px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(15px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(15px / 2);
  margin-left: calc(15px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-15px / 2);
  margin-left: calc(-15px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-15px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-15px / 2);
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-accent);
  transition: fill 0.3s;
}

.elementor-about-page .elementor-element.elementor-about-something-of-me-desc-block {
  --e-icon-list-icon-size: 15px;
  --icon-vertical-align: flex-start;
  --icon-vertical-offset: 6px;
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-icon {
  padding-right: 4px;
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-item
  > a {
  font-family: "Raleway", Calibri Light, Candara, Segoe, "Segoe UI", Optima,
    Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  .elementor-icon-list-text {
  color: var(--e-global-color-text);
  transition: color 0.3s;
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-desc-block
  > .elementor-widget-container {
  margin: 10px 10px 0px 0px;
}

.elementor-about-page
  .elementor-element.elementor-about-something-of-me-picture-block
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}

.elementor-about-page
  .elementor-element.elementor-about-poster-container:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-about-page
  .elementor-element.elementor-about-poster-container
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ed7a5714;
}

.elementor-about-page .elementor-element.elementor-about-poster-container {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-about-page
  .elementor-element.elementor-about-poster-container
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-about-page .elementor-element.elementor-about-poster-block img {
  max-width: 1000px;
}

.elementor-about-page .elementor-element.elementor-element-d92d20a {
  margin-top: 06%;
  margin-bottom: 0%;
  padding: 0px 0px 0px 0px;
}

@media (max-width: 1024px) {
  .elementor-about-page .elementor-element.elementor-about-life-section {
    margin-top: 3%;
    margin-bottom: 0%;
    padding: 05% 3% 5% 3%;
  }

  .elementor-about-page
    .elementor-element.elementor-about-life-picture
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-life-picture
    > .elementor-element-populated {
    padding: 32px 0px 0px 0px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-life-description
    > .elementor-element-populated {
    padding: 0px 20px 0px 20px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-life-description-subtitle
    .elementor-heading-title {
    font-size: 30px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-life-list-container
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-about-page
    .elementor-element.elementor-about-life-list-container
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-about-page
    .elementor-element.elementor-about-services-presentation {
    padding: 5% 0% 0% 0%;
  }

  .elementor-about-page
    .elementor-element.elementor-about-services-presentation-title
    .elementor-heading-title {
    font-size: 30px;
  }

  .elementor-about-page .elementor-element.elementor-element-7f55fb2 {
    padding: 0% 5% 5% 5%;
  }

  .elementor-about-page
    .elementor-element.elementor-element-8d6d12f
    .elementor-heading-title {
    font-size: 19px;
  }

  .elementor-about-page
    .elementor-element.elementor-element-6a0129c
    .elementor-heading-title {
    font-size: 30px;
  }

  .elementor-about-page
    .elementor-element.elementor-element-6a0904b
    .elementor-heading-title {
    font-size: 19px;
  }

  .elementor-about-page
    .elementor-element.elementor-element-c661bbe
    .elementor-heading-title {
    font-size: 30px;
  }

  .elementor-about-page .elementor-element.elementor-about-something-of-me {
    margin-top: 3%;
    margin-bottom: 0%;
    padding: 05% 3% 5% 3%;
  }

  .elementor-about-page
    .elementor-element.elementor-about-something-of-me-desc
    > .elementor-element-populated {
    padding: 10px 10px 0px 0px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-something-of-me-desc-title
    .elementor-heading-title {
    font-size: 30px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-something-of-me-picture-block
    > .elementor-element-populated {
    padding: 60px 0px 0px 0px;
  }
}

@media (max-width: 767px) {
  .elementor-about-page .elementor-element.elementor-about-life-section {
    margin-top: 10%;
    margin-bottom: 0%;
    padding: 20px 20px 20px 20px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-life-description
    > .elementor-element-populated {
    padding: 030px 00px 020px 00px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-life-description-subtitle
    .elementor-heading-title {
    font-size: 25px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-life-list-container
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-about-page
    .elementor-element.elementor-about-life-list-container
    .elementor-icon-list-item
    > a {
    font-size: var(--e-global-typography-text-font-size);
  }

  .elementor-about-page
    .elementor-element.elementor-about-life-list-container
    > .elementor-widget-container {
    margin: -20px 0px 0px 0px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-services-presentation {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8% 0% 0% 0%;
  }

  .elementor-about-page
    .elementor-element.elementor-about-services-presentation-title
    .elementor-heading-title {
    font-size: 25px;
  }

  .elementor-about-page .elementor-element.elementor-element-7f55fb2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0% 6% 10% 6%;
  }

  .elementor-about-page
    .elementor-element.elementor-element-06c4095
    > .elementor-element-populated,
  .elementor-about-page
    .elementor-element.elementor-element-06c4095
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-about-page
    .elementor-element.elementor-element-06c4095
    > .elementor-background-slideshow {
    border-radius: 10px 10px 0px 0px;
  }

  .elementor-about-page
    .elementor-element.elementor-element-8d6d12f
    .elementor-heading-title {
    font-size: 17px;
  }

  .elementor-about-page
    .elementor-element.elementor-element-6a0129c
    .elementor-heading-title {
    font-size: 25px;
  }

  .elementor-about-page
    .elementor-element.elementor-element-5a4b477
    > .elementor-element-populated,
  .elementor-about-page
    .elementor-element.elementor-element-5a4b477
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-about-page
    .elementor-element.elementor-element-5a4b477
    > .elementor-background-slideshow {
    border-radius: 0px 0px 10px 10px;
  }

  .elementor-about-page
    .elementor-element.elementor-element-6a0904b
    .elementor-heading-title {
    font-size: 17px;
  }

  .elementor-about-page
    .elementor-element.elementor-element-c661bbe
    .elementor-heading-title {
    font-size: 25px;
  }

  .elementor-about-page .elementor-element.elementor-about-something-of-me {
    margin-top: 10%;
    margin-bottom: 0%;
    padding: 20px 20px 20px 20px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-something-of-me-desc
    > .elementor-element-populated {
    padding: 30px 0px 0px 0px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-something-of-me-desc-title
    .elementor-heading-title {
    font-size: 25px;
  }

  .elementor-about-page
    .elementor-element.elementor-about-something-of-me-desc-block
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-about-page .elementor-element.elementor-about-poster-block img {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .elementor-about-page .elementor-element.elementor-about-life-picture {
    width: 41%;
  }

  .elementor-about-page .elementor-element.elementor-about-life-description {
    width: 59%;
  }

  .elementor-about-page .elementor-element.elementor-about-something-of-me-desc {
    width: 59%;
  }

  .elementor-about-page .elementor-element.elementor-about-something-of-me-picture-block {
    width: 41%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-about-page .elementor-element.elementor-about-something-of-me-desc {
    width: 55%;
  }

  .elementor-about-page .elementor-element.elementor-about-something-of-me-picture-block {
    width: 45%;
  }
}

.handle-margin-business-buttons {
  display: block;
  position: relative;
  margin-top: 37px;
  padding-bottom: 58px;
}

@media (max-width: 767px) {
  .handle-margin-business-buttons {
    margin-top: 104px;
  }
}
