<main id="content" class="site-main page " >
  <div class="page-content">
    <div class="elementor elementor-3895">
      
      <app-intestazione-area-decorated [title]="'Area Riservata'"></app-intestazione-area-decorated>
      
      <section class="elementor-section elementor-top-section elementor-element elementor-element-area-riservata-content-main elementor-section-boxed elementor-section-height-default elementor-section-height-default">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-element elementor-element-area-riservata-content-div e-my-account-tabs-vertical elementor-widget elementor-widget-woocommerce-my-account">
                <div class="elementor-widget-container">
                  <div class="e-my-account-tab e-my-account-tab__">
                    <div class="woocommerce">
                      <app-notices-block *ngIf="message" [message]="message.description" [status]="message.status" ></app-notices-block>
                      <form class="woocommerce-ResetPassword lost_reset_password">
                        <p>
                          Hai perso la password? Inserisci il tuo nome utente o
                          l'indirizzo email. Riceverai tramite email un link per
                          generarne una nuova.
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                          <label for="user_login">
                            Nome utente o indirizzo email
                          </label>
                          <input
                            class="woocommerce-Input woocommerce-Input--text input-text"
                            type="text"
                            name="user_login"
                            id="user_login"
                            autocomplete="username"
                          />
                        </p>
                        <div class="clear"></div>
                        <p class="woocommerce-form-row form-row">
                          <input
                            type="hidden"
                            name="wc_reset_password"
                            value="true"
                          />
                          <button
                            type="submit"
                            class="woocommerce-Button button"
                            value="Resettare la password"
                          >
                            Resettare la password
                          </button>
                        </p>
                        
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</main>
