<main
  id="content"
  class="site-main page hentry"
>
  <div class="page-content">
    <div
      data-elementor-type="wp-page"
      data-elementor-id="3895"
      class="elementor elementor-3895"
      data-elementor-post-type="page"
    >
      <app-intestazione-area-decorated [title]="'Area Riservata'"></app-intestazione-area-decorated>
      <section
        class="elementor-section elementor-top-section elementor-element elementor-element-area-riservata-content-main elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="1b9bc7b6"
        data-element_type="section"
      >
        <div class="elementor-container elementor-column-gap-default">
          <div
            class="elementor-column elementor-col-100 elementor-top-column elementor-element "
            data-id="75c3f2bd"
            data-element_type="column"
          >
            <div class="elementor-widget-wrap elementor-element-populated">
              <div
                class="elementor-element elementor-element-area-riservata-content-div e-my-account-tabs-vertical elementor-widget elementor-widget-woocommerce-my-account"
                data-id="6b4cb2f"
                data-element_type="widget"
                data-widget_type="woocommerce-my-account.default"
              >
                <div class="elementor-widget-container">
                  <div class="e-my-account-tab e-my-account-tab__">
                    <span class="elementor-hidden"
                      >[woocommerce_my_account]</span
                    >
                    <div class="woocommerce">
                      <app-notices-block *ngIf="message" [message]="message.description" [status]="message.status" ></app-notices-block>
                      <form
                        method="post"
                        class="woocommerce-ResetPassword lost_reset_password"
                      >
                        <p>
                          Hai perso la password? Inserisci il tuo nome utente o
                          l'indirizzo email. Riceverai tramite email un link per
                          generarne una nuova.
                        </p>
                        <p
                          class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first"
                        >
                          <label for="user_login"
                            >Nome utente o indirizzo email</label
                          >
                          <input
                            class="woocommerce-Input woocommerce-Input--text input-text"
                            type="text"
                            name="user_login"
                            id="user_login"
                            autocomplete="username"
                          />
                        </p>
                        <div class="clear"></div>
                        <p class="woocommerce-form-row form-row">
                          <input
                            type="hidden"
                            name="wc_reset_password"
                            value="true"
                          />
                          <button
                            type="submit"
                            class="woocommerce-Button button"
                            value="Resettare la password"
                          >
                            Resettare la password
                          </button>
                        </p>
                        <input
                          type="hidden"
                          id="woocommerce-lost-password-nonce"
                          name="woocommerce-lost-password-nonce"
                          value="6002f89fcd"
                        /><input
                          type="hidden"
                          name="_wp_http_referer"
                          value="/mio-account/lost-password/"
                        />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="post-tags"></div>
  </div>
</main>
