<div
  data-elementor-type="wp-page"
  data-elementor-id="35"
  class="elementor elementor-35"
  data-elementor-post-type="page"
>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-5b1bd9b elementor-section-full_width elementor-section-height-default elementor-section-height-default"
    data-id="5b1bd9b"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-no">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1bb10e9"
        data-id="1bb10e9"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-42f7820 elementor-widget elementor-widget-google_maps"
            data-id="42f7820"
            data-element_type="widget"
            data-widget_type="google_maps.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-custom-embed" [class.pink-overlay]="pinkMap">
                <iframe
                  class="lazyloaded"
                  loading="lazy"
                  src="https://maps.google.com/maps?q=Via%Francesco%20Petrarca%204%2084098%20Pontecagnano%20%28SA%29&amp;t=m&amp;z=17&amp;output=embed&amp;iwloc=near"
                  title="Via Roma 98 37023 Grezzana (VR)"
                  aria-label="Via Roma 98 37023 Grezzana (VR)"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="elementor-section elementor-top-section elementor-element elementor-element-05f0600 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
    data-id="05f0600"
    data-element_type="section"
  >
    <div class="elementor-container elementor-column-gap-no">
      <div
        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-cfec1b2 animated slideInLeft"
        data-id="cfec1b2"
        data-element_type="column"
        data-settings='{"animation":"slideInLeft"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-2d6fefc elementor-widget elementor-widget-heading"
            data-id="2d6fefc"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                scrivimi
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-006a03c elementor-widget elementor-widget-heading"
            data-id="006a03c"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Modulo di contatto
              </h2>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-a8a12f1 elementor-button-align-end elementor-widget__width-initial elementor-tablet-button-align-center elementor-widget elementor-widget-form"
            data-id="a8a12f1"
            data-element_type="widget"
            data-settings='{"step_next_label":"Successivo","step_previous_label":"Precedente","button_width":"20","button_width_tablet":"100","step_type":"number_text","step_icon_shape":"circle"}'
            data-widget_type="form.default"
          >
            <div class="elementor-widget-container">
              <form class="elementor-form" method="post" name="ConsOnline">
                <input type="hidden" name="post_id" value="35" />
                <input type="hidden" name="form_id" value="a8a12f1" />
                <input
                  type="hidden"
                  name="referer_title"
                  value="Contatta la consulente del lavoro Aisia Autiero"
                />
                <input type="hidden" name="queried_id" value="35" />
                <div
                  class="elementor-form-fields-wrapper elementor-labels-above"
                >
                  <div
                    class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-50 elementor-field-required"
                  >
                    <label for="form-field-name" class="elementor-field-label">
                      Nome:
                    </label>
                    <input
                      size="1"
                      type="text"
                      name="form_fields[name]"
                      id="form-field-name"
                      class="elementor-field elementor-size-sm elementor-field-textual"
                      required="required"
                      aria-required="true"
                    />
                  </div>
                  <div
                    class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-surname elementor-col-50 elementor-field-required"
                  >
                    <label
                      for="form-field-surname"
                      class="elementor-field-label"
                    >
                      Cognome:
                    </label>
                    <input
                      size="1"
                      type="text"
                      name="form_fields[surname]"
                      id="form-field-surname"
                      class="elementor-field elementor-size-sm elementor-field-textual"
                      required="required"
                      aria-required="true"
                    />
                  </div>
                  <div
                    class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-telefono elementor-col-50 elementor-field-required"
                  >
                    <label
                      for="form-field-telefono"
                      class="elementor-field-label"
                    >
                      Telefono:
                    </label>
                    <input
                      size="1"
                      type="text"
                      name="form_fields[telefono]"
                      id="form-field-telefono"
                      class="elementor-field elementor-size-sm elementor-field-textual"
                      required="required"
                      aria-required="true"
                    />
                  </div>
                  <div
                    class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-50 elementor-field-required"
                  >
                    <label for="form-field-email" class="elementor-field-label">
                      Email:
                    </label>
                    <input
                      size="1"
                      type="email"
                      name="form_fields[email]"
                      id="form-field-email"
                      class="elementor-field elementor-size-sm elementor-field-textual"
                      required="required"
                      aria-required="true"
                    />
                  </div>
                  <div
                    class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-message elementor-col-100 elementor-field-required"
                  >
                    <label
                      for="form-field-message"
                      class="elementor-field-label"
                    >
                      In cosa ti posso aiutare? </label
                    ><textarea
                      class="elementor-field-textual elementor-field elementor-size-sm"
                      name="form_fields[message]"
                      id="form-field-message"
                      rows="4"
                      required="required"
                      aria-required="true"
                    ></textarea>
                  </div>
                  <div
                    class="elementor-field-type-acceptance elementor-field-group elementor-column elementor-field-group-privacy elementor-col-80 elementor-md-100 elementor-field-required"
                  >
                    <div class="elementor-field-subgroup">
                      <span class="elementor-field-option">
                        <input
                          type="checkbox"
                          name="form_fields[privacy]"
                          id="form-field-privacy"
                          class="elementor-field elementor-size-sm elementor-acceptance-field mr-2"
                          required="required"
                          aria-required="true"
                        />
                        <label for="form-field-privacy"
                          >Acconsento al trattamento dei miei dati e dichiaro di
                          aver preso visione della
                          <a
                            rel="nofollow"
                            routerLink="/privacy-policy"
                            target="_blank"
                            ><span
                              style="color: #000; text-decoration: underline"
                            >
                              Privacy Policy
                            </span></a
                          >*</label
                        >
                      </span>
                    </div>
                  </div>
                  <div
                    class="elementor-field-type-acceptance elementor-field-group elementor-column elementor-field-group-field_ebeb7cb elementor-col-80 elementor-md-100"
                  >
                    <div class="elementor-field-subgroup">
                      <span class="elementor-field-option">
                        <input
                          type="checkbox"
                          name="form_fields[field_ebeb7cb]"
                          id="form-field-field_ebeb7cb"
                          class="elementor-field elementor-size-sm elementor-acceptance-field mr-2"
                        />
                        <label for="form-field-field_ebeb7cb"
                          >Acconsento al trattamento dei miei dati personali per
                          ricevere la newsletter e per ricevere periodicamente
                          informazioni relative alle vostre iniziative
                          formative, promozionali e commerciali</label
                        >
                      </span>
                    </div>
                  </div>
                  <div class="elementor-field-type-text">
                    <input
                      size="1"
                      type="text"
                      name="form_fields[field_0070922]"
                      id="form-field-field_0070922"
                      class="elementor-field elementor-size-sm"
                      style="display: none !important"
                    />
                  </div>
                  <div
                    class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-20 e-form__buttons elementor-md-100"
                  >
                    <button
                      type="submit"
                      class="elementor-button elementor-size-xs"
                    >
                      <span>
                        <span class="elementor-button-icon"> </span>
                        <span class="elementor-button-text">Invia</span>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4684d12 elementor-hidden-mobile animated bounceInRight"
        data-id="4684d12"
        data-element_type="column"
        data-settings='{"animation":"bounceInRight"}'
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-d4b862d elementor-align-center elementor-widget elementor-widget-lottie"
            data-id="d4b862d"
            data-element_type="widget"
            data-settings='{"source_json":{"url":"https:\/\/valentinafilippini.it\/wp-content\/uploads\/2022\/07\/lf30_editor_iwh84lb9.json","id":3571,"size":"","alt":"","source":"library"},"loop":"yes","source":"media_file","caption_source":"none","link_to":"none","trigger":"arriving_to_viewport","viewport":{"unit":"%","size":"","sizes":{"start":0,"end":100}},"play_speed":{"unit":"px","size":1,"sizes":[]},"start_point":{"unit":"%","size":"0","sizes":[]},"end_point":{"unit":"%","size":"100","sizes":[]},"renderer":"svg"}'
            data-widget_type="lottie.default"
          >
            <div class="elementor-widget-container">
              <div class="e-lottie__container">
                <div class="e-lottie__animation">
                  <ng-lottie [options]="lottieOptions"></ng-lottie>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-3c8cd9d elementor-widget elementor-widget-heading"
            data-id="3c8cd9d"
            data-element_type="widget"
            data-widget_type="heading.default"
          >
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Tel. 340 5272617
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
