<p>
  I seguenti indirizzi saranno usati come predefiniti nella pagina di riepilogo
  dell'ordine.
</p>

<div class="u-column1 woocommerce-Address">
  <header class="woocommerce-Address-title title">
    <h3>Indirizzo di fatturazione</h3>
    <a
      *ngIf="!address"
      routerLink="/area-riservata/indirizzi/aggiungi"
      class="edit">
      Aggiungi
    </a>
    <a
      *ngIf="address"
      routerLink="/area-riservata/indirizzi/aggiungi"
      class="edit">
      Modifica
    </a>
  </header>
  <address *ngIf="!address" style="height: 87px">
    Non hai ancora impostato questo tipo di indirizzo.
  </address>
  <address *ngIf="address" style="height: 231px">
    corbisiero srl<br />Gerardo Corbisiero<br />Via Ciorani, fraz. Lombardi<br />4<br />84085<br />MERCATO
    SAN SEVERINO<br />SALERNO
  </address>
</div>
