<div class="elementor elementor-footer-base elementor-location-footer">
  <section class="elementor-section elementor-top-section elementor-element elementor-footer-main-section elementor-section-full_width elementor-section-height-default elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-wide">
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-footer-col-div">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-footer-col-block elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                ultime news
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-footer-grid-block elementor-grid-1 elementor-posts--thumbnail-none elementor-grid-tablet-1 elementor-grid-mobile-1 elementor-widget elementor-widget-posts">
            <div class="elementor-widget-container">
              <div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid">
                @for (news of recentNews; track news) {
                  <article class="elementor-post elementor-grid-item post type-post format-standard has-post-thumbnail hentry">
                    <div class="elementor-post__text">
                      <h3 class="elementor-post__title">
                        <a [routerLink]="news.redirectUrl">
                          {{news.title}}
                        </a>
                      </h3>
                    </div>
                  </article>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-footer-service-col">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-footer-service-col-content elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                servizi aziende
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-footer-service-content-list elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              @for (servizioAziende of serviziAziende; track servizioAziende) {
                <p>
                  <a [routerLink]="servizioAziende.redirectUrl">
                    {{servizioAziende.title}}
                  </a>
                </p>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-footer-service-col">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-footer-service-col-content elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                servizi privati
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-footer-service-content-list elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              @for (servizioPrivati of serviziPrivati; track servizioPrivati) {
                <p>
                  <a [routerLink]="servizioPrivati.redirectUrl">
                    {{servizioPrivati.title}}
                  </a>
                </p>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-footer-service-col-contatti">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-footer-service-col-content elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                Contatti
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-footer-service-content-list elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              <p>
                {{datiPersonali.sede.indirizzo}}
                <br />
                {{datiPersonali.sede.cap}} {{datiPersonali.sede.localita}} ({{datiPersonali.sede.provincia}})
                <br />Tel. {{datiPersonali.contatti.telefono}}
                <br />
                <a class="moz-txt-link-abbreviated" href="mailto:{{datiPersonali.contatti.email}}">
                  {{datiPersonali.contatti.email}}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-footer-service-col-social">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-footer-service-col-content elementor-widget elementor-widget-heading">
            <div class="elementor-widget-container">
              <h2 class="elementor-heading-title elementor-size-default">
                SOCIAL NETWORK
              </h2>
            </div>
          </div>
          <div class="elementor-element elementor-footer-social-grid elementor-shape-square e-grid-align-left elementor-grid-3 elementor-widget elementor-widget-social-icons">
            <div class="elementor-widget-container">
              <div class="elementor-social-icons-wrapper elementor-grid">
                <span class="elementor-grid-item">
                  <a
                    class="elementor-icon elementor-social-icon elementor-social-icon-linkedin"
                    href="{{datiPersonali.contatti.linkedin}}"
                    target="_blank"
                  >
                    <span class="elementor-screen-only">Linkedin</span>
                    <i class="fab fa-linkedin"></i>
                  </a>
                </span>
                <span class="elementor-grid-item">
                  <a
                    class="elementor-icon elementor-social-icon elementor-social-icon-instagram"
                    href="{{datiPersonali.contatti.instagram}}"
                    target="_blank"
                  >
                    <span class="elementor-screen-only">Instagram</span>
                    <i class="fab fa-instagram"></i>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="elementor-section elementor-top-section elementor-element elementor-footer-copyright-section elementor-section-full_width elementor-section-height-default elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-footer-copyright-div elementor-widget elementor-widget-text-editor">
            <div class="elementor-widget-container">
              © Copyright {{datiPersonali.nome}} {{datiPersonali.cognome}} | P. IVA {{datiPersonali.pIva.prefisso}} {{datiPersonali.pIva.codice}} |
              <span style="color: var(--palette1-color-accent);"
                ><a
                  style="color: var(--palette1-color-accent);"
                  routerLink="/privacy-policy"
                  >Privacy Policy</a
                ></span
              >
              |
              <a routerLink="/cookie-policy"
                ><span style="color: var(--palette1-color-accent);">Cookie Policy</span></a
              >
              |
              <a routerLink="/termini-e-condizioni"
                ><span style="color: var(--palette1-color-accent);">Termini e Condizioni</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
