<main id="content" class="site-main page hentry">
  <div class="page-content">
    <div class="elementor elementor-termini-condizioni-page">

      <app-main-title-center-decorated [title]="'Termini e Condizioni'"></app-main-title-center-decorated>

      <section class="elementor-section elementor-top-section elementor-element elementor-element-section-body elementor-section-boxed elementor-section-height-default elementor-section-height-default">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
            <div class="elementor-widget-wrap elementor-element-populated">
              <div class="elementor-element elementor-widget elementor-widget-text-editor">
                <div class="elementor-widget-container">
                  <p class="p1">
                    I presenti Termini e Condizioni disciplinano la vendita dei
                    Servizi sul sito {{datiPersonali.contatti.dominio}}. Il Consulente si
                    riserva il diritto di modificare i presenti Termini e
                    Condizioni di vendita e la Privacy Policy e le predette
                    modifiche saranno rese note agli Utenti tramite il Sito con
                    un apposito avviso. Detta comunicazione potrà, a discrezione
                    del Consulente essere effettuata anche attraverso l’invio di
                    un’apposita email. La vendita on line dei Servizi sul Sito,
                    per quanto riguarda i consumatori, è disciplinata dalle
                    norme del Codice del Consumo D.lgs. n.206/2005 e del Codice
                    del Commercio Elettronico D.lgs. n. 70/2003.
                  </p>
                  <p class="p1"><b>ART. 1 DEFINIZIONI </b></p>
                  <p class="p1">
                    Ai fini del presente contratto, si intende per:
                  </p>
                  <p class="p1">
                    <b>Consulente del servizio</b>: Dott.ssa {{datiPersonali.nome}} {{datiPersonali.cognome}}
                    con sede in {{datiPersonali.sede.localita}} ({{datiPersonali.sede.provincia}}) alla {{datiPersonali.sede.indirizzo}} P.Iva
                    {{datiPersonali.pIva.codice}} mail: {{datiPersonali.contatti.email}}<br /><b
                      >Termini e Condizioni generali: </b
                    >l’insieme delle presenti clausole contrattuali che
                    determinano e definiscono i rapporti tra il Consulente e
                    Cliente<br /><b>Sito web</b>: {{datiPersonali.contatti.dominio}}<br /><b
                      >Servizi:</b
                    >
                    vendita di Servizio di Consulenza<br /><br /><b>Acquisto</b
                    >: l’acquisto oneroso del Servizio di cui sopra<br /><b
                      >Ordine:</b
                    >
                    la proposta di acquisto effettuata dall’Utente attraverso le
                    procedure del Sito ed in particolare tramite il Carrello<br /><b
                      >Carrello:</b
                    >
                    la fase della procedura di acquisto<br /><b>Cliente: </b
                    >qualsiasi soggetto che acquista il Servizio venduto tramite
                    il Sito<br /><b>Consumatore: </b>la persona fisica che
                    agisce per scopi estranei ad attività professionale o
                    imprenditoriale<br /><b>Professionista</b>: colui che agisce
                    per scopi professionali o imprenditoriali<br /><b
                      >Utente: </b
                    >qualsiasi soggetto che ha accesso al sito web
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1"><b>ART. 2 OGGETTO DEL CONTRATTO </b></p>
                  <p class="p1">
                    I presenti Termini e Condizioni di vendita riguardano il
                    Servizio di cui al successivo articolo e sono validi tra il
                    Consulente e qualsiasi Utente che effettua l’acquisto e
                    stabiliscono le condizioni di utilizzo del sito web.
                    Eventuali tolleranze del Consulente ai comportamenti che
                    siano in violazione di quanto previsto dalle presenti
                    condizioni non costituiscono rinuncia ai diritti che
                    spettano a tale parte in base alle predette. Qualora una
                    delle condizioni risulti essere nulla o inefficace,
                    l’eventuale nullità o inefficacia non si estenderà alle
                    restanti clausole contrattuali.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1"><b>ART. 3 DESCRIZIONE DEL SERVIZIO </b></p>
                  <p class="p1">
                    Il Servizio offerto prevede una Consulenza professionale
                    individuale avente ad oggetto le tematiche inerenti il
                    diritto del lavoro. La Consulenza prestata al Cliente
                    avviene tramite incontro online della durata variabile di 30
                    minuti e/o 1 ora in base all’acquisto effettuato dal
                    Cliente. Il Cliente potrà fissare in autonomia tramite link
                    alla piattaforma on line la data e l’orario della
                    Consulenza. Eventuale materiale da esaminare richiesto dal
                    Consulente va inviato prima della consulenza, in mancanza il
                    Consulente non potrà procedere con la stessa. Il Cliente
                    prende atto e accetta che la Consulenza è svolta in modalità
                    orale e non prevede l’invio di materiali o di pareri
                    scritti. Non è consentita la registrazione della Consulenza.
                    Il Cliente prende atto che il Consulente offre i propri
                    servizi anche ad altri Clienti non configurando il presente
                    contratto un rapporto di lavoro subordinato o in via
                    esclusiva. Il Cliente prende atto e riconosce che il
                    servizio di Consulenza non garantisce il raggiungimento dei
                    risultati o degli obiettivi che lui stesso si prefigge, ma
                    costituisce unicamente un servizio di valutazione e risposta
                    alle tematiche prospettate. Il Consulente, pertanto, non
                    potrà essere ritenuto in alcun modo responsabile per
                    l’eventuale mancato raggiungimento degli obiettivi che il
                    Cliente si era prefissato con il servizio di Consulenza o di
                    eventuali conseguenze, di qualsiasi natura e specie,
                    derivanti per il Cliente da eventuali decisioni sviluppate
                    nel corso della Consulenza dipendenti dal contesto
                    lavorativo del Cliente.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1">
                    <b
                      >ART 4 RINVIO, ANNULLAMENTO E PERIODO DI UTILIZZO DEL
                      SERVIZIO
                    </b>
                  </p>
                  <p class="p1">
                    Il Cliente ha possibilità di richiedere il rinvio della
                    Consulenza prenotata, entro le 24 ore precedenti, per un
                    numero massimo di due volte e nel termine di 2 (due) mesi
                    dall’acquisto. In mancanza, il Cliente prende atto e accetta
                    che non avrà diritto al rimborso di quanto versato per il
                    Servizio.
                  </p>
                  <p class="p1">
                    Il Cliente ha possibilità di annullare la Consulenza
                    prenotata, entro le 24 ore precedenti la stessa. In tal caso
                    il Consulente provvederà a rimborsare l’intera quota
                    corrisposta dal Cliente.
                  </p>
                  <p class="p1">
                    In caso di annullamento successivo alle 24 ore il Cliente
                    prende atto e accetta che non avrà diritto al rimborso di
                    quanto versato per il Servizio.
                  </p>
                  <p class="p1">
                    Il Cliente prende atto e accetta che la Consulenza potrà
                    essere usufruita entro il termine massimo di 2 (due) mesi
                    dall’acquisto. Pertanto, in caso di mancata o parziale
                    esecuzione della stessa entro il suddetto termine il
                    presente contratto si risolverà di diritto e il Consulente
                    tratterrà le somme ricevute dal Cliente.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1"><b>ART. 4 DURATA DEL SERVIZIO </b></p>
                  <p class="p2">
                    La durata del contratto in relazione alla Consulenza è pari
                    al tempo necessario all’esecuzione della stessa.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1"><b>ART. 5 PREZZI </b></p>
                  <p class="p1">
                    Il prezzo del Servizio è esposto nel Sito web in euro. Il
                    Consulente si riserva il diritto di modificare il prezzo, in
                    ogni momento, senza preavviso, fermo restando che il prezzo
                    addebitato all’Utente sarà quello indicato sul sito al
                    momento dell’effettuazione dell’ordine e che non si terrà
                    conto di eventuali variazioni (in aumento o in diminuzione)
                    successive alla trasmissione dello stesso.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1">
                    <b
                      >ART.<span class="Apple-converted-space">&nbsp; </span>6
                      MODALITÀ DI REGISTRAZIONE E ACQUISTO
                    </b>
                  </p>
                  <p class="p1">
                    Al fine di poter effettuare l’acquisto del Servizio,
                    l’Utente dovrà effettuare un’apposita registrazione,
                    attraverso cui inserire i propri dati personali richiesti.
                    L’Utente è responsabile della veridicità e correttezza degli
                    stessi. È fatto divieto di fornire false generalità e di
                    compiere qualsiasi condotta idonea a ingenerare confusione
                    in ordine alla identità personale dell’Utente. A titolo
                    esemplificativo, tale divieto comprende l’uso di generalità
                    non vera o altrui.
                  </p>
                  <p class="p1">
                    Al momento della registrazione e al momento dell’inserimento
                    dei dati l’Utente garantisce di:
                  </p>
                  <p class="p1">
                    – essere maggiorenne e capace giuridicamente;
                  </p>
                  <p class="p1">
                    – osservare tutte le norme di legge e contrattuali
                    applicabili ai presenti Termini e Condizioni;
                  </p>
                  <p class="p1">
                    – essere il legittimo titolare dei dati inseriti, da
                    intendersi veri, corretti ed aggiornati.
                  </p>
                  <p class="p1">
                    All’atto della registrazione verrà richiesto all’Utente di
                    conferire alcuni dati quali il nome e la e-mail.
                  </p>
                  <p class="p1">
                    L’indirizzo e-mail conferito in sede di registrazione
                    permette altresì al Consulente di notificare all’Utente
                    tutti i messaggi relativi ai Servizi e al Sito in generale.
                    È fatto divieto di utilizzare mail temporanee per la
                    registrazione.
                  </p>
                  <p class="p1">
                    Per l’acquisto dei Servizi l’Utente dovrà compilare il
                    modulo d’Ordine in formato elettronico, seguendo tutte le
                    istruzioni contenute nell’apposita pagina del Sito. Nel
                    modulo d’Ordine è contenuto un riepilogo delle principali
                    condizioni e la possibilità di richiedere fattura. L’Utente
                    potrà fissare la consulenza direttamente dal sito web
                    consultando il calendario con le disponibilità di giorno ed
                    orario. L’Utente dovrà, dopo aver preso visione dei Termini
                    e Condizioni con particolare riferimento alle modalità di
                    esercizio del diritto di recesso e alla Privacy Policy,
                    procedere all’invio del modulo d’Ordine.
                  </p>
                  <p class="p1">
                    I Termini e Condizioni applicabili sono quelli vigenti al
                    momento dell’Ordine e reperibili in questa pagina del Sito.
                    Il Contratto stipulato tra il Consulente e il Cliente deve
                    intendersi concluso con la conferma dell’acquisto da parte
                    del Consulente. L’accettazione dell’Ordine verrà comunicata
                    dal Consulente al Cliente mediante un’email, inviata
                    all’indirizzo di posta elettronica comunicato durante
                    l’effettuazione dell’Ordine. Il Consulente si riserva la
                    facoltà di valutare l’accettazione degli ordini ricevuti e
                    potrà rifiutare o comunque non dare corso ad ordini
                    d’acquisto che risultino incompleti o incorretti.<span
                      class="Apple-converted-space"
                      >&nbsp; </span
                    >Il Consulente comunicherà al Cliente l’eventuale
                    impossibilità di accettare gli ordini ricevuti nel minor
                    tempo possibile decorrenti dal momento in cui il Cliente ha
                    trasmesso l’Ordine e provvederà al rimborso delle somme
                    eventualmente già corrisposte dal Cliente per il pagamento
                    dei Servizi. Viene escluso ogni diritto del Cliente a un
                    risarcimento danni o indennizzo, nonché qualsiasi
                    responsabilità contrattuale o extracontrattuale per danni
                    diretti o indiretti a persone e/o cose, provocati dalla
                    mancata accettazione, anche parziale, di un Ordine da parte
                    del Consulente.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1"><b>ART. 7 MODALITÀ DI PAGAMENTO </b></p>
                  <p class="p1">
                    Il Cliente corrispondere il prezzo richiesto, secondo le
                    modalità previste nel Sito. Le modalità di pagamento
                    prevista sono<b> </b>PayPal e Stripe<b> </b>che consentono
                    di effettuare pagamenti con conto, carta ricaricabile o
                    carta di credito.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1"><b>ART.8 OBBLIGHI DEL CLIENTE </b></p>
                  <p class="p1">
                    Nel creare il proprio profilo e compilare il Form, il
                    Cliente che intenda iscriversi, si impegna a fornire i
                    propri dati personali in maniera corretta e veritiera e a
                    non caricare contenuti illeciti.
                  </p>
                  <p class="p1">
                    Il Cliente si impegna a conservare con la diligenza
                    richiesta le credenziali di autenticazione necessarie per
                    accedere alla propria area riservata.
                  </p>
                  <p class="p1">
                    Il Cliente si assume fin d’ora ogni responsabilità per
                    eventuali contenuti illeciti, contrari al buon costume, alla
                    morale e violativi di diritti altrui.
                  </p>
                  <p class="p1">
                    Tutti gli Utenti dovranno utilizzare il sito attenendosi
                    scrupolosamente ai presenti Termini e condizioni.
                  </p>
                  <p class="p1">
                    L’Utente si obbliga a non utilizzare il sito ed i relativi
                    servizi per scopi illegali o contrari ai presenti termini e
                    condizioni di utilizzo, o con modalità che potrebbero
                    danneggiarne la funzionalità, rendendolo inagibile,
                    provocare sovraccarico, deterioramenti e/o interferenze con
                    l’uso dello stesso da parte degli altri Utenti.
                  </p>
                  <p class="p1">
                    È vietato ogni comportamento da cui, anche per meri
                    tentativi, possano derivare accessi non autorizzati al sito,
                    al Servizio venduto dal Consulente, ad altri account, a
                    sistemi o reti connessi al medesimo tramite operazioni di
                    pirateria informatica, contraffazione della password o altri
                    mezzi.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1">
                    <b>ART. 9 PROPRIETÀ INTELLETTUALE E INDUSTRIALE</b>
                  </p>
                  <p class="p1">
                    Tutti i contenuti del Sito sono protetti e tutelati dalle
                    vigenti norme in materia di diritto d’autore e di proprietà
                    industriale e intellettuale. A titolo esemplificativo e non
                    esaustivo per contenuto del Sito debbono intendersi: il nome
                    a dominio, i relativi sotto domini, i marchi, tutti i testi,
                    qualunque rappresentazione grafica e/o di testo in genere,
                    fotografie, filmati. Tutti i diritti di proprietà
                    intellettuale e industriale a essi relativi sono di
                    proprietà esclusiva del Consulente, sono a esso riservati e
                    non sono né saranno trasferiti o concessi in licenza in
                    alcun caso al Cliente e/ Utente. Pertanto, l’Utente o il
                    Cliente non potrà riprodurre, duplicare, copiare e
                    ridistribuire, ritrasmettere anche su altri siti web,
                    trasferire o altrimenti rendere disponibili a terzi a
                    qualsivoglia titolo o comunque utilizzare per fini diversi
                    dalla conservazione e/o consultazione i Siti e/o i Contenuti
                    del Sito, senza la preventiva espressa e formale
                    approvazione da parte del Consulente. Tutto il materiale
                    predisposto dal Consulente resterà di esclusiva proprietà
                    dello stesso.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1"><b>ART. 10 RECESSO</b></p>
                  <p class="p1">
                    Il Cliente prende atto e accetta espressamente che, vista la
                    particolarità del servizio offerto su prenotazione con il
                    professionista, potrà esercitare il diritto di recesso fino
                    alle 24 ore precedenti la data fissata per la consulenza.
                    Dopo tale data non sarà più possibile esercitare tale
                    diritto con l’impossibilità di richiedere il rimborso della
                    somma versata.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1"><b>ART. 11 ESCLUSIONE DI RESPONSABILITÀ</b></p>
                  <p class="p1">
                    La responsabilità del Consulente è intesa nei limiti degli
                    obblighi assunti con i presenti Termini e Condizioni e della
                    somma corrisposta all’atto di acquisto;
                  </p>
                  <p class="p1">
                    Il Consulente non è responsabile del comportamento degli
                    Utenti e delle informazioni dagli stessi condivisi;<span
                      class="Apple-converted-space"
                      >&nbsp; &nbsp;</span
                    >
                  </p>
                  <p class="p1">
                    L’Utente garantisce che utilizzerà il sito web secondo le
                    condizioni e per i Servizi stabiliti e offerti dal
                    Consulente, escludendo ogni uso che si prefigga scopi
                    illegali o contrari a quanto previsto nei presenti Termini e
                    Condizioni di utilizzo e comunque con modalità che
                    potrebbero danneggiarlo, renderlo inagibile, sovraccaricarlo
                    o deteriorarlo o interferire con l’uso dello stesso da parte
                    degli altri Utenti;
                  </p>
                  <p class="p1">
                    Il Consulente non è responsabile dell’acquisto degli Utenti
                    nella misura consentita dalla legge applicabile;
                  </p>
                  <p class="p1">
                    Il Consulente non è responsabile verso gli Utenti o soggetti
                    direttamente o indirettamente a questi collegati per
                    ritardi, disservizi o sospensioni della piattaforma;
                  </p>
                  <p class="p1">
                    Il Consulente non è responsabile per l’incremento o il
                    mancato incremento di affari da parte dell’attività
                    dell’Utente, per mancati raggiungimenti dei risultati
                    desiderati a fronte di investimenti e costi sostenuti e per
                    qualsiasi danno derivante dai Servizi offerti;
                  </p>
                  <p class="p1">
                    il Consulente non sarà ritenuto responsabile per omissioni o
                    errori che possano essere contenuti nei materiali, né,
                    ancora, dell’eventuale violazione di diritti altrui e dei
                    danni, anche indiretti, consequenziali ad essa, o per altri
                    danni di qualsiasi tipo, anche risultanti da perdita del
                    diritto d’uso, perdita di informazioni o mancato guadagno
                    ovvero discendenti dall’inadempimento del contratto, da
                    negligenza o da altre azioni lesive, derivanti da o in
                    qualsiasi modo connessi all’utilizzo o alle informazioni
                    contenute nella piattaforma.
                  </p>
                  <p class="p1">
                    – Il Cliente si impegna a non trasmettere e non rendere
                    disponibile materiale illecito con esonero del Consulente da
                    ogni responsabilità al riguardo;
                  </p>
                  <p class="p1">
                    – il Cliente esonera il Consulente da ogni responsabilità
                    per la mancata o scorretta esecuzione nei tempi previsti del
                    servizio oggetto del presente contratto;
                  </p>
                  <p class="p1">
                    – Il Cliente prende atto che il Consulente non sarà ritenuto
                    responsabile per omissioni o errori che possano essere
                    contenuti in eventuali materiali dallo stesso forniti;
                  </p>
                  <p class="p1">
                    – il Cliente utilizza le informazioni acquisite durante la
                    Consulenza a proprio rischio, esonerando il Consulente nei
                    confronti di ogni parte per controversie legali/civili o
                    amministrative, danni indiretti, specifici, incidentali,
                    punitivi, cauzionali o consequenziali causati dall’utilizzo
                    o dall’impossibilità di utilizzare le informazioni oggetto
                    della Consulenza;
                  </p>
                  <p class="p1">
                    – le Parti accettano che in caso di qualsiasi tipo di
                    controversia inerente o derivante dal presente contratto per
                    la quale il Consulente sia ritenuto responsabile in
                    qualsiasi modo, la conseguente richiesta di risarcimento del
                    danno da parte del Cliente non potrà eccedere il valore del
                    presente contratto;
                  </p>
                  <p class="p1">
                    – le Parti si danno reciprocamente atto che, ove una o più
                    clausole contenute nel presente contratto dovessero essere
                    ritenute nulle, annullabili o comunque inefficaci, tale
                    nullità o inefficacia non determinerà l’invalidità integrale
                    dell’accordo medesimo e non si estenderà alle rimanenti
                    clausole. In tal caso, le disposizioni contenute nelle
                    clausole che dovessero essere ritenute nulle o comunque
                    inefficaci saranno considerate quale impegno assunto e
                    rilevante ai fini della buona fede contrattuale delle Parti;
                  </p>
                  <p class="p1">
                    – qualora una limitazione, esclusione, restrizione o altra
                    disposizione contenuta in questo contratto sia giudicata
                    nulla, annullabile o comunque inefficace per un qualsivoglia
                    motivo e il Consulente diventi responsabile, la conseguente
                    richiesta di risarcimento del danno da parte del Cliente,
                    non potrà eccedere il valore del presente contratto.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1">
                    <b>ART. 12 MANCATO ESERCIZIO DI UN DIRITTO</b>
                  </p>
                  <p class="p1">
                    Il mancato esercizio di un diritto da parte del Consulente
                    non rappresenta alcuna rinuncia ad agire nei confronti del
                    Cliente o nei confronti di terzi per la violazione di
                    impegni assunti. Il Consulente si riserva, pertanto, di far
                    valere i suoi diritti in ogni caso, nei termini concessi.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1">
                    <b>ART. 13 LEGGE APPLICABILE E FORO COMPETENTE</b>
                  </p>
                  <p class="p1">
                    I presenti Termini e Condizioni sono interamente
                    disciplinati dalla legge italiana. Qualsiasi controversia
                    che dovesse sorgere in relazione alla validità,
                    interpretazione, esecuzione e risoluzione tra i contratti
                    stipulati on line dal Cliente Consumatore con il Consulente
                    sarà di esclusiva competenza del Foro del giudice del luogo
                    di residenza del Consumatore (c.d. foro del consumatore).
                  </p>
                  <p class="p1">
                    In caso di Cliente Professionista la competenza territoriale
                    è esclusivamente quella del Foro di Verona.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1"><b>ART.14 FORZA MAGGIORE</b></p>
                  <p class="p1">
                    Il Consulente non potrà essere considerato responsabile per
                    il mancato o ritardato adempimento delle proprie
                    obbligazioni, per circostanze al di fuori del controllo
                    ragionevole del Consulente dovuti ad eventi di forza
                    maggiore o, comunque, ad eventi imprevisti ed imprevedibili
                    e, comunque, indipendenti dalla volontà. L’adempimento delle
                    obbligazioni da parte del Consulente si intenderà sospeso
                    per il periodo in cui si verificano eventi di forza maggiore
                    e in tal caso verrà sospesa l’esecuzione del Servizio. Tale
                    sospensione potrà durare per un periodo massimo di 2 (due)
                    mesi, dopo i quali riterrà l’Ordine automaticamente
                    annullato senza responsabilità del Consulente.
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1">
                    <b>ART. 15 TRATTAMENTO DEI DATI PERSONALI </b>
                  </p>
                  <p class="p2">
                    I Dati Personali forniti o acquisiti saranno oggetto di
                    Trattamento improntato ai principi di correttezza, liceità,
                    trasparenza e di tutela della riservatezza ai sensi delle
                    vigenti normative. Il Consulente, in qualità di Titolare del
                    Trattamento, tratta i Dati Personali degli Utenti adottando
                    le opportune misure di sicurezza volte ad impedire
                    l’accesso, la divulgazione, la modifica o la distruzione non
                    autorizzate dei Dati Personali. Il Trattamento viene
                    effettuato mediante strumenti informatici e/o telematici,
                    con modalità organizzative e con logiche strettamente
                    correlate alle finalità indicate. I Dati dell’Utente sono
                    raccolti per l’esecuzione di misure precontrattuali; per
                    adempiere agli obblighi derivanti dal contratto stipulato;
                    per la procedura di registrazione finalizzata all’acquisto
                    dei Servizi; per dar seguito alle specifiche richieste
                    rivolte al Titolare dall’Utente; per l’invio di informazioni
                    ed offerte promozionali e commerciali anche tramite il
                    servizio di newsletter in base al consenso liberamente
                    espresso dall’Utente; per finalità di softspam per
                    comunicazioni promozionali aventi come oggetto i Servizi
                    acquistati senza necessità del consenso espresso e
                    preventivo dell’Utente, come previsto dall’art. 130, 4
                    comma, Codice della Privacy così come novellato dal D.lgs
                    n.101 del 2018. Si invita pertanto il Cliente a leggere
                    attentamente l’informativa sul trattamento dei dati
                    personali <span class="s2"><b>(</b></span
                    ><span class="s3"><b>Privacy Policy</b></span
                    ><span class="s2"><b>)</b></span
                    ><b> </b>resa ai sensi del Regolamento UE 679/2016, nonché
                    sull’utilizzo dei cookie con il relativo consenso al
                    trattamento laddove richiesto
                    <span class="s3"><b>(Cookie Policy).</b></span>
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1">
                    <b>ART. 16 RISOLUZIONE DELLE CONTROVERSIE </b>
                  </p>
                  <p class="p2">
                    Secondo l’articolo 49 comma 1 lettera V del D. Lgs n.
                    206/2005 (Codice del Consumo) il Cliente Consumatore può
                    avvalersi della procedura di Conciliazione Paritetica (ADR).
                    Ai sensi dell’art. 14 del Regolamento 524/2013, in caso di
                    controversia, il Cliente Consumatore potrà presentare un
                    reclamo a mezzo della piattaforma ODR dell’Unione Europea.
                    Per maggiori informazioni contattare il Consulente.&nbsp;
                  </p>
                  <p>&nbsp;</p>
                  <p class="p1"><b>ART. 17 COMUNICAZIONI</b></p>
                  <p class="p1">
                    Per ulteriori informazioni di qualsiasi tipo è possibile
                    contattare il Consulente tramite e-mail al seguente
                    indirizzo: {{datiPersonali.contatti.email}}
                  </p>
                  <p class="p2">
                    Ai sensi degli art. 1341 e 1342 c.c., l’Utente dichiara di
                    aver letto attentamente e di accettare espressamente tutte
                    le clausole dei presenti Termini e Condizioni di vendita e
                    in particolare quelle degli articoli 4, 8, 9, 11, 13 e 14
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
</main>
