<div class="elementor elementor-3895">
  <app-intestazione-area-decorated [title]="'Area Riservata'"></app-intestazione-area-decorated>
  <section class="elementor-section elementor-top-section elementor-element elementor-element-area-riservata-content-main elementor-section-boxed elementor-section-height-default elementor-section-height-default">
    <div class="elementor-container elementor-column-gap-default">
      <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
        <div class="elementor-widget-wrap elementor-element-populated">
          <div class="elementor-element elementor-element-area-riservata-content-div e-my-account-tabs-vertical elementor-widget elementor-widget-woocommerce-my-account">
            <div class="elementor-widget-container">
              <div class="e-my-account-tab e-my-account-tab__dashboard">
                <!-- <span class="elementor-hidden">[woocommerce_my_account]</span> -->
                <div class="woocommerce">
                  <app-notices-block *ngIf="message" [idCustom]="idGeneralNoticesBlock" [title]="message.title" [message]="message.description" [status]="message.status"></app-notices-block>
                  <div class="u-columns col2-set" id="customer_login">
                    <div class="u-column1 col-1">
                      <h2>Accedi</h2>
                      <form #formAccedi [formGroup]="formSignin" class="woocommerce-form woocommerce-form-login login" style="min-height: 352px" method="post">
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                          <label for="signin_email">
                            Indirizzo email&nbsp;
                            <span class="required">*</span>
                          </label>
                          <app-input-with-validation id="signin_email" name="signin_email" type="email" placeholder="" [formRef]="formSignin" controlName="signin_email" [validation]=true [autocompleteName]="'username'" [showErrors]="showErrorSignin" style="display: contents;"></app-input-with-validation>
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                          <label for="signin_password">
                            Password&nbsp;
                            <span class="required">*</span>
                          </label>
                          <span class="password-input">
                            <app-input-with-validation id="signin_password" name="signin_password" type="password" placeholder="" [formRef]="formSignin" controlName="signin_password" [validation]=true [autocompleteName]="'current-password'" [showErrors]="showErrorSignin"></app-input-with-validation>
                          </span>
                        </p>
                        <p class="form-row" style="margin-top: 20px;">
                          <button
                            type="submit"
                            class="woocommerce-button button woocommerce-form-login__submit"
                            name="login"
                            value="Accedi"
                            (click)="signin()"
                          >
                            Accedi
                          </button>
                          
                          <!-- <label class="d-flex align-items-center woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                            <input
                              class="woocommerce-form__input woocommerce-form__input-checkbox"
                              name="rememberme"
                              type="checkbox"
                              id="rememberme"
                              value="forever"
                            />
                            <span class="ml-1 mt-1n">Ricordami</span>
                          </label> -->
                        </p>
                        <p class="woocommerce-LostPassword lost_password">
                          <a
                            routerLink="/recupera-password"
                            >Password dimenticata?</a
                          >
                        </p>
                        <p *ngIf="isMobile" class="woocommerce-LostPassword lost_password" style="margin-top: 10px;">
                          <span
                            class="not-yet-account"
                            (click)="scrollToRegistrationFormOnMobile()"
                            >Non hai un account? <u>REGISTRATI</u></span
                          >
                        </p>
                      </form>
                    </div>
                    <div class="u-column2 col-2">
                      <h2>Registrati</h2>
                      <form #formRegistrati [formGroup]="formSignup" method="post" class="woocommerce-form woocommerce-form-register register" style="min-height: 352px">
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                          <label for="signup_email">
                            Indirizzo email&nbsp;
                            <span class="required">*</span>
                          </label>
                          <app-input-with-validation id="signup_email" name="signup_email" type="email" placeholder="" [formRef]="formSignup" controlName="signup_email" [validation]=true [autocompleteName]="'email'" [showErrors]="showErrorSignup" style="display: contents;"></app-input-with-validation>
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                          <label for="signup_password">
                            Password&nbsp;
                            <span class="required">*</span>
                          </label>
                          <span class="password-input">
                            <app-input-with-validation id="signup_password" name="signup_password" type="password" placeholder="" [formRef]="formSignup" controlName="signup_password" [validation]=true [showErrors]="showErrorSignup"></app-input-with-validation>
                          </span>
                        </p>
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                          <label for="signup_retypePassword">
                            Conferma password&nbsp;
                            <span class="required">*</span>
                          </label>
                          <span class="password-input">
                            <app-input-with-validation id="signup_retypePassword" name="signup_retypePassword" type="password" placeholder="" [formRef]="formSignup" controlName="signup_retypePassword" [validation]=true [showErrors]="showErrorSignup"></app-input-with-validation>
                          </span>
                        </p>
                        <!-- <p>
                          Un link per impostare una nuova password verrà inviato
                          al tuo indirizzo email.
                        </p> -->
                        <div class="woocommerce-privacy-policy-text">
                          <p>
                            I tuoi dati personali verranno utilizzati unicamente per
                            supportare la tua esperienza su questo sito web, per
                            gestire l'accesso al tuo account e per altri scopi
                            descritti nella nostra
                            <a
                              routerLink="/privacy-policy"
                              class="woocommerce-privacy-policy-link"
                              target="_blank"
                              >privacy policy</a
                            >.
                          </p>
                        </div>
                        <p class="woocommerce-form-row form-row">
                          <button
                            type="submit"
                            class="woocommerce-Button woocommerce-button button woocommerce-form-register__submit"
                            name="register"
                            value="Registrati"
                            (click)="openModalEmailSent('email')"
                          >
                            Registrati
                          </button>
                        </p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
